[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitgaussian_unweighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Gaussian Plugin
Name[ca]=Fits - Connector Gaussià
Name[de]=Fits - Gauss-Modul
Name[fr]=Module de régression gaussienne
Name[pt]='Plugin' de Ajuste Gaussiano
Name[pt_BR]=Plugin de ajuste gaussiano
Name[sv]=Anpassning - Gaussiskt insticksprogram
Name[uk]=Додаток гаусового наближення
Name[x-test]=xxFits - Gaussian Pluginxx
Comment=Implements a Gaussian Fits Plugin for Kst.
Comment[ca]=Implementa un connector Fits Gaussià pel Kst.
Comment[de]=Implementiert ein Fits-Gauss-Modul für Kst.
Comment[fr]=Implémente un module de régression gaussienne pour Kst.
Comment[pt]=Implementa um 'plugin' de ajuste gaussiano para o Kst.
Comment[pt_BR]=Implementa um plugin de ajuste gaussiano para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för Gaussisk anpassning.
Comment[uk]=Реалізує додаток гаусового наближення у Kst.
Comment[x-test]=xxImplements a Gaussian Fits Plugin for Kst.xx
