[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitgaussian_unweighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Gaussian Plugin
Name[bs]=Dodatak Gaussovog uklapanja
Name[ca]=Fits - Connector Gaussià
Name[ca@valencia]=Fits - Connector Gaussià
Name[de]=Gauss-Anpassungs-Modul
Name[el]=Fits - Gaussian Πρόσθετο
Name[en_GB]=Fits - Gaussian Plugin
Name[es]=FITS - Complemento gaussiano
Name[fr]=Module de régression gaussienne
Name[gl]=Axustes - Complemento de Gauss
Name[it]=Estensione fits gaussiana
Name[nl]=Fits - Gaussian Plugin
Name[pl]=Wtyczka dopasowania Gaussa
Name[pt]='Plugin' de Ajuste Gaussiano
Name[pt_BR]=Plugin de ajuste gaussiano
Name[sv]=Anpassning - Gaussiskt insticksprogram
Name[uk]=Додаток гаусового наближення
Name[x-test]=xxFits - Gaussian Pluginxx
Comment=Implements a Gaussian Fits Plugin for Kst.
Comment[bs]=Implementira dodatak Gaussovog uklapanja za Kst.
Comment[ca]=Implementa un connector Fits Gaussià pel Kst.
Comment[ca@valencia]=Implementa un connector Fits Gaussià pel Kst.
Comment[de]=Implementiert ein Gauss-Anpassungs-Modul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο Gaussian Fits για το Kst.
Comment[en_GB]=Implements a Gaussian Fits Plugin for Kst.
Comment[es]=Implementa un complemento FITS gaussiano para Kst.
Comment[fr]=Implémente un module de régression gaussienne pour Kst.
Comment[gl]=Realiza un complemento de axuste de Gauss para Kst.
Comment[it]=Implementa un'estensione fits gaussiana per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor Gaussische aanpassing.
Comment[pl]=Implementuje wtyczkę obiektu danych dopasowania Gaussa dla Kst.
Comment[pt]=Implementa um 'plugin' de ajuste gaussiano para o Kst.
Comment[pt_BR]=Implementa um plugin de ajuste gaussiano para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för Gaussisk anpassning.
Comment[uk]=Реалізує додаток гаусового наближення у Kst.
Comment[x-test]=xxImplements a Gaussian Fits Plugin for Kst.xx
