[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitgaussian_unweighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Gaussian Plugin
Comment=Implements a Gaussian Fits Plugin for Kst.
