[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=planckIDEF
X-Kst-Plugin-Author=The University of Toronto
Name=Planck IDIS DMC Exchange Format Reader
Name[ca]=Lector de format d'intercanvi IDIS DMC de Planck
Name[de]=Planck-IDIS-DMC-Austauschformatleser
Name[fr]=Lecteur de format Planck IDIS DMC Exchange
Name[nl]=Lezer voor Planck IDIS DMC uitwisselingsformaat
Name[pt]=Leitor do Formato de Intercâmbio do IDIS DMC do Planck
Name[pt_BR]=Leitor do formato de intercâmbio do IDIS DMC do Planck
Name[sv]=Läsare av Planck IDIS DMC-utbytesformat
Name[uk]=Засіб читання даних у форматі обміну Planck IDIS DMC
Name[x-test]=xxPlanck IDIS DMC Exchange Format Readerxx

