[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=crossspectrum
X-Kst-Plugin-Author=The University of Toronto
Name=Cross Spectrum Data Object Plugin
Name[ca]=Connector d'objecte de dades d'espectre creuat
Name[ca@valencia]=Connector d'objecte de dades d'espectre creuat
Name[de]=Kreuzspektrum-Datenobjekt-Modul
Name[fr]=Module DataObject de spectre croisé
Name[it]=Estensione oggetto dati spettro incrociato
Name[nl]=Cross Spectrum Data Object Plugin
Name[pl]=Wtyczka obiektu danych widma krzyżowego
Name[pt]='Plugin' de Objectos de Dados de Espectro Cruzado
Name[pt_BR]=Plugin de objeto de dados de espectro cruzado
Name[sv]=Dataobjekt-insticksprogram för korsspektrum
Name[uk]=Додаток для роботи з об’єктами перехресного спектра даних
Name[x-test]=xxCross Spectrum Data Object Pluginxx
Comment=Implements a Cross Spectrum Data Object Plugin for Kst.
Comment[ca]=Implementa un connector d'objecte de dades d'espectre creuat pel Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades d'espectre creuat pel Kst.
Comment[de]=Implementiert ein Kreuzspektrum-Datenobjekt-Modul für Kst.
Comment[fr]=Implémente un module DataObject de spectre croisé pour Kst.
Comment[it]=Implementa un'estensione oggetto dati spettro incrociato per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor een kruisspectrum.
Comment[pl]=Implementuje wtyczkę obiektu danych widma krzyżowego dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de espectro cruzado para o Kst.
Comment[pt_BR]=Implementa um plugin de objetos de dados de espectro cruzado para o Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för korsspektrum.
Comment[uk]=Реалізує додаток для роботи з об’єктами перехресного спектра даних у Kst.
Comment[x-test]=xxImplements a Cross Spectrum Data Object Plugin for Kst.xx
