[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=filterflag
X-Kst-Plugin-Author=The University of Toronto
Name=Filter - Flag Plugin
Name[ca]=Filtre - Connector de marques
Name[ca@valencia]=Filtre - Connector de marques
Name[en_GB]=Filter - Flag Plugin
Name[es]=Filtro - Complemento de marcado
Name[gl]=Filtro - Complemento de marcar
Name[it]=Estensione filtro contrassegno
Name[nl]=Filter - Vlag-plug-in
Name[pl]=Filtr - wtyczka Flag
Name[pt]='Plugin' de Filtro de Marcas
Name[pt_BR]=Plugin de Filtro de Marcas
Name[sv]=Filter - flagginsticksprogram
Name[uk]=Додаток фільтрування з прапорцями
Name[x-test]=xxFilter - Flag Pluginxx
Comment=Implements a Flag Filter Plugin for Kst.
Comment[ca]=Implementa un connector de filtre de marques pel Kst.
Comment[ca@valencia]=Implementa un connector de filtre de marques pel Kst.
Comment[en_GB]=Implements a Flag Filter Plugin for Kst.
Comment[es]=Implementa un complemento de filtro de marcado para Kst.
Comment[gl]=Realiza un complemento de filtro de marcar os máximos para Kst.
Comment[it]=Implementa un'estensione filtro contrassegni per Kst.
Comment[nl]=Implementeert een vlag-filter-plug-in voor Kst.
Comment[pl]=Implementuje wtyczkę filtra flag dla Kst.
Comment[pt]=Implementa um 'plugin' de filtros de marcas para o Kst.
Comment[pt_BR]=Implementa um plugin de filtros de marcas para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för flaggfilter
Comment[uk]=Реалізує додаток для фільтрування прапорців у Kst.
Comment[x-test]=xxImplements a Flag Filter Plugin for Kst.xx
