[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=convolve
X-Kst-Plugin-Author=The University of Toronto
Name=Convolve Data Object Plugin
Name[bs]=Convolve dodatak objekta podatka
Name[ca]=Connector d'objecte de dades de convolució
Name[ca@valencia]=Connector d'objecte de dades de convolució
Name[de]=Konvolutions-Datenobjekt-Modul
Name[el]=Πρόσθετο αντικειμένων convolve δεδομένων
Name[en_GB]=Convolve Data Object Plugin
Name[es]=Complemento de objeto de datos de convolución
Name[fr]=Module DataObject de convolution
Name[gl]=Complemento de obxecto de datos de convolución
Name[it]=Estensione oggetto dati di convoluzione
Name[nl]=Convolve Data Object Plugin
Name[pl]=Wtyczka obiektu danych splotu
Name[pt]='Plugin' de Objectos de Dados de Convolução
Name[pt_BR]=Plugin de objetos de dados de convolução
Name[sv]=Dataobjekt-insticksprogram för faltning
Name[uk]=Додаток для роботи з об’єктами згорнутих даних
Name[x-test]=xxConvolve Data Object Pluginxx
Comment=Implements a Convolve Data Object Plugin for Kst.
Comment[bs]=Implementira Convolve dodatak objekta podatka za Kst.
Comment[ca]=Implementa un connector d'objecte de dades de convolució pel Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades de convolució pel Kst.
Comment[de]=Implementiert ein Konvolutions-Datenobjekt-Modul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο για αντικείμενα δεδομένων συνέλιξης για το Kst.
Comment[en_GB]=Implements a Convolve Data Object Plugin for Kst.
Comment[es]=Implementa un complemento de objeto de datos de convolución para Kst.
Comment[fr]=Implémente un module DataObject de convolution pour Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de convolución para Kst.
Comment[it]=Implementa un'estensione oggetto dati di convoluzione per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor convolutie.
Comment[pl]=Implementuje wtyczkę obiektu danych splotu dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de convolução para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de convolação para o Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för faltning.
Comment[uk]=Реалізує додаток для роботи з об’єктами згорнутих даних у Kst.
Comment[x-test]=xxImplements a Convolve Data Object Plugin for Kst.xx
