[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=convolve
X-Kst-Plugin-Author=The University of Toronto
Name=Convolve Data Object Plugin
Comment=Implements a Convolve Data Object Plugin for Kst.
