[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=convolve
X-Kst-Plugin-Author=The University of Toronto
Name=Convolve Data Object Plugin
Name[uk]=Додаток для роботи з об’єктами згорнутих даних
Name[x-test]=xxConvolve Data Object Pluginxx
Comment=Implements a Convolve Data Object Plugin for Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами згорнутих даних у Kst.
Comment[x-test]=xxImplements a Convolve Data Object Plugin for Kst.xx
