[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=autocorrelation
X-Kst-Plugin-Author=The University of Toronto
Name=Bin Data Object Plugin
Name[uk]=Додаток для роботи з об’єктами двійкових даних
Name[x-test]=xxBin Data Object Pluginxx
Comment=Implements a Auto Correlation Data Object Plugin for Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами автокореляції даних у Kst.
Comment[x-test]=xxImplements a Auto Correlation Data Object Plugin for Kst.xx
