[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=autocorrelation
X-Kst-Plugin-Author=The University of Toronto
Name=Bin Data Object Plugin
Comment=Implements a Auto Correlation Data Object Plugin for Kst.
