[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=autocorrelation
X-Kst-Plugin-Author=The University of Toronto
Name=Bin Data Object Plugin
Name[bs]=Dodatak Bin objekta podatka
Name[ca]=Connector d'objecte de dades classificades
Name[ca@valencia]=Connector d'objecte de dades classificades
Name[de]=Binär-Datenobjekt-Modul
Name[el]=Πρόσθετο αντικειμένων δυαδικών δεδομένων
Name[en_GB]=Bin Data Object Plugin
Name[es]=Complemento de objeto de datos binarios
Name[fr]=Module DataObject de classement (Bin)
Name[gl]=Complemento de obxecto de datos de contedor
Name[it]=Estensione oggetto dati di collocazione
Name[nl]=Bin Data Object Plugin
Name[pl]=Wtyczka obiektu danych przedziału
Name[pt]='Plugin' de Objecto de Dados Compartimentados
Name[pt_BR]=Plugin de objeto de dados compartimentados
Name[sv]=Intervalldataobjekt-insticksprogram
Name[uk]=Додаток для об’єктів комбінування даних
Name[x-test]=xxBin Data Object Pluginxx
Comment=Implements a Auto Correlation Data Object Plugin for Kst.
Comment[bs]=Implementira dodatak za auto korelaciju obejkta podatka za Kst.
Comment[ca]=Implementa un connector d'objecte de dades d'autocorrelació pel Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades d'autocorrelació pel Kst.
Comment[de]=Implementiert ein Autokorrelations-Datenobjekt-Modul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο για αντικείμενα δεδομένων αυτοσυσχέτισης για το Kst.
Comment[en_GB]=Implements a Auto Correlation Data Object Plugin for Kst.
Comment[es]=Implementa un complemento de objeto de datos de autocorrelación para Kst.
Comment[fr]=Implémente un module DataObject d'auto-corrélation pour Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de correlación automática para Kst.
Comment[it]=Implementa un'estensione oggetto dati di auto correlazione per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor autocorrelatie.
Comment[pl]=Implementuje wtyczkę obiektu danych korelacji wzajemnej dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de correlação automática para o Kst.
Comment[pt_BR]=Implementa um plugin de objetos de dados de correlação automática para o Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för autokorrelation.
Comment[uk]=Реалізує додаток для роботи з об’єктами автокореляції даних у Kst.
Comment[x-test]=xxImplements a Auto Correlation Data Object Plugin for Kst.xx
