[Desktop Entry]
Encoding=UTF-8
Name=MyCustomQObject
Name[et]=MinuEndaQObjekt
Name[hi]=माइ-कस्टम-क्यू-ऑब्जैक्ट
Name[hr]=MojVlastitiQObjekt
Name[it]=MioOggettoQPersonalizzato
Name[nl]=MijnEigenQObject
Name[pt_BR]=MeuObjetoQ
Name[sv]=Mitt eget Qobject
Name[tg]=ОбъектиОддииМан-Q
Name[vi]=Đối tượng Q riêng tôi
Name[xx]=xxMyCustomQObjectxx
ServiceTypes=JSBindingPlugin/Binding
Type=Service
X-KDE-Library=libcustomqobjectplugin
