[Desktop Entry]
Encoding=UTF-8
Name=ImageFX
Name[gl]=ImaxeFX
Name[hi]=इमेज-एफ़एक्स
Name[hr]=Efekti
Name[it]=Effetti Immagini
Name[sv]=Bildeffekt
Name[tg]=ТасвириFX
Name[xx]=xxImageFXxx
ServiceTypes=JSBindingPlugin/Binding
Type=Service
X-KDE-Library=libimagefxplugin
