[Desktop Entry]
Encoding=UTF-8
Name=Process
Name[br]=Argerzh
Name[ca]=Proces
Name[cs]=Proces
Name[cy]=Proses
Name[da]=Proces
Name[el]=Διεργασία
Name[es]=Proceso
Name[et]=Protsess
Name[ga]=Próiseas
Name[gl]=Proceso
Name[hi]=प्रक्रिया
Name[hr]=Postupak
Name[it]=Processo
Name[ja]=プロセス
Name[nl]=Proces
Name[pa]=ਕਾਰਜ
Name[pt]=Processo
Name[pt_BR]=Processo
Name[sr]=Процес
Name[sr@Latn]=Proces
Name[ta]=செயல்பாடு
Name[tg]=Пардозиш
Name[tr]=İşlem
Name[vi]=Xử lý
Name[xx]=xxProcessxx
ServiceTypes=JSBindingPlugin/Binding
Type=Service
X-KDE-Library=libqprocessplugin
