[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=RaNA Extension
Name[ca]=Extensió RaNA
Name[cs]=RaNA rozšíření
Name[da]=RaNA-Udvidelse
Name[de]=RaNA-Erweiterung
Name[el]=Επέκταση RaNA
Name[es]=Extensión RaNA
Name[et]=RaNA laiend
Name[ga]=Eisínteacht RaNA
Name[gl]=Extensión RaNA
Name[hr]=RaNA ekstenzije
Name[is]=RaNA viðbót
Name[it]=Estensione RaNA
Name[ja]=RaNA エクステンション
Name[ka]=RaNA-ის გაფართოება
Name[nl]=RaNA-extensie
Name[pa]=RaNA ਸਹਿਯੋਗੀ
Name[pt]=Extensão RaNA
Name[pt_BR]=Extensão RaNA
Name[ru]=Расширение RaNA
Name[sr]=RaNA проширење
Name[sr@Latn]=RaNA proširenje
Name[sv]=RaNA-utökning
Name[tg]=Пасванди RaNA
Name[tr]=RaNA Genişletmesi
Name[vi]=Phần mở rộng RaNA
Name[xx]=xxRaNA Extensionxx
Type=Service
ServiceTypes=Kst Extension
X-KDE-ModuleType=Plugin
X-KDE-Library=kstextension_rana
X-Kst-Plugin-Author=The University of British Columbia
Comment=RaNA extension for Kst.
Comment[ca]=Extensió RaNA pel Kst.
Comment[cs]=RaNA rozšíření pro Kst.
Comment[da]=RaNAudvidelse for Kst.
Comment[de]=RaNA-Erweiterung für Kst
Comment[el]=Επέκταση RaNA για το Kst.
Comment[es]=Extensión RaNA para Kst.
Comment[et]=Kst RaNA laiend.
Comment[ga]=Eisínteacht RaNA le haghaidh Kst.
Comment[gl]=Extensión de RaNA para Kst.
Comment[hr]=RaNA ekstenzije za Kst.
Comment[is]=RaNA viðbót fyrir Kst.
Comment[it]=Estensione RaNA per Kst.
Comment[ja]=Kst のための RaNA エクステンション
Comment[ka]=RaNA-ის გაფართოება Kst-თვის.
Comment[nl]=RaNA-extensie voor Kst.
Comment[pt]=Extensão de RaNA para o Kst.
Comment[pt_BR]=Extensão RaNA para o Kst.
Comment[ru]=Расширение RaNA для Kst.
Comment[sr]=RaNA проширење за Kst.
Comment[sr@Latn]=RaNA proširenje za Kst.
Comment[sv]=RaNA-utökning för Kst.
Comment[ta]=Kstக்கான RaNA  விரிவாக்கம்
Comment[tg]=Пасванди RaNA барои Kst.
Comment[tr]=Kst için RaNA genişletmesi.
Comment[vi]=Phần mở rộng RaNA cho Kst.
Comment[xx]=xxRaNA extension for Kst.xx
