[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=exponential
X-Kst-Plugin-Author=williamledda
Name=Exponential Filter Data Object Plugin
Name[ca]=Connector d'objecte de dades de filtre exponencial
Name[ca@valencia]=Connector d'objecte de dades de filtre exponencial
Name[en_GB]=Exponential Filter Data Object Plugin
Name[eo]=Kromprogramo por Eksponenciala Filtrila Datum-Objekto
Name[es]=Complemento de objeto de datos de filtrado exponencial
Name[fr]=Module externe de filtre exponentiel pour un objet de données
Name[gl]=Complemento de obxecto de datos de filtro exponencial
Name[it]=Estensione oggetto dati filtro esponenziale
Name[nl]=Exponential filter van plug-in voor gegevensobject
Name[pl]=Wtyczka obiektu danych filtra wykładniczego
Name[sl]=Vtičnik za eksponentni filter podatkovnega predmeta
Name[sv]=Dataobjekt-insticksprogram för exponentiellt filter
Name[tr]=Üstel Süzgeç Veri Nesnesi Eklentisi
Name[uk]=Додаток для роботи з об’єктами експоненційного фільтрування даних
Name[x-test]=xxExponential Filter Data Object Pluginxx
Comment=Implements a Exponential Filter Data Object Plugin for Kst.
Comment[ca]=Implementa un connector d'objecte de dades de filtre exponencial per al Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades de filtre exponencial per a Kst.
Comment[en_GB]=Implements a Exponential Filter Data Object Plugin for Kst.
Comment[eo]=Realigas Kromprogramon por Eksponenciala Filtrila Datum-Objekto por Kst.
Comment[es]=Implementa un complemento de objeto de datos de filtrado exponencial para Kst.
Comment[fr]=Implémente un module externe de filtre exponentiel pour un objet de données de Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de filtro exponencial para Kst.
Comment[it]=Implementa un'estensione oggetto dati filtro esponenziale per Kst.
Comment[nl]=Implementeert een exponentiële plug-in voor een gegevensobject in Kst voor filteren.
Comment[pl]=Implementuje wtyczkę obiektu danych filtra wykładniczego dla Kst.
Comment[sl]=Implementira vtičnik za eksponentni filter podatkovnega predmeta za Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för exponentiellt filter.
Comment[tr]=Kst için bir Üstel Süzgeç Veri Nesnesi Eklentisi uygular.
Comment[uk]=Реалізує додаток для роботи з об’єктами експоненційного фільтрування даних у Kst.
Comment[x-test]=xxImplements a Exponential Filter Data Object Plugin for Kst.xx
