[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=exponential
X-Kst-Plugin-Author=williamledda
Name=Exponential Filter Data Object Plugin
Comment=Implements a Exponential Filter Data Object Plugin for Kst.
