[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=exponential
X-Kst-Plugin-Author=williamledda
Name=Exponential Filter Data Object Plugin
Name[ca]=Connector d'objecte de dades de filtre exponencial
Name[ca@valencia]=Connector d'objecte de dades de filtre exponencial
Name[es]=Complemento de objeto de datos de filtrado exponencial
Name[nl]=Exponential filter van plug-in voor gegevensobject
Name[sl]=Vtičnik za eksponentni filter podatkovnega predmeta
Name[tr]=Üstel Süzgeç Veri Nesnesi Eklentisi
Name[uk]=Додаток для роботи з об’єктами експоненційного фільтрування даних
Name[x-test]=xxExponential Filter Data Object Pluginxx
Comment=Implements a Exponential Filter Data Object Plugin for Kst.
Comment[ca]=Implementa un connector d'objecte de dades de filtre exponencial per al Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades de filtre exponencial per a Kst.
Comment[es]=Implementa un complemento de objeto de datos de filtrado exponencial para Kst.
Comment[nl]=Implementeert een exponentiële plug-in voor een gegevensobject in Kst voor filteren.
Comment[sl]=Implementira vtičnik za eksponentni filter podatkovnega predmeta za Kst.
Comment[tr]=Kst için bir Üstel Süzgeç Veri Nesnesi Eklentisi uygular.
Comment[uk]=Реалізує додаток для роботи з об’єктами експоненційного фільтрування даних у Kst.
Comment[x-test]=xxImplements a Exponential Filter Data Object Plugin for Kst.xx
