[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=cspline
X-Kst-Plugin-Author=The University of Toronto
Name=CSpline Interpolation Data Object Plugin
Name[pt]='Plugin' de Objectos de Dados de Interpolação em Curva
Name[uk]=Додаток об’єкта даних інтерполяції за C-сплайнами
Name[x-test]=xxCSpline Interpolation Data Object Pluginxx
Comment=Implements a CSpline Interpolation Data Object Plugin for Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados com a interpolação periódica sobre uma curva ('c-spline') para o Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами інтерполяції даних C-сплайнами у Kst.
Comment[x-test]=xxImplements a CSpline Interpolation Data Object Plugin for Kst.xx
