[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=cspline
X-Kst-Plugin-Author=The University of Toronto
Name=CSpline Interpolation Data Object Plugin
Comment=Implements a CSpline Interpolation Data Object Plugin for Kst.
