[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_syncbin
X-Kst-Plugin-Author=Barth Netterfield
Name=Syncbin
Name[ca]=Caixes síncrones
Name[da]=Synkrone områder
Name[de]=SyncBehälter
Name[el]=Σύγχρονο δοχείο
Name[et]=Sünkrolahter
Name[it]=Barra sincronizzata
Name[nl]=Syncklasse
Name[pt]=Cestos síncronos
Name[sv]=Synkrona områden
Comment=Synchronously coadd vector Y into bins defined by vector X.  Like a 1D map.
Comment[ca]=Co-afegeix síncronament un vector Y dins de caixes definides pel vector X. Com un mapa 1D.
Comment[da]=Læg vektoren Y sammen synkront i områder definerede af vektoren X. Som en endimensional afbilning.
Comment[de]=Addiert den Vektor Y synchron in Behälter die durch den Vector X definiert sind.  Wie ein eindimensionale Abbildung.
Comment[el]=Σύγχρονη συνάθροιση του διανύσματος Y σε δοχεία που ορίζονται από το διάνυσμα X.  Παρόμοια με μια αντιστοίχηση 1D.
Comment[es]=Añadir el vector Y de forma síncrona en los contenedores definidos por el vector X.  Como un mapa 1D.
Comment[et]=Lisab sünkrooniliselt vektori Y lahtritesse, mida määrab vektor X. Umbes nagu ühemõõtmeline kaart.
Comment[it]=Co-aggiunge contemporaneamente il vettore Y in barre definite dal vettore X. Come una mappa monodimensionale.
Comment[nl]=Telt vector Y synchroon samen op in klassen die door vector X zijn gedefinieerd. Zoals een 1D-afbeelding.
Comment[pt]=Co-adiciona de forma sincronizada o vector Y em cestos definidos pelo vector X. Como acontece num mapa 1D.
Comment[pt_BR]=De forma síncrona, co-adiciona o vetor Y em containers definidos pelo vetor X. Como um mapa em 1D.
Comment[sv]=Addera samman vektorn Y synkront i områden definierade av vektorn X. Som en endimensionell avbildning.
Comment[vi]=Đồng thêm véc-tơ Y vào các thùng được xác định bằng véc-tơ X. Giống như sơ đồ một chiều.
