[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=shift
X-Kst-Plugin-Author=The University of Toronto
Name=Shift Data Object Plugin
Name[ca]=Connector d'objecte de dades de decalatge
Name[de]=Verschiebungs-Datenobjekt-Modul
Name[fr]=Module DataObject de modulation
Name[it]=Estensione oggetto dati di spostamento
Name[nl]=Plug-in voor object met shift-gegevens
Name[pl]=Wtyczka obiektu danych przesunięcia
Name[pt]='Plugin' de Objectos de Dados de Deslocamento
Name[pt_BR]=Plugin de objeto de dados de deslocamento
Name[sv]=Skiftdataobjekt-insticksprogram
Name[uk]=Додаток для роботи з об’єктами даних щодо зсуву фази
Name[x-test]=xxShift Data Object Pluginxx
Comment=Implements a Shift Data Object Plugin for Kst.
Comment[ca]=Implementa un connector d'objecte de dades de decalatge pel Kst.
Comment[de]=Implementiert ein Verschiebungs-Datenobjekt-Modul für Kst.
Comment[fr]=Implémente un module DataObject de modulation pour Kst.
Comment[it]=Implementa un'estensione oggetto dati di spostamento per Kst.
Comment[nl]=Implementeert een plug-in voor object met shift-gegevens voor Kst.
Comment[pl]=Implementuje wtyczkę obiektu danych przesunięcia dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de deslocamento para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de deslocamento para o Kst.
Comment[sv]=Implementerar ett Kst skiftdataobjekt-insticksprogram.
Comment[uk]=Реалізує додаток для роботи з об’єктами даних щодо зсуву фази у Kst.
Comment[x-test]=xxImplements a Shift Data Object Plugin for Kst.xx
