[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=shift
X-Kst-Plugin-Author=The University of Toronto
Name=Shift Data Object Plugin
Name[bs]=Dodatak pomjeranja objekta podatka
Name[ca]=Connector d'objecte de dades de decalatge
Name[ca@valencia]=Connector d'objecte de dades de decalatge
Name[de]=Verschiebungs-Datenobjekt-Modul
Name[el]=Πρόσθετο αντικειμένων δεδομένων μετατόπισης
Name[en_GB]=Shift Data Object Plugin
Name[es]=Complemento de objeto de datos de desplazamiento
Name[fr]=Module DataObject de modulation
Name[gl]=Complemento de obxecto de datos de movemento
Name[it]=Estensione oggetto dati di spostamento
Name[nl]=Shift Data Object Plugin
Name[pl]=Wtyczka obiektu danych przesunięcia
Name[pt]='Plugin' de Objectos de Dados de Deslocamento
Name[pt_BR]=Plugin de objeto de dados de deslocamento
Name[sv]=Skiftdataobjekt-insticksprogram
Name[uk]=Додаток для роботи з об’єктами даних щодо зсуву фази
Name[x-test]=xxShift Data Object Pluginxx
Comment=Implements a Shift Data Object Plugin for Kst.
Comment[bs]=Implementira dodatak pomjeranja objekta podatka za Kst.
Comment[ca]=Implementa un connector d'objecte de dades de decalatge pel Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades de decalatge pel Kst.
Comment[de]=Implementiert ein Verschiebungs-Datenobjekt-Modul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο για αντικείμενα δεδομένων μετατόπισης για το Kst.
Comment[en_GB]=Implements a Shift Data Object Plugin for Kst.
Comment[es]=Implementa un complemento de objeto de datos de desplazamiento para Kst.
Comment[fr]=Implémente un module DataObject de modulation pour Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de movemento para Kst.
Comment[it]=Implementa un'estensione oggetto dati di spostamento per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor shift (verschuiven)
Comment[pl]=Implementuje wtyczkę obiektu danych przesunięcia dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de deslocamento para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de deslocamento para o Kst.
Comment[sv]=Implementerar ett Kst skiftdataobjekt-insticksprogram.
Comment[uk]=Реалізує додаток для роботи з об’єктами даних щодо зсуву фази у Kst.
Comment[x-test]=xxImplements a Shift Data Object Plugin for Kst.xx
