.svn
*.user
*.dm
dm
dm.lnk
*.swp
_build
*.pyc
build
tmp*
po
po_all
*~
# Debian build artefacts
debian/.debhelper/
debian/*.debhelper.log
debian/*.substvars
debian/files
debian/kst/
debian/kst-doc/
debian/debhelper-build-stamp

# Build directories
obj-*/
obj-*/
build/
build-*/
cmake-build-*/
*.o

# Generated headers
*kst*_export.h
