[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=filterdespike
X-Kst-Plugin-Author=The University of Toronto
Name=Filter - Despike Plugin
Name[bs]=Filter - Despike dodatak
Name[ca]=Filtre - Connector d'eliminació de pics
Name[ca@valencia]=Filtre - Connector d'eliminació de pics
Name[de]=Filter - Modul zur Entfernung von Messspitzen
Name[el]=Πρόσθετο φίλτρου αφαίρεσης αιχμών
Name[en_GB]=Filter - Despike Plugin
Name[es]=Complemento de filtro de eliminación de picos
Name[fr]=Module de filtre de suppression de pic
Name[gl]=Filtro - Complemento de reducir os máximos
Name[it]=Estensione filtro rimuovi picco
Name[nl]=Filter - Despike Plugin
Name[pl]=Wtyczka filtra odimpulsowienia
Name[pt]='Plugin' de Filtro de Eliminação de Picos
Name[pt_BR]=Plugin de filtro de eliminação de picos
Name[sv]=Filter - Insticksprogram för toppborttagning
Name[uk]=Додаток фільтрування з метою усування піків
Name[x-test]=xxFilter - Despike Pluginxx
Comment=Implements a Despike Filter Plugin for Kst.
Comment[bs]=Implementira Filter - Despike dodatak za Kst.
Comment[ca]=Implementa un connector de filtre d'eliminació de pics pel Kst.
Comment[ca@valencia]=Implementa un connector de filtre d'eliminació de pics pel Kst.
Comment[de]=Implementiert ein Filtermodul zur Entfernung von Messspitzen für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο αφαίρεσης αιχμών για το Kst.
Comment[en_GB]=Implements a Despike Filter Plugin for Kst.
Comment[es]=Implementa un complemento de filtro de eliminación de picos para Kst
Comment[fr]=Implémente un module de filtre de suppression de pic pour Kst.
Comment[gl]=Realiza un complemento de filtro de reducir os máximos para Kst.
Comment[it]=Implementa un'estensione del filtro rimuovi picco
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor weghalen van spikes (uitschieters).
Comment[pl]=Implementuje wtyczkę obiektu danych filtra odimpulsowienia dla Kst.
Comment[pt]=Implementa um 'plugin' de filtro de eliminação de picos para o Kst.
Comment[pt_BR]=Implementa um plugin de filtro de eliminação de pico para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för toppborttagningsfilter.
Comment[uk]=Реалізує додаток для фільтрування з метою усування піків у Kst.
Comment[x-test]=xxImplements a Despike Filter Plugin for Kst.xx
