[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=filterdespike
X-Kst-Plugin-Author=The University of Toronto
Name=Filter - Despike Plugin
Name[uk]=Додаток фільтрування з метою усування піків
Name[x-test]=xxFilter - Despike Pluginxx
Comment=Implements a Despike Filter Plugin for Kst.
Comment[uk]=Реалізує додаток для фільтрування з метою усування піків у Kst.
Comment[x-test]=xxImplements a Despike Filter Plugin for Kst.xx
