[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitgaussian_weighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Gradient Gaussian Plugin
Name[bs]=Dodatak Gaussovog prelaznog uklapanja
Name[ca]=Fits - Connector Gaussià en gradient
Name[ca@valencia]=Fits - Connector Gaussià en gradient
Name[de]=Verlauf-Gauss-Anpassungs-Modul
Name[el]=Fits - Gradient Gaussian Πρόσθετο
Name[en_GB]=Fits - Gradient Gaussian Plugin
Name[eo]=Fits - Gradienta Gaŭsa Kromaĵo
Name[es]=FITS - Complemento gaussiano de gradiente
Name[fr]=Module externe pour régression gaussienne à gradient
Name[gl]=Axustes - Complemento de Gauss de gradación
Name[it]=Estensione fits gradiente gaussiano
Name[nl]=Fits - Gradient Gaussian Plugin
Name[pl]=Wtyczka dopasowania gradientowego Gaussa
Name[pt]='Plugin' de Ajuste Gaussiano em Gradiente
Name[pt_BR]=Plugin de ajuste gaussiano em gradiente
Name[sl]=Gaussov vtičnik preliva Fits
Name[sv]=Anpassning - Gaussiskt gradientinsticksprogram
Name[tr]=Fits - Gradyan Gaus Eklentisi
Name[uk]=Додаток градієнтно-гаусового наближення
Name[x-test]=xxFits - Gradient Gaussian Pluginxx
Comment=Implements a Gradient Gaussian Fits Plugin for Kst.
Comment[bs]=Implementira dodatak Gaussovog prelaznog uklapanja za Kst.
Comment[ca]=Implementa un connector Fits Gaussià en gradient per al Kst.
Comment[ca@valencia]=Implementa un connector Fits Gaussià en gradient per a Kst.
Comment[de]=Implementiert ein Anpassungs-Modul für Gauss-Verlauf für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο Gradient Gaussian Fits για το Kst.
Comment[en_GB]=Implements a Gradient Gaussian Fits Plugin for Kst.
Comment[eo]=Realigas Gradient Gaussian Fits Plugin por Kst.
Comment[es]=Implementa un complemento FITS gaussiano de gradiente para Kst.
Comment[fr]=Implémente un module externe pour régression gaussienne à gradient dans Kst.
Comment[gl]=Realiza un complemento de axuste de Gauss de gradación para Kst.
Comment[it]=Implementa un'estensione fits gradiente gaussiano per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor helling Gaussische aanpassing.
Comment[pl]=Implementuje wtyczkę obiektu danych dopasowania gradientowego Gaussa dla Kst.
Comment[pt]=Implementa um 'plugin' de ajuste gaussiano em gradiente para o Kst.
Comment[pt_BR]=Implementa um plugin de ajuste gaussiano em gradiente para o Kst.
Comment[sl]=Implementira Gaussov vtičnik preliva Fits za Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för Gaussisk gradientanpassning.
Comment[tr]=Kst için bir Gradyan Gaus Fits Eklentisi uygular.
Comment[uk]=Реалізує додаток градієнтно-гаусового наближення у Kst.
Comment[x-test]=xxImplements a Gradient Gaussian Fits Plugin for Kst.xx
