[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitlinear_unweighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Linear Plugin
Comment=Implements a Linear Fits Plugin for Kst.
