[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitlinear_unweighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Linear Plugin
Name[pt]='Plugin' de Ajuste Linear
Name[uk]=Наближення: лінійний додаток
Name[x-test]=xxFits - Linear Pluginxx
Comment=Implements a Linear Fits Plugin for Kst.
Comment[pt]=Implementa um 'plugin' de ajuste linear para o Kst.
Comment[uk]=Реалізує додаток лінійного наближення у Kst.
Comment[x-test]=xxImplements a Linear Fits Plugin for Kst.xx
