[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=akima
X-Kst-Plugin-Author=The University of Toronto
Name=Akima Interpolation Data Object Plugin
Name[uk]=Додаток для роботи з об’єктами інтерполяції даних за Акімою
Name[x-test]=xxAkima Interpolation Data Object Pluginxx
Comment=Implements a Akima Interpolation Data Object Plugin for Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами інтерполяції даних за Акімою у Kst.
Comment[x-test]=xxImplements a Akima Interpolation Data Object Plugin for Kst.xx
