[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=akima
X-Kst-Plugin-Author=The University of Toronto
Name=Akima Interpolation Data Object Plugin
Comment=Implements a Akima Interpolation Data Object Plugin for Kst.
