[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=akima
X-Kst-Plugin-Author=The University of Toronto
Name=Akima Interpolation Data Object Plugin
Name[bs]=Dodatak Akima interpolacije objekta podatka
Name[ca]=Connector d'objecte de dades d'interpolació Akima
Name[ca@valencia]=Connector d'objecte de dades d'interpolació Akima
Name[de]=Datenobjekt-Modul für Akima-Interpolation
Name[el]=Πρόσθετο αντικειμένων δεδομένων παρεμβολής Akima
Name[en_GB]=Akima Interpolation Data Object Plugin
Name[es]=Complemento de objeto de datos de interpolación de Akima
Name[fr]=Module DataObject d'interpolation Akima
Name[gl]=Complemento de obxecto de datos de interpolación de Akima
Name[it]=Estensione oggetto dati di interpolazione Akima
Name[nl]=Akima Interpolation Data Object Plugin
Name[pl]=Wtyczka obiektu danych interpolacji Akima
Name[pt]='Plugin' de Objectos de Dados de Interpolação Akima
Name[pt_BR]=Plugin de objeto de dados de interpolação Akima
Name[sv]=Dataobjekt-insticksprogram för Akima-interpolation
Name[uk]=Додаток для роботи з об’єктами інтерполяції даних за Акімою
Name[x-test]=xxAkima Interpolation Data Object Pluginxx
Comment=Implements a Akima Interpolation Data Object Plugin for Kst.
Comment[bs]=Implementira dodatak Akima interpolacije objekta podatka za Kst.
Comment[ca]=Implementa un connector d'objecte de dades d'interpolació Akima pel Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades d'interpolació Akima pel Kst.
Comment[de]=Implementiert ein Datenobjekt-Modul für Akima-Interpolation für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο για αντικείμενα δεδομένων παρεμβολής Akima για το Kst.
Comment[en_GB]=Implements a Akima Interpolation Data Object Plugin for Kst.
Comment[es]=Implementa un complemento de objeto de datos de interpolación de Akima para Kst.
Comment[fr]=Implémente un module DataObject d'interpolation Akima pour Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de interpolación de Akima para Kst.
Comment[it]=Implementa un'estensione oggetto dati di interpolazione Akima per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor Akima interpolatie.
Comment[pl]=Implementuje wtyczkę obiektu danych interpolacji Akima dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados com a interpolação Akima para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de interpolação Akima para o Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för Akima-interpolation.
Comment[uk]=Реалізує додаток для роботи з об’єктами інтерполяції даних за Акімою у Kst.
Comment[x-test]=xxImplements a Akima Interpolation Data Object Plugin for Kst.xx
