[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=wmap
X-Kst-Plugin-Author=The University of British Columbia
Name=WMAP Reader
Name[da]=WMAP-læser
Name[el]=Αναγνώστης WMAP
Name[es]=Lector WMAP
Name[it]=Lettore WMAP
Name[pt]=Leitor de WMAP
Name[pt_BR]=Leitor WMAP

