[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitlinear_weighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Linear Weighted Plugin
Comment=Implements a Linear Weighted Fits Plugin for Kst.
