[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitlinear_weighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Linear Weighted Plugin
Name[bs]=Dodatak linearnog težinskog uklapanja
Name[ca]=Fits - Connector lineal ponderat
Name[ca@valencia]=Fits - Connector lineal ponderat
Name[de]=Gewichtetes Linear-Anpassungs-Modul
Name[el]=Fits - Linear Weighted Πρόσθετο
Name[en_GB]=Fits - Linear Weighted Plugin
Name[es]=FITS - Complemento lineal ponderado
Name[fr]=Module de régression linéaire pondérée
Name[gl]=Axustes - Complemento lineal ponderado
Name[it]=Estensione fits pesata lineare
Name[nl]=Fits - Linear Weighted Plugin
Name[pl]=Wtyczka dopasowania linowego ważonego
Name[pt]='Plugin' de Ajuste Linear Ponderado
Name[pt_BR]=Plugin de ajuste linear ponderado
Name[sv]=Anpassning - Linjärt viktat insticksprogram
Name[uk]=Наближення: лінійний зважений додаток
Name[x-test]=xxFits - Linear Weighted Pluginxx
Comment=Implements a Linear Weighted Fits Plugin for Kst.
Comment[bs]=Implementira dodatak linearnog težinskog uklapanja za Kst.
Comment[ca]=Implementa un connector Fits lineal ponderat pel Kst.
Comment[ca@valencia]=Implementa un connector Fits lineal ponderat pel Kst.
Comment[de]=Implementiert ein gewichtetes Linear-Anpassungs-Modul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο Linar Weighted Fits για το Kst.
Comment[en_GB]=Implements a Linear Weighted Fits Plugin for Kst.
Comment[es]=Implementa un complemento FITS lineal ponderado para Kst.
Comment[fr]=Implémente un module de régression linéaire pondérée pour Kst.
Comment[gl]=Realiza un complemento de axuste lineal ponderado para Kst.
Comment[it]=Implementa un'estensione fits pesata lineare
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor gewogen lineaire aanpassing.
Comment[pl]=Implementuje wtyczkę obiektu danych dopasowania liniowego ważonego dla Kst.
Comment[pt]=Implementa um 'plugin' de ajuste linear ponderado para o Kst.
Comment[pt_BR]=Implementa um plugin de ajuste linear ponderado para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för linjär viktad anpassning.
Comment[uk]=Реалізує додаток лінійного зваженого наближення у Kst.
Comment[x-test]=xxImplements a Linear Weighted Fits Plugin for Kst.xx
