[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=lfiio
X-Kst-Plugin-Author=The University of Toronto
Name=LFIIO Reader
Name[bs]=LFIIO čitač
Name[ca]=Lector LFIIO
Name[ca@valencia]=Lector LFIIO
Name[de]=LFIIO-Betrachter
Name[en_GB]=LFIIO Reader
Name[fr]=Lecteur LFIIO
Name[hu]=LFIIO olvasó
Name[it]=Lettore LFIIO
Name[nb]=LFIIO-leser
Name[nl]=LFIIO Reader
Name[pl]=Czytnik LFIIO
Name[pt]=Leitor do LFIIO
Name[pt_BR]=Leitor do LFIIO
Name[sk]=LFIIO čítač
Name[sv]=LFIIO-läsare
Name[uk]=Засіб читання LFIIO
Name[x-test]=xxLFIIO Readerxx
Comment=Implements support for reading FITS files into Kst.
Comment[ca]=Implementació que permet llegir fitxers FITS en el Kst.
Comment[ca@valencia]=Implementació que permet llegir fitxers FITS en el Kst.
Comment[de]=Unterstützung für das Einlesen von FITS-Dateien in Kst
Comment[en_GB]=Implements support for reading FITS files into Kst.
Comment[fr]=Implémente la prise en charge de la lecture de fichiers FITS dans Kst.
Comment[hu]=Támogatást valósít meg a FITS fájlok olvasásához a Kst-be.
Comment[it]=Implementa il supporto per la lettura di file FITS con Kst.
Comment[nb]=Legger til støtte for å lese FITS-filer i Kst.
Comment[nl]=Implementeert ondersteuning voor het lezen van FITS-bestanden in Kst.
Comment[pl]=Implementuj obsługę odczytu plików FITS w Kst.
Comment[pt]=Implementa o suporte para ler os ficheiros do FITS para o Kst.
Comment[pt_BR]=Implementa o suporte para leitura de arquivos do FITS no Kst.
Comment[sk]=Implementuje podporu pre čítanie súborov FITS do Kst.
Comment[sv]=Implementerar stöd för att läsa FITS-filer i Kst.
Comment[uk]=Реалізує підтримку читання файлів FITS у Kst.
Comment[x-test]=xxImplements support for reading FITS files into Kst.xx
