[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=linefit
X-Kst-Plugin-Author=The University of Toronto
Name=Line Fit Data Object Plugin
Name[uk]=Додаток для роботи з об’єктами лінійного наближення
Name[x-test]=xxLine Fit Data Object Pluginxx
Comment=Implements a Line Fit Data Object Plugin for Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами лінійного наближення даних у Kst.
Comment[x-test]=xxImplements a Line Fit Data Object Plugin for Kst.xx
