[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=linefit
X-Kst-Plugin-Author=The University of Toronto
Name=Line Fit Data Object Plugin
Comment=Implements a Line Fit Data Object Plugin for Kst.
