[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=linefit
X-Kst-Plugin-Author=The University of Toronto
Name=Line Fit Data Object Plugin
Name[bs]=Dodatak pravca objekta podatka
Name[ca]=Connector d'objecte d'ajust lineal
Name[ca@valencia]=Connector d'objecte d'ajust lineal
Name[de]=Lineares Näherungs-Datenobjekt-Modul
Name[el]=Πρόσθετο αντικειμένων δεδομένων προσαρμογής γραμμής
Name[en_GB]=Line Fit Data Object Plugin
Name[es]=Complemento de objeto de datos de ajuste de línea
Name[fr]=Module DataObject de régression linéaire
Name[gl]=Complemento de obxecto de datos de axuste de liña
Name[it]=Estensione oggetto dati di adattamento riga
Name[nl]=Line Fit Data Object Plugin
Name[pl]=Wtyczka obiektu danych dopasowania linii
Name[pt]='Plugin' de Objectos de Dados de Ajuste Linear
Name[pt_BR]=Plugin de objeto de dados de ajuste linear
Name[sv]=Dataobjekt-insticksprogram för linjeanpassning
Name[uk]=Додаток для роботи з об’єктами лінійного наближення
Name[x-test]=xxLine Fit Data Object Pluginxx
Comment=Implements a Line Fit Data Object Plugin for Kst.
Comment[bs]=Implementira dodatak pravca objekta podatka za Kst.
Comment[ca]=Implementa un connector d'objecte d'ajust lineal pel Kst.
Comment[ca@valencia]=Implementa un connector d'objecte d'ajust lineal pel Kst.
Comment[de]=Implementiert ein Datenobjekt-Modul für lineare Näherung für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο για αντικείμενα δεδομένων προσαρμογής γραμμής για το Kst.
Comment[en_GB]=Implements a Line Fit Data Object Plugin for Kst.
Comment[es]=Implementa un complemento de objeto de datos de ajuste de línea para Kst.
Comment[fr]=Implémente un module DataObject de régression linéaire pour Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de axuste de liña para Kst.
Comment[it]=Implementa un'estensione oggetto dati di adattamento riga per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor aanpassen aan een lijn.
Comment[pl]=Implementuje wtyczkę obiektu danych dopasowania linii dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados com ajuste linear para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de ajuste linear para o Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för linjeanpassning.
Comment[uk]=Реалізує додаток для роботи з об’єктами лінійного наближення даних у Kst.
Comment[x-test]=xxImplements a Line Fit Data Object Plugin for Kst.xx
