[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=dirfilesource
X-Kst-Plugin-Author=The University of Toronto
Name=DirFile Reader
Name[de]=DirFile-Leser
Name[fr]=Lecteur DirFile
Name[nl]=Lezer van DirFile-bestand
Name[pt]=Leitor do 'DirFile'
Name[pt_BR]=Leitor do DirFile
Name[sk]=Čítač DirFile
Name[sv]=DirFile-läsare
Name[uk]=Засіб читання DirFile
Name[x-test]=xxDirFile Readerxx
Comment=Plugin to read the dirfile format.
Comment[de]=Modul zum Lesen des DirFile-Formats
Comment[fr]=Module pour lire le format dirfile.
Comment[nl]=Plugin voor het lezen van het dirfile-formaat.
Comment[pt]=Um 'plugin' para ler o formato 'dirfile'.
Comment[pt_BR]=Plugin para ler o formato dirfile.
Comment[sv]=Insticksprogram för att läsa DirFile-formatet.
Comment[uk]=Додаток для читання даних у форматі dirfile.
Comment[x-test]=xxPlugin to read the dirfile format.xx
