[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=dirfilesource
X-Kst-Plugin-Author=The University of Toronto
Name=DirFile Reader
Name[bs]=DirFile čitač
Name[ca]=Lector de DirFile
Name[ca@valencia]=Lector de DirFile
Name[de]=DirFile-Leser
Name[el]=Ανάγνωση DirFile
Name[en_GB]=DirFile Reader
Name[es]=Lector DirFile
Name[et]=DirFile'i lugeja
Name[fr]=Lecteur DirFile
Name[gl]=Lector de DirFile
Name[it]=Lettore file .dir
Name[nb]=DirFile-leser
Name[nl]=DirFile Reader
Name[pl]=Czytnik DirFile
Name[pt]=Leitor do 'DirFile'
Name[pt_BR]=Leitor do DirFile
Name[sk]=Čítač DirFile
Name[sl]=Bralnik DirFile
Name[sv]=DirFile-läsare
Name[uk]=Засіб читання DirFile
Name[x-test]=xxDirFile Readerxx
Comment=Plugin to read the dirfile format.
Comment[bs]=Dodatak za čitanje dirfile formata.
Comment[ca]=Connector per a llegir el format DirFile.
Comment[ca@valencia]=Conector per a llegir el format DirFile.
Comment[de]=Modul zum Lesen des DirFile-Formats
Comment[el]=Πρόσθετο ανάγνωσης του τύπου αποθήκευσης dirfile.
Comment[en_GB]=Plugin to read the dirfile format.
Comment[es]=Complemento para leer el formato dirfile.
Comment[et]=Plugin dirfile-vormingu lugemiseks.
Comment[fr]=Module pour lire le format dirfile.
Comment[gl]=Complemento para ler o formato DirFile.
Comment[it]=Estensione per leggere il formato file .dir.
Comment[nb]=Programtillegg som leser dirfile-formatet.
Comment[nl]=Plugin voor het lezen van het dirfile-formaat.
Comment[pl]=Wtyczka do odczytywania formatu dirfile.
Comment[pt]=Um 'plugin' para ler o formato 'dirfile'.
Comment[pt_BR]=Plugin para ler o formato dirfile.
Comment[sk]=Plugin na čítanie formátu dirfile.
Comment[sl]=Vtičnik za branje formata dirfile.
Comment[sv]=Insticksprogram för att läsa DirFile-formatet.
Comment[uk]=Додаток для читання даних у форматі dirfile.
Comment[x-test]=xxPlugin to read the dirfile format.xx
