[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=dirfilesource
X-Kst-Plugin-Author=The University of Toronto
Name=DirFile Reader
Name[bs]=DirFile čitač
Name[ca]=Lector de DirFile
Name[cs]=DirFile čtečka
Name[da]=DirFile-læser
Name[de]=DirFile-Betrachter
Name[el]=Αναγνώστης DirFile
Name[es]=Lector de DirFile
Name[et]=Kataloogifaili lugeja
Name[fr]=Lecteur DirFile
Name[ga]=Léitheoir DirFile
Name[gl]=Leitor de DirFile
Name[hi]=डिर-फाइल रीडर
Name[hr]=DirFile čitač
Name[hu]=DirFile-olvasó
Name[is]=DirFile skráalesari
Name[it]=Lettore DirFile
Name[ja]=DirFile リーダー
Name[ka]=DirFile-ის წამკითხველი
Name[nl]=Dirfile-leesprogramma
Name[pa]=ਡਾਇਰੈ ਫਾਇਲ ਰੀਡਰ
Name[pt]=Leitor de DirFile
Name[pt_BR]=Leitor de DirFile
Name[sr]=Читач за DirFile
Name[sr@Latn]=Čitač za DirFile
Name[sv]=Dirfile-läsare
Name[ta]=டிஐஆர்கோப்புப் படித்தல்
Name[tg]=Хонандаи Файли Dir
Name[tr]=DizinDosya Okuyucu
Name[vi]=Bộ xem tập tin DirFile
Name[xx]=xxDirFile Readerxx
Name[zh_CN]=目录文件阅读器
Comment=Plugin to read the dirfile format.
Comment[bs]=Dodatak za čitanje dirfile formata.
Comment[ca]=Connector per a llegir el format dirfile.
Comment[cs]=Modul pro čtení formátu dirfile
Comment[da]=Plugin til at læse dirfile-formatet.
Comment[de]=Modul zum Lesen des dirfile-Formats
Comment[el]=Πρόσθετο για την ανάγνωση της μορφής dirfile.
Comment[es]=Plugin para leer el formato dirfile.
Comment[et]=Plugin kataloogifailide (dirfile) vormingu lugemiseks.
Comment[fr]=Module de lecture du format DirFile.
Comment[ga]=Breiseán a léann an fhormáid dirfile.
Comment[gl]=Un plugin para ler o formato dirfile.
Comment[hi]=डिरफाइल फॉर्मेट पढ़ने हेतु प्लगइन
Comment[hr]=Dodatak za čitanje oblika dirfile.
Comment[hu]=Bővítőmodul Dirfile fájlok beolvasásához
Comment[is]=Íforrit til að lesa dirfile snið.
Comment[it]=Plugin per leggere il formato dirfile.
Comment[ja]=dirfile フォーマットを読むためのプラグイン
Comment[ka]= dirfile ფორმატის წამკითხველი მოდული.
Comment[nl]=Plugin voor het lezen van het dirfile-formaat.
Comment[pt]=Um 'plugin' para ler o formato 'dirfile'.
Comment[pt_BR]=Plug-in para a leitura do formato dirfile.
Comment[sr]=Прикључак за читање формата dirfile.
Comment[sr@Latn]=Priključak za čitanje formata dirfile.
Comment[sv]=Insticksprogram för att läsa dirfile-format.
Comment[ta]=சொருகி டிஐஆர் கோப்பின் வடிவத்தைப் படிக்கவும் 
Comment[tg]=Модул барои хондани файли формати dir.
Comment[tr]=Dizin dosya biçimi okuma eklentisi
Comment[vi]=Bổ sung đọc định dạng dirfile.
Comment[xx]=xxPlugin to read the dirfile format.xx
Comment[zh_CN]=读取目录文件格式的插件
