[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=lockin
X-Kst-Plugin-Author=The University of Toronto
Name=Lock-In Amplification Data Object Plugin
Name[ca]=Connector d'objecte d'amplificació bloquejada
Name[de]=Datenobjekt-Modul für Lock-In-Verstärkung
Name[fr]=Module DataObject de détection synchrone
Name[it]=Estensione oggetto dati di amplificazione lock-in
Name[nl]=Plug-in voor object met gegevens voor lock-in versterking
Name[pt]='Plugin' de Objectos de Dados de Amplificação Bloqueada
Name[pt_BR]=Plugin de objeto de dados de amplificação bloqueada
Name[sv]=Inlåsande förstärkningsdataobjekt-insticksprogram
Name[uk]=Додаток для роботи з об’єктами замкнутого підсилення даних
Name[x-test]=xxLock-In Amplification Data Object Pluginxx
Comment=Lock-In amplification of channel to reference Data Object Plugin for Kst.
Comment[ca]=Connector d'objecte de dades d'amplificació de canal bloquejada a referència pel Kst.
Comment[de]=Datenobjekt-Modul für Lock-In-Verstärkung von Mess- zu Referenzsignal für Kst.
Comment[fr]=Module DataObject de détection synchrone de canal vers référence pour Kst.
Comment[it]=Amplificazione lock-in del canale per l'estensione oggetto dati di riferimento per Kst.
Comment[nl]=Implementeert een plug-in voor object met gegevens voor lock-in versterking voor Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados com amplificação bloqueada para o Kst.
Comment[pt_BR]=Amplificação bloqueada do canal de referência do plugin de objeto de dados para o Kst.
Comment[sv]=Kst-insticksprogram med inlåsande förstärkning av kanal för referens till dataobjekt
Comment[uk]=Додаток для роботи з об’єктами замкнутого підсилення даних каналу щодо еталона для Kst.
Comment[x-test]=xxLock-In amplification of channel to reference Data Object Plugin for Kst.xx
