[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=lockin
X-Kst-Plugin-Author=The University of Toronto
Name=Lock-In Amplification Data Object Plugin
Name[pt]='Plugin' de Objectos de Dados de Amplificação Bloqueada
Name[uk]=Додаток для роботи з об’єктами замкнутого підсилення даних
Name[x-test]=xxLock-In Amplification Data Object Pluginxx
Comment=Lock-In amplification of channel to reference Data Object Plugin for Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados com amplificação bloqueada para o Kst.
Comment[uk]=Додаток для роботи з об’єктами замкнутого підсилення даних каналу щодо еталона для Kst.
Comment[x-test]=xxLock-In amplification of channel to reference Data Object Plugin for Kst.xx
