[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=lockin
X-Kst-Plugin-Author=The University of Toronto
Name=Lock-In Amplification Data Object Plugin
Name[bs]=Dodatak sinhronizovanog pojačanja objekta podatka
Name[ca]=Connector d'objecte d'amplificació bloquejada
Name[ca@valencia]=Connector d'objecte d'amplificació bloquejada
Name[de]=Datenobjekt-Modul für Lock-In-Verstärkung
Name[el]=Πρόσθετο αντικειμένων δεδομένων ενίσχυσης κλειδώματος
Name[en_GB]=Lock-In Amplification Data Object Plugin
Name[es]=Complemento de objeto de datos de amplificación de bloqueo
Name[fr]=Module DataObject de détection synchrone
Name[gl]=Complemento de obxecto de datos de amplificación delimitada
Name[it]=Estensione oggetto dati di amplificazione lock-in
Name[nl]=Lock-In Amplification Data Object Plugin
Name[pl]=Wtyczka obiektu danych woltomierza wektorowego
Name[pt]='Plugin' de Objectos de Dados de Amplificação Bloqueada
Name[pt_BR]=Plugin de objeto de dados de amplificação bloqueada
Name[sl]=Vtičnik za zaklenjeno ojačitev podatkovnih predmetov
Name[sv]=Inlåsande förstärkningsdataobjekt-insticksprogram
Name[tr]=Kilitli Genleştirme Veri Nesnesi Eklentisi
Name[uk]=Додаток для роботи з об’єктами замкнутого підсилення даних
Name[x-test]=xxLock-In Amplification Data Object Pluginxx
Comment=Lock-In amplification of channel to reference Data Object Plugin for Kst.
Comment[bs]=Sinhronizovano pojačanje kanala referentnog dodatka objekta podatka za Kst.
Comment[ca]=Connector d'objecte de dades d'amplificació de canal bloquejada a referència per al Kst.
Comment[ca@valencia]=Connector d'objecte de dades d'amplificació de canal bloquejada a referència per a Kst.
Comment[de]=Datenobjekt-Modul für Lock-In-Verstärkung von Mess- zu Referenzsignal für Kst.
Comment[el]=Ενίσχυση κλειδώματος διαύλου προσθέτων για αντικείμενα δεδομένων για το Kst.
Comment[en_GB]=Lock-In amplification of channel to reference Data Object Plugin for Kst.
Comment[es]=Implementa un complemento de objeto de datos de amplificación de bloqueo para Kst.
Comment[fr]=Module DataObject de détection synchrone de canal vers référence pour Kst.
Comment[gl]=Complemento de obxecto de datos de amplificación delimitada dunha canle a unha referencia para Kst.
Comment[it]=Amplificazione lock-in del canale per l'estensione oggetto dati di riferimento per Kst.
Comment[nl]=Gekoppelde kanaalversterking voor referentie gegevensobject in Kst.
Comment[pl]=Wtyczka obiektu danych wzmocnienia woltomierza wektorowego kanału do odniesienia dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados com amplificação bloqueada para o Kst.
Comment[pt_BR]=Amplificação bloqueada do canal de referência do plugin de objeto de dados para o Kst.
Comment[sl]=Vtičnik za zaklenjeno ojačitev kanala za sklic podatkovnih predmetov za Kst.
Comment[sv]=Dataobjekt-insticksprogram med inlåsande förstärkning av kanal med referens för Kst
Comment[tr]=Kst için kanaldan başvuru Veri Nesnesi Eklentisi'nin kilitli genleştirmesi.
Comment[uk]=Додаток для роботи з об’єктами замкнутого підсилення даних каналу щодо еталона для Kst.
Comment[x-test]=xxLock-In amplification of channel to reference Data Object Plugin for Kst.xx
