[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_cspline_periodic
X-Kst-Plugin-Author=Andrew Walker
Name=Interpolation cubic spline periodic
Name[da]=Periodisk kubisk spline-interpolation
Name[el]=Παρεμβολή περιοδικής κυβικής καμπύλης spline
Name[es]=Interpolacion en una curva cúbica periódica
Name[et]=Perioodiline kuupsplain-interpoleerimine
Name[it]=Interpolazione spline cubica e periodica
Name[nl]=Periodieke derdegraads spline-interpolatie
Name[pt]=Interpolação numa curva cúbica periódica
Name[sv]=Periodisk kubisk splineinterpolering
Name[vi]=Chốt trục bậc ba nội suy định kỳ
Comment=Generates a cubic spline interpolation for a set of data.
Comment[da]=Opretter en kubisk spline-interpolation for en datamængde.
Comment[el]=Δημιουργία μιας κυβικής περιοδικής παρεμβολής spline για ένα σύνολο δεδομένων.
Comment[es]=Genera una interpolacion en una curva cúbica para un conjunto de datos.
Comment[et]=Genereerib antud andmekogumi kuupsplain-interpolatsiooni.
Comment[it]=Genera una interpolazione spline cubica per un insieme di dati.dati.
Comment[nl]=Genereert een periodieke derdegraads spline-interpolatie van een verzameling gegevens.
Comment[pt]=Gera uma interpolação numa curva cúbica para um conjunto de dados.
Comment[pt_BR]=Gera uma interpolação spline cúbica para um conjunto de dados.
Comment[sv]=Skapar en kubisk splineinterpolering för en datamängd.
Comment[vi]=Tạo ra sự nội suy chốt trục bậc ba cho một tập dữ liệu.
