[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_linear
X-Kst-Plugin-Author=Andrew Walker
Name=Interpolation linear
Name[da]=Lineær interpolation
Name[el]=Γραμμική παρεμβολή
Name[es]=Interpolacion lineal
Name[et]=Lineaarne interpoleerimine
Name[it]=Interpolazione lineare
Name[nl]=Lineair interpoleren
Name[pt]=Interpolação linear
Name[sv]=Linjärinterpolering
Name[vi]=Nội suy tuyến tính
Comment=Generates a linear interpolation for a set of data.
Comment[da]=Opretter en lineær interpolation for en datamængde.
Comment[el]=Δημιουργία μιας γραμμικής παρεμβολής για ένα σύνολο δεδομένων.
Comment[es]=Genera una interpolacion lineal para un conjunto de datos.
Comment[et]=Genereerib antud andmekogumi lineaarse interpolatsiooni.
Comment[it]=Genera una interpolazione lineare per un insieme di dati.
Comment[nl]=Genereert een lineaire interpolatie van een verzameling gegevens.
Comment[pt]=Gera uma interpolação linear para um conjunto de dados.
Comment[pt_BR]=Gera uma interpolação linear para um conjunto de dados.
Comment[sv]=Skapar en linjär interpolering för en datamängd.
Comment[vi]=Tạo ra sự nội suy tuyến tính cho một tập dữ liệu.
