[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=hdf5
X-Kst-Plugin-Author=The University of Toronto
Name=HDF5 Reader
Name[ca]=Lector de HDF5
Name[ca@valencia]=Lector de HDF5
Name[cs]=Čtečka HDF5
Name[en_GB]=HDF5 Reader
Name[es]=Lector HDF5
Name[et]=HDF5 lugeja
Name[fr]=Lecteur « HDF5 »
Name[gl]=Cabeceira de HDF5
Name[it]=Lettore HDF5
Name[nl]=Leesprogramma DirFile
Name[pl]=Czytnik HDF5
Name[pt]=Leitor de HDF5
Name[pt_BR]=Leitor HDF5
Name[sl]=Bralnik HDF5
Name[sv]=HDF5-läsare
Name[tr]=HDFS Okuyucusu
Name[uk]=Засіб читання HDF5
Name[x-test]=xxHDF5 Readerxx
Comment=Plugin that reads HDF5 files
Comment[ca]=Connector per a llegir fitxers HDF5
Comment[ca@valencia]=Connector per a llegir fitxers HDF5
Comment[en_GB]=Plugin that reads HDF5 files
Comment[es]=Complemento para leer archivos HDF5
Comment[et]=Plugin HDF5 failide lugemiseks
Comment[fr]=Module externe de lecture de fichiers « HDF5 ».
Comment[gl]=Complemento que le ficheiros HDF5
Comment[it]=Estensione che legge i file HDF5
Comment[nl]=Plug-in voor het lezen van HDF5-bestanden.
Comment[pl]=Wtyczka do odczytywania plików HDF5
Comment[pt]=Um 'plugin' para ler ficheiros em HDF5
Comment[pt_BR]=Plugin para ler arquivos HDF5
Comment[sl]=Vtičnik za branje datotek HDF5.
Comment[sv]=Insticksprogram som läser HDF5-filer.
Comment[tr]=HDFS dosyalarını okuyan eklenti
Comment[uk]=Додаток для читання файлів HDF5
Comment[x-test]=xxPlugin that reads HDF5 filesxx
