[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=hdf5
X-Kst-Plugin-Author=The University of Toronto
Name=HDF5 Reader
Comment=Plugin that reads HDF5 files
