[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=frame
X-Kst-Plugin-Author=The University of Toronto
Name=Frame Reader
Name[bs]=Frame čitač
Name[ca]=Lector de frame
Name[cs]=Čtečka formátu Frame
Name[da]=Ramme-læser
Name[de]=Frame-Betrachter
Name[el]=Αναγνώστης Frame
Name[es]=Lector de marcos
Name[et]=Kaadrilugeja
Name[gl]=Leitor de Tramas
Name[hi]=फ्रेम रीडर
Name[hr]=Čitač okvira
Name[hu]=Keretolvasó
Name[is]=Frame lesari
Name[it]=Lettore frame
Name[ja]=Frame リーダー
Name[nl]=Frame-lezer
Name[pa]=ਫਰੇਮ ਰੀਡਰ
Name[pt]=Leitor de Tramas
Name[pt_BR]=Leitor de Quadros
Name[sr]=Читач оквира
Name[sr@Latn]=Čitač okvira
Name[sv]=Ramläsare
Name[ta]=சட்டம் படித்தல்
Name[tg]=Хонандаи Чорчӯба
Name[tr]=Çerçeve Okuyucu
Name[vi]=Bộ đọc Frame
Name[xx]=xxFrame Readerxx
Name[zh_CN]=帧阅读器
Comment=Plugin to read the frame file format.
Comment[bs]=Dodatak za čitanje frame formata datoteka.
Comment[ca]=Connector per a llegir el format de fitxer «frame».
Comment[cs]=Modul pro čtení formátu Frame.
Comment[da]=Plugin til at læse rammefil-format.
Comment[de]=Modul zum Lesen des frame-Formats
Comment[el]=Πρόσθετο για την ανάγνωση της μορφής αρχείου frame.
Comment[es]=Plugin para leer el formato de estructuras en un archivo.
Comment[et]=Plugin kaadrifailide (frame file) vormingu lugemiseks.
Comment[gl]=Un plugin para ler o formato de ficheiro de tramas.
Comment[hi]=फ्रेम फाइल फॉर्मेट पढ़ने हेतु प्लगइन
Comment[hr]=Dodatak za čitanje datotečnog oblika okvira.
Comment[hu]=Bővítőmodul Framefile fájlok beolvasásához
Comment[is]=Íforrit til að lesa frame skráasniðið.
Comment[it]=Plugin per leggere il formato file frame.
Comment[ja]=Frame ファイルフォーマットを読むためのプラグイン
Comment[nl]=Plugin voor het lezen van het frame-bestandsformaat.
Comment[pt]=Um 'plugin' para ler o formato do ficheiro de tramas.
Comment[pt_BR]=Plug-ins para a leitura do formato de arquivo de quadro.
Comment[sr]=Прикључак за читање оквирног формата фајлова.
Comment[sr@Latn]=Priključak za čitanje okvirnog formata fajlova.
Comment[sv]=Insticksprogram för att läsa ramfilformat.
Comment[ta]=சொருகி சட்டப் கோப்பின் வடிவத்தைப் படிக்கவும். 
Comment[tg]=Модул барои хондани формати чорчӯбаи файл.
Comment[tr]=Çerçeve dosya biçimi okuma eklentisi.
Comment[vi]=Bổ sung đọc định dạng tập tin frame.
Comment[xx]=xxPlugin to read the frame file format.xx
Comment[zh_CN]=阅读帧文件格式的插件
