[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=planckIDEF
X-Kst-Plugin-Author=The University of British Columbia
Name=Planck IDIS DMC Exchange Format Reader


