[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_linefit
X-Kst-Plugin-Author=George Staikos
Name=Line Fit
Name[ca]=Línia d'ajust
Name[da]=Lineær tilpasning
Name[de]=Gerade Näherung
Name[el]=Προσαρμογή ευθείας
Name[es]=Ajuste de líneas
Name[et]=Regressioonijoon
Name[it]=Linea di regressione
Name[nl]=Lijnaanpassing
Name[pt]=Ajuste a uma Recta
Name[sv]=Linjäranpassning
Name[vi]=Vừa dòng
Comment=Generates a line of best fit for a set of data.
Comment[ca]=Genera una línia que s'ajusta millor a un conjunt de dades.
Comment[da]=Opretter en bedste tilpasning til en linje for en datamængde.
Comment[de]=Erzeugt eine Gerade die dem Datensatz am besten annähert.
Comment[el]=Δημιουργία μιας ευθείας που προσαρμόζεται βέλτιστα σε ένα σύνολο δεδομένων.
Comment[es]=Genera la línea de mejor ajuste para un conjunto de datos.
Comment[et]=Genereerib andmekogumi regressioonijoone.
Comment[it]=Genera una linea di regressione per un insieme di dati.
Comment[nl]=Genereert een (rechte) lijn die het best past bij een verzameling gegevens.
Comment[pt]=Gera uma recta com o ajuste óptimo para um conjunto de dados.
Comment[pt_BR]=Gera uma linha mais adequada para um conjunto de dados.
Comment[sv]=Skapar en bästa anpassning till en linje för en datamängd.
Comment[vi]=Tạo ra dòng vừa nhất cho một tập dữ liệu.
