[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=filterbutterworthlowpass
X-Kst-Plugin-Author=The University of Toronto
Name=Filter - Butterworth Low Pass Plugin
Name[de]=Filter - Butterworth-Tiefpass-Modul
Name[pt]='Plugin' de Filtro Passa-Baixo Butterworth
Name[uk]=Додаток фільтрування низьких частот за Баттервортом
Name[x-test]=xxFilter - Butterworth Low Pass Pluginxx
Comment=Implements a Butterworth Low Pass Filter Plugin for Kst.
Comment[pt]=Implementa um 'plugin' de filtro passa-baixo Butterworth para o Kst.
Comment[uk]=Реалізує додаток для фільтрування низьких частот за Баттервортом у Kst.
Comment[x-test]=xxImplements a Butterworth Low Pass Filter Plugin for Kst.xx
