[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=filterbutterworthlowpass
X-Kst-Plugin-Author=The University of Toronto
Name=Filter - Butterworth Low Pass Plugin
Comment=Implements a Butterworth Low Pass Filter Plugin for Kst.
