[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=nad
X-Kst-Plugin-Author=Staikos Computing Services Inc.
Name=NAD plugin
Name[ca]=Connector NAD
Name[cs]=NAD modul
Name[da]=NAD-plugin
Name[de]=NAD Modul
Name[el]=Πρόσθετο NAD
Name[es]=Plugin NAD
Name[ga]=Breiseán NAD
Name[gl]=Plugin para NAD
Name[hr]=NAD dodatak
Name[is]=NAD íforrit
Name[it]=Plugin NAD
Name[ja]=NAD プラグイン
Name[ka]=NAD მოდული
Name[nl]=NAD-plugin
Name[pa]=NAD ਪਲੱਗਇਨ
Name[pt]='Plugin' NAD
Name[pt_BR]=Plugin NAD
Name[sv]=NAD-insticksprogram
Name[vi]=Bổ sung NAD
Comment=Plugin for the NAD distributed data distribution service with local caching
Comment[ca]=Conector pel servei de distribució de dades distribuides NAD amb memòria cau local
Comment[cs]=Modul pro NAD službu distribuce dat s lokálním kešováním
Comment[da]=Plugin for den distribuerede datadistributionstjeneste NAD med lokal cache
Comment[de]=Modul für den NAD verteilte Datenverteildienst mit lokalem Zwischenspeicher
Comment[el]=Πρόσθετο για την υπηρεσία διανομής δεδομένων NAD χωρίς χρήση τοπικής λανθάνουσας μνήμης
Comment[es]=Plugin para el servicio de distribución de datos distribuídos del NAD con "caché" local
Comment[et]=Hajusandmete jaotusteenuse NAD plugin kohaliku puhvriga
Comment[gl]=Plugin para o servizo de distribuizón de dados distribuidos NAD sen caché local
Comment[hr]=Doadtak za NAD uslugu distribucije podataka uz lokalnu pohranu
Comment[is]=Íforrit til að meðhöndla NAD dreifgagnaþjónustu með staðbundinni skyndivistun
Comment[it]=Plugin per il servizio di distribuzione di dati distribuiti NAD con memorizzazione locale
Comment[nl]=Plugin voor het gebruik van de NAD-gegevens met lokale buffering
Comment[pt]='Plugin' para o serviço distribuído de difusão de dados NAD com 'cache' local
Comment[pt_BR]=Plugin para o serviço de distribuiçãode dados NAD distribuidos com armazenamento local
Comment[sv]=Insticksprogram för den distribuerade datadistributionstjänsten NAD med lokal lagring
Comment[vi]=Bổ sung cho dịch vụ phân phối dữ liệu đã phát hành NAD với khả năng lưu tạm cục bộ
