[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=matlabio
X-Kst-Plugin-Author=Nicolas Brisset
Name=Matlab's .mat reader
Name[fr]=Lecteur de *.mat de Matlab
Name[nl]=Lezer voor .mat van Matlab
Name[pt]=Leitor de .mat do Matlab
Name[pt_BR]=Leitor de .mat do Matlab
Name[sv]=Matlabs .mat-läsare
Name[uk]=Засіб читання файлів .mat Matlab
Name[x-test]=xxMatlab's .mat readerxx
Comment=Matlab file reader plugin for Kst
Comment[fr]=Module de lecture de fichiers Matlab pour Kst
Comment[nl]=Plug-in van lezer voor Matlab voor Kst
Comment[pt]=Um 'plugin' de leitura de ficheiros do Matlab no Kst
Comment[pt_BR]=Plugin para leitura de arquivos do Matlab no Kst
Comment[sv]=Insticksprogram med Matlab-filläsare för Kst
Comment[uk]=Додаток для читання файлів Matlab у Kst
Comment[x-test]=xxMatlab file reader plugin for Kstxx
