[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=crosscorrelation
X-Kst-Plugin-Author=The University of Toronto
Name=Cross Correlation Data Object Plugin
Name[ca]=Connector d'objecte de dades de correlació creuada
Name[de]=Kreuzkorrelation-Datenobjekt-Modul
Name[fr]=Module DataObject de corrélation croisée
Name[nl]=Plug-in voor object met kruiscorrelatiegegevens
Name[pt]='Plugin' de Objectos de Dados de Correlação Cruzada
Name[pt_BR]=Plugin de objetos de dados de correlação cruzada
Name[sv]=Dataobjekt-insticksprogram för korskorrelation
Name[uk]=Додаток для роботи з об’єктами перехресної кореляції даних
Name[x-test]=xxCross Correlation Data Object Pluginxx
Comment=Implements a Cross Correlation Data Object Plugin for Kst.
Comment[ca]=Implementa un connector d'objecte de dades de correlació creuada pel Kst.
Comment[fr]=Implémente un module DataObject de corrélation croisée pour Kst.
Comment[nl]=Implementeert een plug-in voor object met kruiscorrelatiegegevens voor Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de correlação cruzada para o Kst.
Comment[pt_BR]=Implementa um plugin de objetos de dados de correlação cruzada para o Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами перехресної кореляції даних у Kst.
Comment[x-test]=xxImplements a Cross Correlation Data Object Plugin for Kst.xx
