[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=crosscorrelation
X-Kst-Plugin-Author=The University of Toronto
Name=Cross Correlation Data Object Plugin
Name[bs]=Dodatak za unakrsnu korelaciju objekta podatka.
Name[ca]=Connector d'objecte de dades de correlació creuada
Name[ca@valencia]=Connector d'objecte de dades de correlació creuada
Name[de]=Kreuzkorrelation-Datenobjekt-Modul
Name[el]=Πρόσθετο αντικειμένων δεδομένων διασυσχέτισης
Name[en_GB]=Cross Correlation Data Object Plugin
Name[es]=Complemento de objeto de datos de correlación cruzada
Name[fr]=Module DataObject de corrélation croisée
Name[gl]=Complemento de obxecto de datos de correlación cruzada
Name[it]=Estensione oggetto dati di correlazione incrociata
Name[nl]=Cross Correlation Data Object Plugin
Name[pl]=Wtyczka obiektu danych korelacji krzyżowej
Name[pt]='Plugin' de Objectos de Dados de Correlação Cruzada
Name[pt_BR]=Plugin de objetos de dados de correlação cruzada
Name[sv]=Dataobjekt-insticksprogram för korskorrelation
Name[uk]=Додаток для роботи з об’єктами перехресної кореляції даних
Name[x-test]=xxCross Correlation Data Object Pluginxx
Comment=Implements a Cross Correlation Data Object Plugin for Kst.
Comment[bs]=Implementira dodatak za unakrsnu korelaciju objekta podatka za Kst.
Comment[ca]=Implementa un connector d'objecte de dades de correlació creuada pel Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades de correlació creuada pel Kst.
Comment[de]=Implementiert ein Kreuzkorrelations-Datenobjekt-Modul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο για αντικείμενα δεδομένων διασυσχέτισης για το Kst.
Comment[en_GB]=Implements a Cross Correlation Data Object Plugin for Kst.
Comment[es]=Implementa un complemento de objeto de datos de correlación cruzada para Kst.
Comment[fr]=Implémente un module DataObject de corrélation croisée pour Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de correlación cruzada para Kst.
Comment[it]=Implementa un'estensione oggetto dati di correlazione incrociata per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor kruiscorrelatie.
Comment[pl]=Implementuje wtyczkę obiektu danych korelacji krzyżowej dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de correlação cruzada para o Kst.
Comment[pt_BR]=Implementa um plugin de objetos de dados de correlação cruzada para o Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för korskorrelation.
Comment[uk]=Реалізує додаток для роботи з об’єктами перехресної кореляції даних у Kst.
Comment[x-test]=xxImplements a Cross Correlation Data Object Plugin for Kst.xx
