[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=dmc
X-Kst-Plugin-Author=The University of Toronto
Name=PLANCK DMC Plugin
Name[da]=PLANCK DMC-Plugin
Name[el]=Πρόσθετο PLANCK DMC
Name[es]=Plugin PLANCK DMC
Name[et]=PLANCK DMC plugin
Name[is]=PLANCK DMC íforrit
Name[it]=Plugin PLANCK DMC
Name[nds]=Moduul för't Lesen vun PLANCK-DMC-Daten
Name[pt]='Plugin' DMC do PLANCK
Name[pt_BR]='Plugin' DMC do PLANCK
Name[sr]=PLANCK DMC прикључак
Name[sr@Latn]=PLANCK DMC прикључак
Name[sv]=Planck DMC-insticksprogram
Name[vi]=Phần bổ sung DMC PLANCK
Name[xx]=xxPLANCK DMC Pluginxx
Comment=Plugin to read PLANCK DMC data.
Comment[da]=Plugin til at læse PLANCK DMC-data.
Comment[el]=Πρόσθετο για την ανάγνωση δεδομένων PLANCK DMC.
Comment[es]=Plugin para leer datos PLANCK DMC.
Comment[et]=Plugin PLANCK DMC andmete lugemiseks.
Comment[is]=Íforrit til að lesa PLANCK DMC gögn.
Comment[it]=Plugin per leggere dati PLANCK DMC.
Comment[nds]=Moduul för't Lesen vun PLANCK-DMC-Daten
Comment[nl]=Plugin voor het lezen van PLANCK DMC-gegevens.
Comment[pt]=Um 'plugin' para ler os dados DMC do PLANCK.
Comment[pt_BR]=Um 'plugin' para ler os dados DMC do PLANCK.
Comment[sr]=Прикључак за читање PLANCK DMC података.
Comment[sr@Latn]=Прикључак за читање PLANCK DMC података.
Comment[sv]=Insticksprogram för att läsa Planck DMC-data.
Comment[vi]=Phần bổ sung đọc dữ liệu DMC PLANCK.
Comment[xx]=xxPlugin to read PLANCK DMC data.xx
