[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitgradient_weighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Gradient Weighted Plugin
Name[bs]=Dodatak prelaznog težinskog uklapanja
Name[ca]=Fits - Connector en gradient ponderat
Name[ca@valencia]=Fits - Connector en gradient ponderat
Name[de]=Gewichtetes Verlauf-Anpassungs-Modul
Name[el]=Fits - Gradient Weighted Πρόσθετο
Name[en_GB]=Fits - Gradient Weighted Plugin
Name[es]=FITS - Complemento ponderado en gradiente
Name[fr]=Module de régression à gradient pondéré
Name[gl]=Axustes - Complemento de ponderación de gradación
Name[it]=Estensione fits gradiente pesato
Name[nl]=Fits - Gradient Weighted Plugin
Name[pl]=Wtyczka dopasowania gradientowego ważonego
Name[pt]='Plugin' de Ajuste em Gradiente Ponderado
Name[pt_BR]=Plugin de ajuste em gradiente ponderado
Name[sv]=Anpassning - Viktat gradientinsticksprogram
Name[uk]=Наближення: додаток зважених градієнтів
Name[x-test]=xxFits - Gradient Weighted Pluginxx
Comment=Implements a Gradient Weighted Fits Plugin for Kst.
Comment[bs]=Implementira dodatak prelaznog težinskog uklapanja za Kst.
Comment[ca]=Implementa un connector Fits en gradient ponderat pel Kst.
Comment[ca@valencia]=Implementa un connector Fits en gradient ponderat pel Kst.
Comment[de]=Implementiert ein gewichtetes Verlauf-Anpassungs-Modul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο Gradient Weighted Fits για το Kst.
Comment[en_GB]=Implements a Gradient Weighted Fits Plugin for Kst.
Comment[es]=Implementa un complemento FITS ponderado de gradiente para Kst.
Comment[fr]=Implémente un module de régression à gradient pondéré pour Kst.
Comment[gl]=Realiza un complemento de axuste de ponderación de gradación para Kst.
Comment[it]=Implementa un'estensione fits gradiente pesato per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor gewogen helling aanpassing.
Comment[pl]=Implementuje wtyczkę obiektu danych dopasowania gradientowego ważonego dla Kst.
Comment[pt]=Implementa um 'plugin' de ajuste em gradiente ponderado para o Kst.
Comment[pt_BR]=Implementa um plugin de ajuste em gradiente ponderado para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för viktad gradientanpassning.
Comment[uk]=Реалізує додаток зважених градієнтів (наближення) у Kst.
Comment[x-test]=xxImplements a Gradient Weighted Fits Plugin for Kst.xx
