[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=noiseaddition
X-Kst-Plugin-Author=The University of Toronto
Name=Noise Addition Data Object Plugin
Name[uk]=Додаток для роботи з об’єктами даних додавання шуму
Name[x-test]=xxNoise Addition Data Object Pluginxx
Comment=Implements a Noise Addition Data Object Plugin for Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами даних додавання шуму у Kst.
Comment[x-test]=xxImplements a Noise Addition Data Object Plugin for Kst.xx
