[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=healpix
X-Kst-Plugin-Author=The University of Toronto
Name=Healpix File Reader
Name[bs]=Healpix čitač datoteka
Name[ca]=Lector de fitxers Healpix
Name[ca@valencia]=Lector de fitxers Healpix
Name[de]=Healpix-Dateileser
Name[el]=Healpix πρόγραμμα ανάγνωσης αρχείων
Name[en_GB]=Healpix File Reader
Name[es]=Lector de archivos de Healpix
Name[et]=Healpixi faili lugeja
Name[fr]=Lecteur de fichier Healpix
Name[gl]=Lector de ficheiros Healpix
Name[hu]=Healpix fájlolvasó
Name[it]=Lettore di file Healpix
Name[nb]=Healpix filleser
Name[nl]=Lezer voor Healpix-bestanden
Name[pl]=Czytnik plików Healpix
Name[pt]=Leitor de Ficheiros do Healpix
Name[pt_BR]=Leitor de arquivos do Healpix
Name[sk]=Čítač súborov Healpix
Name[sl]=Bralnik datotek Healpix
Name[sv]=Healpix-filläsare
Name[tr]=Healpix Dosyası Okuyucusu
Name[uk]=Засіб читання файлів Healpix
Name[x-test]=xxHealpix File Readerxx
Comment=Plugin to read Healpix FITS files.
Comment[bs]=Dodatak za čitanje Healpix FITS datoteka.
Comment[ca]=Connector per a llegir els fitxers FITS de Healpix.
Comment[ca@valencia]=Connector per a llegir els fitxers FITS de Healpix.
Comment[de]=Modul zum Lesen von Healpix FITS-Bildern
Comment[el]=Πρόσθετο για την ανάγνωση αρχείων FITS με το Healpix
Comment[en_GB]=Plugin to read Healpix FITS files.
Comment[es]=Complemento para leer archivos FITS de Healpix.
Comment[et]=Plugin Healpixi FITS-failide lugemiseks.
Comment[fr]=Module pour lire une des fichiers Healpix FITS.
Comment[gl]=Complemento para ler ficheiros FITS Healpix.
Comment[hu]=Bővítmény a Healpix FITS fájlok olvasásához.
Comment[it]=Estensione per leggere i file FITS di Healpix.
Comment[nb]=Programtillegg som leser Healpix FITS-filer.
Comment[nl]=Plug-in voor het lezen van Healpix FITS-bestanden.
Comment[pl]=Wtyczka do odczytywania plików Healpix FITS.
Comment[pt]=Um 'plugin' para ler os dados do FITS no Healpix.
Comment[pt_BR]=Plugin para ler arquivos do FITS no Healpix.
Comment[sk]=Plugin na čítanie súborov Healpix FITS.
Comment[sl]=Vtičnik za branje datotek Healpix FITS.
Comment[sv]=Insticksprogram för att läsa Healpix FITS-filer.
Comment[tr]=Healpix FITS dosyalarını okumak için eklenti.
Comment[uk]=Додаток для читання файлів FITS Healpix.
Comment[x-test]=xxPlugin to read Healpix FITS files.xx
