[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=healpix
X-Kst-Plugin-Author=The University of Toronto
Name=Healpix File Reader
Name[ca]=Lector de fitxers Healpix
Name[ca@valencia]=Lector de fitxers Healpix
Name[de]=Healpix-Dateileser
Name[en_GB]=Healpix File Reader
Name[es]=Lector de archivos de Healpix
Name[fr]=Lecteur de fichier Healpix
Name[hu]=Healpix fájlolvasó
Name[it]=Lettore di file Healpix
Name[nb]=Healpix filleser
Name[nl]=Healpix File Reader
Name[pl]=Czytnik plików Healpix
Name[pt]=Leitor de Ficheiros do Healpix
Name[pt_BR]=Leitor de arquivos do Healpix
Name[sk]=Čítač súborov Healpix
Name[sv]=Healpix-filläsare
Name[uk]=Засіб читання файлів Healpix
Name[x-test]=xxHealpix File Readerxx
Comment=Plugin to read Healpix FITS files.
Comment[ca]=Connector per llegir fitxers Healpix FITS.
Comment[ca@valencia]=Connector per llegir fitxers Healpix FITS.
Comment[de]=Modul zum Lesen von Healpix FITS-Bildern
Comment[en_GB]=Plugin to read Healpix FITS files.
Comment[es]=Complemento para leer archivos FITS de Healpix.
Comment[fr]=Module pour lire une des fichiers Healpix FITS.
Comment[hu]=Bővítmény a Healpix FITS fájlok olvasásához.
Comment[it]=Estensione per leggere i file FITS di Healpix.
Comment[nb]=Programtillegg som leser Healpix FITS-filer.
Comment[nl]=Plugin voor het lezen van Healpix FITS-bestanden.
Comment[pl]=Wtyczka do odczytywania plików Healpix FITS.
Comment[pt]=Um 'plugin' para ler os dados do FITS no Healpix.
Comment[pt_BR]=Plugin para ler arquivos do FITS no Healpix.
Comment[sk]=Plugin na čítanie súborov Healpix FITS.
Comment[sv]=Insticksprogram för att läsa Healpix FITS-filer.
Comment[uk]=Додаток для читання файлів FITS Healpix.
Comment[x-test]=xxPlugin to read Healpix FITS files.xx
