[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitlorentzian_weighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Gradient Lorentzian Plugin
Comment=Implements a Gradient Lorentzian Fits Plugin for Kst.
