[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=ELOG Extension
Name[ca]= Extensió ELOG
Name[cs]=ELOG rozšíření
Name[da]=ELOG-Udvidelse
Name[de]=ELOG-Erweiterung
Name[el]=Επέκταση ELOG
Name[es]=Extensión ELOG
Name[et]=ELOG laiend
Name[fr]=Extension ELOG
Name[ga]=Eisínteacht ELOG
Name[gl]=Extensión ELOG
Name[hi]=ईलॉग एक्सटेंशन
Name[hr]=ELOG ekstenzije
Name[is]=ELOG Viðbót
Name[it]=Estensione ELOG
Name[ja]=ELOG エクステンション
Name[ka]=ELOG გაფართოება
Name[nl]=ELOG-extensie
Name[pa]=ELOG ਸਹਿਯੋਗੀ
Name[pt]=Extensão ELOG
Name[pt_BR]=Extensão ELOG
Name[ru]=Расширение ELOG
Name[sr]=ELOG проширење
Name[sr@Latn]=ELOG proširenje
Name[sv]=Elog-utökning
Name[ta]=ELOG விரிவாக்கம்
Name[tg]=Пасванди ELOG
Name[tr]=ELOG Genişletmesi
Name[vi]=Phần mở rộng ELOG
Name[xx]=xxELOG Extensionxx
Type=Service
ServiceTypes=Kst Extension
X-KDE-ModuleType=Plugin
X-KDE-Library=kstextension_elog
X-Kst-Plugin-Author=The University of British Columbia
Comment=Logging extension for Kst.
Comment[ca]=Extensió de bitàcola pel Kst.
Comment[cs]=Logovací rozhraní Kst.
Comment[da]=Logningsudvidelse for Kst.
Comment[de]=Protokollierungs-Erweiterung für Kst
Comment[el]=Επέκταση καταγραφής για το Kst.
Comment[es]=Extensión de registro para Kst.
Comment[et]=Kst logimislaiend.
Comment[gl]=Extensión de rexisto para Kst.
Comment[hi]=केएसटी के लिए लॉगिंग एक्सटेंशन.
Comment[hr]=Prijavljivanje ekstenzija za Kst.
Comment[is]=Annálaritunarviðbót fyrir Kst.
Comment[it]=Estensione di log per Kst.
Comment[ja]=Kst のためのログエクステンション
Comment[ka]=ჩაწერის გაფართოება Kst-სთვის.
Comment[nl]=Logboek-extensie voor Kst.
Comment[pt]=Extensão de registos para o Kst.
Comment[pt_BR]=Extensão para o Kst
Comment[ru]=Расширение протоколирования для Kst.
Comment[sr]=Проширење за бележење за Kst.
Comment[sr@Latn]=Proširenje za beleženje za Kst.
Comment[sv]=Loggningsutökning för Kst.
Comment[ta]=கேஎஸ்டிக்கு வகைப்பெயரைப் பதித்தல் 
Comment[tg]=Боркунии пасванд барои Kst.
Comment[tr]=Kst için giriş genişletmesi.
Comment[vi]=Phần mở rộng ghi lưu cho Kst.
Comment[xx]=xxLogging extension for Kst.xx
