<!DOCTYPE kpartgui>
<kpartgui name="Kst ELOG Extension" version="6">
<MenuBar>
 <Menu name="file"><Text>&amp;File</Text>
  <Action name="elog_entry_add"/>
  <Action name="elog_launch_browser"/>
 </Menu>
 <Menu name="settings"><Text>&amp;Settings</Text>
  <Action name="elog_settings_show"/>
 </Menu>
</MenuBar>
<ToolBar name="mainToolBar">
 <Action name="elog_entry_add"/>
 <Action name="elog_launch_browser"/>
</ToolBar>
</kpartgui>

