[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitpolynomial_weighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Polynomial Weighted Plugin
Name[bs]=Dodatak polinomskog težinskog uklapanja
Name[ca]=Fits - Connector polinòmic ponderat
Name[ca@valencia]=Fits - Connector polinòmic ponderat
Name[de]=Gewichtetes Polynom-Anpassungs-Modul
Name[el]=Fits - Polynomial Weighted Πρόσθετο
Name[en_GB]=Fits - Polynomial Weighted Plugin
Name[es]=FITS - Complemento polinómico ponderado
Name[fr]=Module de régression polynomiale pondérée
Name[gl]=Axustes - Complemento polinómico ponderado
Name[it]=Estensione fits polinomiale pesata
Name[nl]=Fits - Polynomial Weighted Plugin
Name[pl]=Wtyczka dopasowania wielomianowego ważonego
Name[pt]='Plugin' de Ajuste Polinomial Ponderado
Name[pt_BR]=Plugin de ajuste polinomial ponderado
Name[sv]=Anpassning - Viktat polynom-insticksprogram
Name[uk]=Наближення: поліноміальний зважений додаток
Name[x-test]=xxFits - Polynomial Weighted Pluginxx
Comment=Implements a Polynomial Weighted Fits Plugin for Kst.
Comment[bs]=Implementira dodatak polinomskog težinskog uklapanja za Kst.
Comment[ca]=Implementa un connector Fits polinòmic ponderat pel Kst.
Comment[ca@valencia]=Implementa un connector Fits polinòmic ponderat pel Kst.
Comment[de]=Implementiert ein gewichtetes Polynom-Anpassungs-Modul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο Polynomial Weighted Fits για το Kst.
Comment[en_GB]=Implements a Polynomial Weighted Fits Plugin for Kst.
Comment[es]=Implementa un complemento FITS polinómico ponderado para Kst.
Comment[fr]=Implémente un module de régression polynomiale pondérée pour Kst.
Comment[gl]=Realiza un complemento de axuste polinómico ponderado para Kst.
Comment[it]=Implementa un'estensione fits polinomiale pesata per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor gewogen aanpassing aan een Lorentzfunctie.
Comment[pl]=Implementuje wtyczkę obiektu danych dopasowania wielomianowego ważonego dla Kst.
Comment[pt]=Implementa um 'plugin' de ajuste polinomial ponderado para o Kst.
Comment[pt_BR]=Implementa um plugin de ajuste polinomial ponderado para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för viktad polynom-anpassning.
Comment[uk]=Реалізує додаток поліноміального зваженого наближення у Kst.
Comment[x-test]=xxImplements a Polynomial Weighted Fits Plugin for Kst.xx
