[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitpolynomial_weighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Polynomial Weighted Plugin
Name[pt]='Plugin' de Ajuste Polinomial Ponderado
Name[uk]=Наближення: поліноміальний зважений додаток
Name[x-test]=xxFits - Polynomial Weighted Pluginxx
Comment=Implements a Polynomial Weighted Fits Plugin for Kst.
Comment[pt]=Implementa um 'plugin' de ajuste polinomial ponderado para o Kst.
Comment[uk]=Реалізує додаток поліноміального зваженого наближення у Kst.
Comment[x-test]=xxImplements a Polynomial Weighted Fits Plugin for Kst.xx
