[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=cdf
X-Kst-Plugin-Author=Nicolas Brisset
Name=CDF File Reader
Name[br]=Lenner ar restroù CDF
Name[ca]=Lector de fitxers CDF
Name[cs]=Čtečka CDF souborů
Name[da]=CDF fillæser
Name[de]=CDF-Betrachter
Name[el]=Αναγνώστης αρχείων CDF
Name[es]=Lector de archivos CDF
Name[et]=CDF-faili lugeja
Name[fr]=Lecteur de fichier CDF
Name[ga]=Léitheoir Comhad CDF
Name[gl]=Leitor de Ficheiros CDF
Name[hi]=सीडीएफ़ फ़ाइल रीडर
Name[hr]=CDF čitač datoteka
Name[is]=CDF skráalesari
Name[it]=Lettore file CDF
Name[ja]=CDF ファイルリーダー
Name[ka]=CDF ფაილის წამკითხველი
Name[nl]=CDF-bestandleesprogramma
Name[pa]=CDF ਫਾਇਲ ਰੀਡਰ
Name[pt]=Leitor de Ficheiros CDF
Name[pt_BR]=Leitor de Arquivos CDF
Name[ru]=Чтение файлов CDF
Name[sr]=Читач CDF фајлова
Name[sr@Latn]=Čitač CDF fajlova
Name[sv]=CDF-filläsare
Name[ta]=சிடிஎஃப் கோப்பு படிப்பான்
Name[tg]=Хонандаи файли CDF
Name[tr]=CDF Dosyası Okuyucusu
Name[vi]=Bộ đọc tập tin CDF
Name[xx]=xxCDF File Readerxx
Name[zh_CN]=CDF 文件阅读器
Comment=Implements support for reading CDF files into Kst.
Comment[ca]=Implementa el funcionament per llegir fitxers CDF en el Kst.
Comment[cs]=Podpora čtení CDF souborů pro Kst.
Comment[da]=Implementerer støtte for at læse CDF-filer i Kst.
Comment[de]=Unterstützung für das Einlesen von CDF-Dateien in Kst.
Comment[el]=Υλοποιεί την υποστήριξη για ανάγνωση αρχείων CDF στο Kst.
Comment[es]=Implementa soporte para leer archivos CDF en Kst.
Comment[et]=Kst CDF-failide lugemise toetus.
Comment[fr]=Prise en charge de la lecture des fichiers CDF dans Kst.
Comment[gl]=Permite a leitura de ficheiros CDF en Kst.
Comment[hi]=केएसटी में सीडीएफ़ फाइलें पढ़ने हेतु समर्थन इम्प्लीमेंट करता है.
Comment[hr]=Implementira podršku za čitanje CDF datoteka u Kst.
Comment[is]=Gefur stuðning við lestur CDF skráa inn í Kst.
Comment[it]=Implementa supporto per leggere file CDF in Kst.
Comment[ja]=CDF ファイルの Kst への読み込みをサポート
Comment[ka]=ასრულებს  CDF ფაილების Kst-ით წაკითხვას.
Comment[nl]=Implementeert de ondersteuning voor het inlezen van CDF-bestanden in Kst.
Comment[pt]=Implementa o suporte para a leitura de ficheiros do CDF no Kst.
Comment[pt_BR]=Implementa o suporte a leitura de arquivos CDF  dentro do Kst.
Comment[sr]=Имплементира подршку за читање CDF фајлова у Kst.
Comment[sr@Latn]=Implementira podršku za čitanje CDF fajlova u Kst.
Comment[sv]=Implementerar stöd för att läsa in CDF-filer i Kst.
Comment[ta]=Kstக்குள் சிடிஎஃப் கோப்புகளை பட்டி ஆதரவை செயலாக்குகிறது.
Comment[tg]=Иҷро намудани пуштибонӣ барои хондани файлҳои CDF ба Kst.
Comment[tr]=Kst içine CDF dosyalarını okuma desteği sağlar.
Comment[vi]=Thực hiện vào Kst khả năng đọc các tập tin CDF.
Comment[xx]=xxImplements support for reading CDF files into Kst.xx
Comment[zh_CN]=将 CDF 文件读入 Kst 的应用支持。
