[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=planckIDEF
X-Kst-Plugin-Author=The University of Toronto
Name=Planck IDIS DMC Exchange Format Reader
Name[bs]=Planck IDIS DMC izmjenjivač čitača formata
Name[ca]=Lector de format d'intercanvi IDIS DMC de Planck
Name[ca@valencia]=Lector de format d'intercanvi IDIS DMC de Planck
Name[de]=Planck-IDIS-DMC-Austauschformatleser
Name[el]=Planck IDIS DMC πρόγραμμα ανάγνωσης για ανταλλαγή συνεργαζόμενων αρχείων
Name[en_GB]=Planck IDIS DMC Exchange Format Reader
Name[eo]=Planck IDIS DMC Exchange Format Reader
Name[es]=Lector del formato de intercambio IDIS DMC de Planck
Name[et]=Planck IDIS DMC Exchange vormingu lugeja
Name[fr]=Lecteur de format « Planck IDIS DMC Exchange »
Name[gl]=Lector para o formato de intercambio Planck IDIS DMC
Name[it]=Lettore del formato di scambio di Planck IDIS DMC
Name[nb]=Leser for Planck IDIS DMC utvekslingsformat
Name[nl]=Planck IDIS DMC Exchange Format Reader
Name[pl]=Czytnik formatu wymiany Planck IDIS DMC
Name[pt]=Leitor do Formato de Intercâmbio do IDIS DMC do Planck
Name[pt_BR]=Leitor do formato de intercâmbio do IDIS DMC do Planck
Name[sl]=Bralnik formatov izmenjave Planck IDIS DMC
Name[sv]=Läsare av Planck IDIS DMC-utbytesformat
Name[tr]=Planck IDIS DMC Exchange Biçimi Okuyucusu
Name[uk]=Засіб читання даних у форматі обміну Planck IDIS DMC
Name[x-test]=xxPlanck IDIS DMC Exchange Format Readerxx

