[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=periodogram
X-Kst-Plugin-Author=The University of Toronto
Name=Periodogram Data Object Plugin
Name[bs]=Dodatak periodograma objekta podatka
Name[ca]=Connector d'objecte de dades de periodograma
Name[ca@valencia]=Connector d'objecte de dades de periodograma
Name[de]=Wellenschaubild-Datenobjekt-Modul
Name[el]=Πρόσθετο αντικειμένων δεδομένων περιοδογράμματος
Name[en_GB]=Periodogram Data Object Plugin
Name[es]=Complemento de objeto de datos de periodograma
Name[fr]=Module DataObject de périodogramme
Name[gl]=Complemento de obxecto de datos de periodograma
Name[it]=Estensione oggetto dati di periodogramma
Name[nl]=Periodogram Data Object Plugin
Name[pl]=Wtyczka obiektu danych periodogramu
Name[pt]='Plugin' de Objectos de Dados de Medição do Período
Name[pt_BR]=Plugin de objeto de dados de medição do período
Name[sv]=Dataobjekt-insticksprogram för periodogram
Name[uk]=Додаток для роботи з об’єктами періодограм даних
Name[x-test]=xxPeriodogram Data Object Pluginxx
Comment=Implements a Periodogram Data Object Plugin for Kst.
Comment[bs]=Implementira dodatak periodograma objekta podatka za Kst.
Comment[ca]=Implementa un connector d'objecte de dades de periodograma pel Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades de periodograma pel Kst.
Comment[de]=Implementiert ein Wellenschaubild-Datenobjekt-Modul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο για αντικείμενα δεδομένων περιοδογράμματος για το Kst.
Comment[en_GB]=Implements a Periodogram Data Object Plugin for Kst.
Comment[es]=Implementa un complemento de objeto de datos de periodograma para Kst.
Comment[fr]=Implémente un module DataObject de périodogramme pour Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de periodograma para Kst.
Comment[it]=Implementa un'estensione oggetto dati di periodogramma per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor periodogram.
Comment[pl]=Implementuje wtyczkę obiektu danych periodogramu dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de medição de períodos para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de medição do período para o Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för periodogram.
Comment[uk]=Реалізує додаток для роботи з об’єктами періодограм даних у Kst.
Comment[x-test]=xxImplements a Periodogram Data Object Plugin for Kst.xx
