[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=periodogram
X-Kst-Plugin-Author=The University of Toronto
Name=Periodogram Data Object Plugin
Name[uk]=Додаток для роботи з об’єктами періодограм даних
Name[x-test]=xxPeriodogram Data Object Pluginxx
Comment=Implements a Periodogram Data Object Plugin for Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами періодограм даних у Kst.
Comment[x-test]=xxImplements a Periodogram Data Object Plugin for Kst.xx
