[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Extension
X-KDE-ModuleType=Plugin
X-KDE-Library=kstextension_js
X-Kst-Plugin-Author=The University of Toronto
X-Kst-Extension-Name=js
Name=JavaScript Extension
Name[ca]=Extensió JavaScript
Name[cs]=JavaScript rozšíření
Name[da]=JavaScript udvidelse
Name[de]=JavaScript-Erweiterung
Name[el]=Επέκταση JavaScript
Name[es]=Extensión JavaScript
Name[et]=JavaScripti laiend
Name[fr]=Extension JavaScript
Name[ga]=Eisínteacht JavaScript
Name[gl]=Extensión JavaScript
Name[hi]=जावा-स्क्रिप्ट विस्तार
Name[hr]=JavaScript ekstenzije
Name[is]=JavaScript viðbót
Name[it]=Estensione JavaScript
Name[ja]=JavaScript エクステンション
Name[ka]=JavaScript-ის გაფართოება
Name[nl]=JavaScript-extensie
Name[pa]=JavaScript ਸਹਿਯੋਗ
Name[pt]=Extensão JavaScript
Name[pt_BR]=Extensão JavaScript
Name[ru]=Расширение JavaScript
Name[sr]=JavaScript проширење
Name[sr@Latn]=JavaScript proširenje
Name[sv]=Javaskript-utökning
Name[ta]=ஜாவா ஸ்கிரிப்ட் வகைப்பெயர்
Name[tg]=Пасванди JavaScript
Name[tr]=JavaScript Genişletmesi
Name[vi]=Phần mở rộng JavaScript
Name[xx]=xxJavaScript Extensionxx
Name[zh_CN]=JaveScript 扩展
Comment=Allows the user to script Kst internally with JavaScript.
Comment[ca]=Permet a l'usuari que faci seqüències pel Kst internament amb JavaScript.
Comment[cs]=Umožňuje skriptování pro Kst v JavaScriptu.
Comment[da]=Tillader brugeren at scripte Kst internt med JavaScript.
Comment[de]=Ermöglicht dem Benutzer, Kst intern mit JavaScript zu steuern
Comment[el]=Επιτρέπει στο χρήστη να γράφει σενάρια εσωτερικά για το Kst με την JavaScript.
Comment[es]=Permite al usuario programar Kst desde JavaScript.
Comment[et]=Võimaldab tarvitada Kst-s JavaScripti-põhiseid skripte.
Comment[fr]=Permet à l'utilisateur de scripter Kst avec JavaScript
Comment[gl]=Permite-lle ao usuário programar internamente Kst con JavaScript.
Comment[hi]=उपयोक्ता को केएसटी को आंतरिक रूप से केएसटी को जावास्क्रिप्ट के साथ स्क्रिप्ट करने देता है.
Comment[hr]=Korisnicima dopušta interno Kst skriptiranje pomoću JavaScripta.
Comment[is]=Gefur notandanum færi á að skrifta innviði Kst með JavaScript.
Comment[it]=Permette all'utente di eseguire internamente Kst con JavaScript.
Comment[nl]=Maakt het voor de gebruiker mogelijk om Kst intern te scripten via JavaScript.
Comment[pt]=Permite ao utilizador programar internamente o Kst com JavaScript.
Comment[pt_BR]=Permite ao usuário usar script Kst internamente como o JavaScript.
Comment[sr]=Омогућава кориснику да интерно скриптује Kst помоћу JavaScript-а.
Comment[sr@Latn]=Omogućava korisniku da interno skriptuje Kst pomoću JavaScript-a.
Comment[sv]=Låter användaren skapa skript internt i Kst med Javaskript.
Comment[ta]=பயனரை Kst ஸ்கிரிப்ட்ற்கு மற்றும் ஜாவா ஸ்கிரிப்ட்ற்கும் அனுமதி.
Comment[tg]=Иҷозат намудани дастнависи Kst бо JavaScript барои истифодабаранда.
Comment[tr]=Kullanıcının Kst'yi dahili olarak JavaScript'le porgramlamasına yarar
Comment[vi]=Cho người dùng có khả năng ghi văn lệnh JavaScript điều khiển Kst một cách cục bộ.
Comment[xx]=xxAllows the user to script Kst internally with JavaScript.xx
Comment[zh_CN]=允许用户使用 JavaScript 从内部写 Kst 脚本
