.mainPage {
	background-color: #FFFFFF;
	font-family: verdana;
	font-size: 10pt;
	text-align: left;
}

div.mainPageInner {
	padding-left: 15px;
	padding-right: 10px;
	width: 100%;
}

.title {
	text-align: left;
	font-size: 14pt;
	font-weight: bold;
	color: #18296B;
}

.subTitle {
	text-align: left;
	font-size: 14pt;
	font-weight: normal;
	color: #18296B;
}

.subHeader {
	color: #18296B;
	font-size: 18pt;
	font-weight: bold;
	font-family: verdana;
}

.topHeader {
	font-family: verdana;
	font-weight: bold;
	font-size: 18pt;
}

.header {
	text-align: left;
	width: 50%;
	position: absolute;
	
	float: left;
}

.headerMain {
	text-align: center;
	width: 100%;
	position: absolute;
	float: left;
}


.parameters {
	background-color: #F0F0F0;
}

.classInfo {
	border-top: solid;
	border-right: solid;
	border-bottom: solid;
	border-left: solid;
	border-width: 3px;
	padding-top: 7px;
	padding-right: 7px;
	padding-left: 7px;
	padding-bottom: 7px;
	border-color: #EBEBEB;
}

a.link {
	color: #0000FF;
	font-weight: normal;
	text-decoration: none;
}

a.link:hover {
	background-color: #0000FF;
	color: #FFFFFF;
	text-decoration: underline, overline;
}
