[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_convolve
X-Kst-Plugin-Author=Andrew Walker
Name=Convolution
Name[ca]=Convolució
Name[da]=Foldning
Name[de]=Faltung
Name[el]=Συγκερασμός
Name[es]=Convolución
Name[et]=Konvolutsioon
Name[ga]=Conbhlóid
Name[it]=Convoluzione
Name[nl]=Convolutie
Name[pt]=Convolução
Name[sv]=Faltning
Name[vi]=Quấn lại
Comment=Generates the convolution of one vector with another.
Comment[ca]=Genera la convolució d'un vector amb un altre.
Comment[da]=Opretter foldningen af to vektorer.
Comment[de]=Erzeugt die Faltung eines Vektors mit einem anderen.
Comment[el]=Δημιουργεί το συγκερασμό ενός διανύσματος με κάποιο άλλο.
Comment[es]=Genera la convolución de un vector con otro.
Comment[et]=Genereerib kahe vektori konvolutsiooni.
Comment[it]=Genera la convoluzione di un vettore con un altro.
Comment[nl]=Genereert de convolutie van een vector met een andere vector.
Comment[pt]=Gera a convolução de um vector com outro.
Comment[pt_BR]=Gera a convolução de um vetor com outro.
Comment[sv]=Skapar faltningen av en vektor med en annan.
Comment[vi]=Tạo ra sự quấn lại của véc-tơ này với véc-tơ khác.
