[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitlorentzian_unweighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Lorentzian Plugin
Name[bs]=Dodatak Lorentzovog uklapanja
Name[ca]=Fits - Connector de Lorentz
Name[ca@valencia]=Fits - Connector de Lorentz
Name[de]=Lorentz-Anpassungs-Modul
Name[el]=Fits - Lorentzian Πρόσθετο
Name[en_GB]=Fits - Lorentzian Plugin
Name[es]=FITS - Complemento de Lorentz
Name[fr]=Module de régression linéaire lorentzienne
Name[gl]=Axustes - Complemento de Lorentz
Name[it]=Estensione fits lorentziana
Name[nl]=Fits - Lorentzian Plugin
Name[pl]=Wtyczka dopasowania Lorentza
Name[pt]='Plugin' de Ajuste de Lorentz
Name[pt_BR]=Plugin de ajuste de Lorentz
Name[sv]=Anpassning - Lorentzinsticksprogram
Name[uk]=Наближення: лоренців додаток
Name[x-test]=xxFits - Lorentzian Pluginxx
Comment=Implements a Lorentzian Fits Plugin for Kst.
Comment[bs]=Implementira dodatak Lorentzovog uklapanja za Kst.
Comment[ca]=Implementa un connector Fits de Lorentz pel Kst.
Comment[ca@valencia]=Implementa un connector Fits de Lorentz pel Kst.
Comment[de]=Implementiert ein Lorentz-Anpassungs-Modul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο Lorentzian Fits για το Kst.
Comment[en_GB]=Implements a Lorentzian Fits Plugin for Kst.
Comment[es]=Implementa un complemento FITS de Lorentz para Kst.
Comment[fr]=Implémente un module de régression linéaire lorentzienne pour Kst.
Comment[gl]=Realiza un complemento de axuste de Lorentz para Kst.
Comment[it]=Implementa un'estensione fits lorentziana per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor aanpassing aan Lorentzfunctie.
Comment[pl]=Implementuje wtyczkę obiektu danych dopasowania Lorentza dla Kst.
Comment[pt]=Implementa um 'plugin' de ajuste de Lorentz para o Kst.
Comment[pt_BR]=Implementa um plugin de ajuste de Lorentz para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för Lorentzanpassning.
Comment[uk]=Реалізує додаток лоренцевого наближення у Kst.
Comment[x-test]=xxImplements a Lorentzian Fits Plugin for Kst.xx
