[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitlorentzian_unweighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Lorentzian Plugin
Name[uk]=Наближення: лоренців додаток
Name[x-test]=xxFits - Lorentzian Pluginxx
Comment=Implements a Lorentzian Fits Plugin for Kst.
Comment[uk]=Реалізує додаток лоренцевого наближення у Kst.
Comment[x-test]=xxImplements a Lorentzian Fits Plugin for Kst.xx
