[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitsinusoid_unweighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Sinusoid Plugin
Name[uk]=Наближення: синусоїдальний додаток
Name[x-test]=xxFits - Sinusoid Pluginxx
Comment=Implements a Sinusoid Fits Plugin for Kst.
Comment[uk]=Реалізує додаток синусоїдального наближення у Kst.
Comment[x-test]=xxImplements a Sinusoid Fits Plugin for Kst.xx
