[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitexponential_unweighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Exponential Plugin
Name[ca]=Fits - Connector exponencial
Name[de]=Exponential-Anpassungs-Modul
Name[fr]=Module de régression exponentielle
Name[pt]='Plugin' de Ajuste Exponencial
Name[pt_BR]=Plugin de ajuste exponencial
Name[sv]=Anpassning - Exponentiellt insticksprogram
Name[uk]=Додаток степеневого наближення
Name[x-test]=xxFits - Exponential Pluginxx
Comment=Implements a Exponential Fits Plugin for Kst.
Comment[ca]=Implementa un connector Fits exponencial pel Kst.
Comment[de]=Implementiert ein Exponential-Anpassungs-Modul für Kst.
Comment[fr]=Implémente un module de régression exponentielle pour Kst.
Comment[pt]=Implementa um 'plugin' de ajuste exponencial para o Kst.
Comment[pt_BR]=Implementa um plugin de ajuste exponencial para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för exponentiell anpassning.
Comment[uk]=Реалізує додаток степеневого наближення у Kst.
Comment[x-test]=xxImplements a Exponential Fits Plugin for Kst.xx
