[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitexponential_unweighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Exponential Plugin
Comment=Implements a Exponential Fits Plugin for Kst.
