[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=polynomialinterpolation
X-Kst-Plugin-Author=The University of Toronto
Name=Polynomial Interpolation Data Object Plugin
Name[pt]='Plugin' de Objectos de Dados de Interpolação Polinomial
Name[uk]=Додаток для роботи з об’єктами поліноміальної інтерполяції даних
Name[x-test]=xxPolynomial Interpolation Data Object Pluginxx
Comment=Implements a Polynomial Interpolation Data Object Plugin for Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados com a interpolação polinomial para o Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами поліноміальної інтерполяції даних у Kst.
Comment[x-test]=xxImplements a Polynomial Interpolation Data Object Plugin for Kst.xx
