[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=healpix
X-Kst-Plugin-Author=The University of Toronto
Name=Healpix File Reader
Name[de]=Healpix-Dateileser
Name[fr]=Lecteur de fichier Healpix
Name[nl]=Lezer voor Healpix-bestand
Name[pt]=Leitor de Ficheiros do Healpix
Name[pt_BR]=Leitor de arquivos do Healpix
Name[sv]=Healpix-filläsare
Name[uk]=Засіб читання файлів Healpix
Name[x-test]=xxHealpix File Readerxx
Comment=Plugin to read Healpix FITS files.
Comment[de]=Modul zum Lesen von Healpix FITS-Bildern
Comment[fr]=Module pour lire une des fichiers Healpix FITS.
Comment[nl]=Plugin voor het lezen van Healpix FITS-bestanden.
Comment[pt]=Um 'plugin' para ler os dados do FITS no Healpix.
Comment[pt_BR]=Plugin para ler arquivos do FITS no Healpix.
Comment[sv]=Insticksprogram för att läsa Healpix FITS-filer.
Comment[uk]=Додаток для читання файлів FITS Healpix.
Comment[x-test]=xxPlugin to read Healpix FITS files.xx
