[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=healpix
X-Kst-Plugin-Author=The University of Toronto
Name=Healpix File Reader
Name[br]=Lenner ar restroù Healpix
Name[ca]=Lector de fitxer Healpix
Name[cs]=Čtečka Healpix souborů
Name[da]=Healpix fillæser
Name[de]=Healpix-Betrachter
Name[el]=Αναγνώστης αρχείων Healpix
Name[es]=Lector de archivos Healpix
Name[et]=Healpix-faili lugeja
Name[ga]=Léitheoir Comhad Healpix
Name[gl]=Leitor de Arquivos Healpix
Name[hr]=Healpix čitač datoteka
Name[is]=Healpix skráalesari
Name[it]=Lettore file Healpix
Name[ja]=Healpix ファイルリーダー
Name[ka]=Healpix ფაილის წამკითხველი
Name[nl]=Healpix-bestandleesprogramma
Name[pa]=ਹੀਲਪਿਕਸ ਫਾਇਲ ਰੀਡਰ
Name[pt]=Leitor de Ficheiros Healpix
Name[pt_BR]=Leitor de Arquivos Healpix
Name[sr]=Читач Healpix фајлова
Name[sr@Latn]=Čitač Healpix fajlova
Name[sv]=Healpix-filläsare
Name[tg]=Хонандаи Файли Healpix
Name[vi]=Bộ đọc tập tin Healpix
Name[xx]=xxHealpix File Readerxx
Comment=Plugin to read Healpix FITS files.
Comment[br]=Lugent evit lenn ar restroù FITS.
Comment[ca]=Connector per llegir fitxers FITS Healpix.
Comment[cs]=Modul pro čtení Healpix FITS obrázků.
Comment[da]=Plugin til at læse Healpix FITS filer.
Comment[de]=Modul zum Lesen von Healpix FITS-Bildern
Comment[el]=Πρόσθετο για ανάγνωση αρχείων Healpix FITS.
Comment[es]=Plugin para leer archivos en formato Healpix FITS.
Comment[et]=Plugin Healpix FITS-failide lugemiseks.
Comment[ga]=Breiseán a léann comhaid Healpix FITS.
Comment[gl]= Plugin para ler ficheiros Healpix FITS.
Comment[hr]=Dodatak za čitanje Healpix FITS slika.
Comment[is]=Íforrit til að lesa Healpix FITS skrár.
Comment[it]=Plugin per leggere i file Healpix FITS.
Comment[ja]=Healpix FITS ファイルを読むためのプラグイン
Comment[ka]=Healpix FITS ფაილების წამკითხველი მოდული.
Comment[nl]=Plugin voor het lezen van Healpix FITS-bestanden.
Comment[pt]=Um 'plugin' para ler ficheiros FITS do Healpix.
Comment[pt_BR]=Plugin para a leitura de uma imagem FITS.
Comment[sv]=Insticksprogram för att läsa Healpix FITS-filer.
Comment[vi]=Bổ sung đọc tập tin kiểu Healpix FITS.
Comment[xx]=xxPlugin to read Healpix FITS files.xx
