[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=healpix
X-Kst-Plugin-Author=The University of Toronto
Name=Healpix File Reader
Comment=Plugin to read Healpix FITS files.
