[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=movingaverage
X-Kst-Plugin-Author=Jonathan Liu
Name=Moving Average Data Object Plugin
Comment=Implements a Moving Average Data Object Plugin for Kst.
