[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=movingaverage
X-Kst-Plugin-Author=Jonathan Liu
Name=Moving Average Data Object Plugin
Name[ca]=Connector d'objecte de dades de mitjana mòbil
Name[ca@valencia]=Connector d'objecte de dades de mitjana mòbil
Name[es]=Complemento de objeto de datos de media móvil
Name[nl]=Lopend gemiddelde plug-in voor gegevensobject
Name[sl]=Vtičnik drsečega povprečja podatkovnega predmeta
Name[sv]=Dataobjekt-insticksprogram för rörligt medelvärde
Name[tr]=Hareketli Ortalama Veri Nesnesi Eklentisi
Name[uk]=Додаток для роботи з об’єктами рухомого середнього даних
Name[x-test]=xxMoving Average Data Object Pluginxx
Comment=Implements a Moving Average Data Object Plugin for Kst.
Comment[ca]=Implementa un connector d'objecte de dades de mtjana mòbil per al Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades de mtjana mòbil per a Kst.
Comment[es]=Implementa un complemento de objeto de datos de media móvil para Kst.
Comment[nl]=Implementeert een plug-in voor een gegevensobject in Kst voor lopend gemiddelde
Comment[sl]=Implementira vtičnik drsečega povprečja podatkovnega predmeta za Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för rörligt medelvärde.
Comment[tr]=Kst için bir Hareketli Ortalama Veri Nesnesi Eklentisi uygular.
Comment[uk]=Реалізує додаток для роботи з об’єктами рухомого середнього даних у Kst.
Comment[x-test]=xxImplements a Moving Average Data Object Plugin for Kst.xx
