[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=sourcelist
X-Kst-Plugin-Author=C. Barth Netterfield
Name=Data Source List
Name[de]=Datenquellenliste
Name[fr]=Liste de sources de données
Name[pt]=Lista de Fontes de Dados
Name[pt_BR]=Lista de fontes de dados
Name[sv]=Lista över datakällor
Name[uk]=Список джерел даних
Name[x-test]=xxData Source Listxx
