[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=sourcelist
X-Kst-Plugin-Author=C. Barth Netterfield
Name=Data Source List
Name[bs]=Lista izvora podataka
Name[ca]=Llista de fonts de les dades
Name[ca@valencia]=Llista de fonts de les dades
Name[de]=Datenquellenliste
Name[el]=Λίστα πηγών δεδομένων
Name[en_GB]=Data Source List
Name[es]=Lista de fuentes de datos
Name[fr]=Liste de sources de données
Name[gl]=Lista de fontes de datos
Name[it]=Elenco fonte dati
Name[nb]=Datakilde-liste
Name[nl]=Lijst met gegevensbronnen
Name[pl]=Wykaz danych źródłowych
Name[pt]=Lista de Fontes de Dados
Name[pt_BR]=Lista de fontes de dados
Name[sk]=Zoznam zdrojov údajov
Name[sv]=Lista över datakällor
Name[uk]=Список джерел даних
Name[x-test]=xxData Source Listxx
