[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=phase
X-Kst-Plugin-Author=The University of Toronto
Name=Phase Data Object Plugin
Name[ca]=Connector d'objecte de dades de fase
Name[de]=Phasen-Datenobjekt-Modul
Name[fr]=Module DataObject de phase
Name[it]=Estensione oggetto dati di fase
Name[nl]=Plug-in voor object met fase-gegevens
Name[pt]='Plugin' de Objectos de Dados de Fase
Name[pt_BR]=Plugin de objeto de dados de fase
Name[sv]=Fasdataobjekt-insticksprogram
Name[uk]=Додаток для роботи з об’єктами фазових даних
Name[x-test]=xxPhase Data Object Pluginxx
Comment=Implements a Phase Data Object Plugin for Kst.
Comment[ca]=Implementa un connector d'objecte de dades de fase pel Kst.
Comment[de]=Implementiert ein Phasen-Datenobjekt-Modul für Kst.
Comment[fr]=Implémente un module DataObject de phase pour Kst.
Comment[it]=Implementa un'estensione oggetto dati di fase per Kst.
Comment[nl]=Implementeert een plug-in voor object met fase-gegevens voor Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de ajuste de fase para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de fase para o Kst.
Comment[sv]=Implementerar ett Kst fasdataobjekt-insticksprogram.
Comment[uk]=Реалізує додаток для роботи з об’єктами фазових даних у Kst.
Comment[x-test]=xxImplements a Phase Data Object Plugin for Kst.xx
