[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=phase
X-Kst-Plugin-Author=The University of Toronto
Name=Phase Data Object Plugin
Comment=Implements a Phase Data Object Plugin for Kst.
