[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_deconvolve
X-Kst-Plugin-Author=Andrew Walker
Name=Deconvolution
Name[ca]=Deconvolució
Name[da]=Affoldning
Name[de]=Entfaltung
Name[el]=Αποσυγκερασμός
Name[es]=Deconvolución
Name[et]=Dekonvolutsioon
Name[ga]=Díchonbhlóid
Name[it]=Deconvoluzione
Name[nl]=Deconvolutie
Name[pt]=Desconvolução
Name[sv]=Avfaltning
Name[vi]=Bỏ quấn lại
Comment=Generates the deconvolution of one vector with another.
Comment[ca]=Genera la deconvolució d'un vector amb un altre.
Comment[da]=Generere dekonvolution af en vektor med en anden.
Comment[de]=Erzeugt die Entfaltung eines Vektors mit einem anderen.
Comment[el]=Δημιουργεί τον αποσυγκερασμό ενός διανύσματος με ένα άλλο.
Comment[es]=Genera la deconvolución de un vector con otro.
Comment[et]=Genereerib kahe vektori dekonvolutsiooni.
Comment[it]=Genera la deconvoluzione di un vettore con un altro.
Comment[nl]=Genereert de deconvolutie van een vector met een andere vector.
Comment[pt]=Gera a desconvolução de um vector com outro.
Comment[pt_BR]=Gera a deconvolução de um vetor com outro.
Comment[sv]=Skapar avfaltningen av en vektor med en annan.
Comment[vi]=Tạo ra sự bỏ quấn lại của véc-tơ này với véc-tơ khác.
