[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_crossspectrum
X-Kst-Plugin-Author=Barth Netterfield
Name=Cross Power Spectrum
Name[ca]=Espectre de potència creuat
Name[da]=Krydskorreleret effektspektrum
Name[el]=Φάσμα ισχύος
Name[es]=Cruce de espectros de potencias
Name[et]=Ristvõimsusspekter
Name[it]=Spettro di potenza incrociato
Name[nl]=Kruisenergiepectrum
Name[pt]=Espectro de Potência Cruzado
Name[sv]=Korskorrelerat effektspektrum
Name[vi]=Quang phổ lũy thừa chéo
Comment=Generates the cross power spectrum of one vector with another.
Comment[ca]=Genera l'espectre de potència creuat d'un vector amb un altre.
Comment[da]=Opretter et krydskorreleret effektspektrum af to vektorer
Comment[de]=Genriert das Cross Power Spectrum eines Vektors mit einem anderen.
Comment[el]=Δημιουργεί το φάσμα ισχύος ενός διανύσματος σε σχέση με κάποιο άλλο.
Comment[es]=Genera el cruce de los espectros de potencias de un vector con otro.
Comment[et]=Genereerib kahe vektori ristvõimsusspektri.
Comment[it]=Genera lo spettro di potenza incrociato di un vettore con un altro.
Comment[nl]=Genereert het kruisenergiespectrum van een vector met een andere vector.
Comment[pt]=Gera o espectro de potência cruzado de um vector com outro.
Comment[pt_BR]=Gera o espectro de força cruzado de um vetor com outro.
Comment[sv]=Skapar ett Korskorrelerat effektspektrum av en vektor med en annan.
Comment[vi]=Tạo ra quang phổ lũi thừa chéo của véc-tơ này với véc-tơ khác.
