[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=netcdf
X-Kst-Plugin-Author=Nicolas Brisset
Name=netCDF File Reader
Name[de]=netCDF-Dateileser
Name[pt]=Leitor de Ficheiros do netCDF
Name[sv]=netCDF-filläsare
Name[uk]=Засіб читання файлів netCDF
Name[x-test]=xxnetCDF File Readerxx
Comment=Implements support for reading netCDF files into Kst.
Comment[de]=Unterstützung für das Einlesen von netCDF-Dateien in Kst
Comment[pt]=Implementa o suporte para ler os ficheiros do netCDF no Kst.
Comment[sv]=Implementerar stöd för att läsa netCDF-filer i Kst.
Comment[uk]=Реалізує підтримку читання файлів netCDF у Kst.
Comment[x-test]=xxImplements support for reading netCDF files into Kst.xx
