[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=netcdf
X-Kst-Plugin-Author=Nicolas Brisset
Name=netCDF File Reader
Name[ca]=Lector de fitxers netCDF
Name[ca@valencia]=Lector de fitxers netCDF
Name[de]=netCDF-Dateileser
Name[en_GB]=netCDF File Reader
Name[es]=Lector de archivos netCDF
Name[fr]=Lecteur de fichier netCDF
Name[it]=Lettore di file netCDF
Name[nb]=netCDF filleser
Name[nl]=netCDF File Reader
Name[pl]=Czytnik plików netCDF
Name[pt]=Leitor de Ficheiros do netCDF
Name[pt_BR]=Leitor de arquivos do netCDF
Name[sk]=Čítač súborov netCDF
Name[sv]=netCDF-filläsare
Name[uk]=Засіб читання файлів netCDF
Name[x-test]=xxnetCDF File Readerxx
Comment=Implements support for reading netCDF files into Kst.
Comment[ca]=Implementació que permet llegir fitxers netCDF en el Kst.
Comment[ca@valencia]=Implementació que permet llegir fitxers netCDF en el Kst.
Comment[de]=Unterstützung für das Einlesen von netCDF-Dateien in Kst
Comment[en_GB]=Implements support for reading netCDF files into Kst.
Comment[es]=Implementa la lectura de archivos netCDF en Kst.
Comment[fr]=Implémente la prise en charge de la lecture de fichiers netCDF dans Kst.
Comment[it]=Implementa il supporto per la lettura di file netCDF con Kst. 
Comment[nb]=Legger til støtte for å lese netCDF-filer i Kst.
Comment[nl]=Implementeert ondersteuning voor het lezen van netCDF-bestanden in Kst.
Comment[pl]=Implementuj obsługę odczytu plików netCDF w Kst.
Comment[pt]=Implementa o suporte para ler os ficheiros do netCDF no Kst.
Comment[pt_BR]=Implementa o suporte para leitura de arquivos do netCDF no Kst.
Comment[sv]=Implementerar stöd för att läsa netCDF-filer i Kst.
Comment[uk]=Реалізує підтримку читання файлів netCDF у Kst.
Comment[x-test]=xxImplements support for reading netCDF files into Kst.xx
