[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=netcdf
X-Kst-Plugin-Author=Nicolas Brisset
Name=netCDF File Reader
Name[bg]=Четене на файлове netCDF
Name[br]=Lenner ar restroù netCDF
Name[ca]=Lector de fitxers netCDF
Name[cs]=Čtečka netCDF souborů
Name[da]=netCDF-fillæser
Name[de]=netCDF-Dateileser
Name[el]=Αναγνώστης αρχείων netCDF
Name[es]=Lector de archivos netCDF
Name[et]=netCDF-faili lugeja
Name[ga]=Léitheoir Comhad netCDF
Name[gl]=Leitor de Arquivos netCDF
Name[hr]=netCDF čitač datoteka
Name[is]=netCDF skráalesari
Name[it]=Lettore file netCDF
Name[ja]=netCDF ファイルリーダー
Name[ka]=netCDF ფაილის წამკითხველი
Name[nds]=netCDF-Dateiinleser
Name[nl]=netCDF-bestandenlezer
Name[pa]=netCDF ਫਾਇਲ ਰੀਡਰ
Name[pt]=Leitor de Ficheiros netCDF
Name[pt_BR]=Leitor de Arquivos netCDF
Name[sr]=Читач netCDF фајлова
Name[sr@Latn]=Čitač netCDF fajlova
Name[sv]=netCDF-filläsare
Name[ta]=netCDF கோப்பு படிப்பான்
Name[tg]=Хонандаи файли netCDF
Name[tr]=netCDF Dosyası Okuyucusu
Name[vi]=Bộ đọc tập tin netCDF
Name[xx]=xxnetCDF File Readerxx
Name[zh_CN]=netCDF 文件阅读器
Comment=Implements support for reading netCDF files into Kst.
Comment[bg]=Поддръжка за четене на netCDF-файлове в Kst.
Comment[ca]=Implementa el funcionament per llegir fitxers netCDF en el Kst.
Comment[cs]=Podpora čtení netCDF souborů pro Kst.
Comment[da]=Implementerer støtte for at læse netCDF-filer i Kst.
Comment[de]=Unterstützung für das Einlesen von netCDF-Dateien in Kst.
Comment[el]=Υλοποιεί την υποστήριξη για ανάγνωση αρχείων netCDF στο Kst.
Comment[es]=Implementa soporte para leer archivos netCDF en Kst.
Comment[et]=Kst netCDF-failide lugemise toetus.
Comment[gl]=Permite a leitura de ficheiros netCDF en Kst.
Comment[hr]=Implementira podršku za čitanje netCDF datoteka u Kst.
Comment[is]=Gefur stuðning við lestur netCDF skráa inn í Kst.
Comment[it]=Implementa supporto per leggere file netCDF in Kst.
Comment[ja]=netCDF ファイルの Kst への読み込みをサポート
Comment[ka]=უზრუნველყოფს netCDF ფაილების Kst-ში წაკითხვას.
Comment[nds]=Stellt Ünnerstütten för't Inlesen vun netCDF-Dateien na Kst praat.
Comment[nl]=Implementeert de ondersteuning voor het inlezen van netCDF-bestanden in Kst.
Comment[pt]=Implementa o suporte para a leitura de ficheiros do netCDF no Kst.
Comment[pt_BR]=Implementa o suporte para a leitura de arquivos netCDF  dentro do Kst.
Comment[sr]=Имплементира подршку за читање netCDF фајлова у Kst.
Comment[sr@Latn]=Implementira podršku za čitanje netCDF fajlova u Kst.
Comment[sv]=Implementerar stöd för att läsa in netCDF-filer i Kst.
Comment[ta]=Kstக்குள் netCDF கோப்புகளை படிக்க ஆதரவை அமுலாக்குகிறது
Comment[tg]=Иҷро намудани пуштибонӣ барои хондани файлҳои netCDF ба Kst.
Comment[tr]=Kst içine netCDF dosyalarını okuma desteği sağlar.
Comment[vi]=Cài đặt hỗ trợ đọc tập tin netCDF vào Kst.
Comment[xx]=xxImplements support for reading netCDF files into Kst.xx
Comment[zh_CN]=将 netCDF 文件读入 Kst 的应用支持。
