[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=genericfilter
X-Kst-Plugin-Author=The University of Toronto
Name=Generic Filter Data Object Plugin
Name[bs]=Dodatak općeg filtera objekta podatka
Name[ca]=Connector d'objecte de filtre genèric
Name[ca@valencia]=Connector d'objecte de filtre genèric
Name[de]=Datenobjekt-Modul für allgemeine Filter
Name[el]=Πρόσθετο αντικειμένων δεδομένων γενικών φίλτρων
Name[en_GB]=Generic Filter Data Object Plugin
Name[es]=Complemento de objeto de datos de filtrado genéricos
Name[fr]=Module DataObject de filtre générique
Name[gl]=Complemento de obxecto de datos de filtro xenérico
Name[it]=Estensione oggetto dati filtro generico
Name[nl]=Generic Filter Data Object Plugin
Name[pl]=Wtyczka obiektu danych zwykłego filtra
Name[pt]='Plugin' de Objectos de Dados de Filtro Genérico
Name[pt_BR]=Plugin de objetos de dados de filtro genérico
Name[sv]=Dataobjekt-insticksprogram för generellt filter
Name[uk]=Додаток для роботи з об’єктами загального фільтрування даних
Name[x-test]=xxGeneric Filter Data Object Pluginxx
Comment=Implements a Generic Filter Data Object Plugin for Kst.
Comment[bs]=Implementira dodatak općeg filtera objekta podatka za Kst.
Comment[ca]=Implementa un connector d'objecte de dades de filtre genèric pel Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades de filtre genèric pel Kst.
Comment[de]=Implementiert ein Datenobjekt-Modul für allgemeine Filter für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο για αντικείμενα δεδομένων γενικών φίλτρων για το Kst.
Comment[en_GB]=Implements a Generic Filter Data Object Plugin for Kst.
Comment[es]=Implementa un complemento de objeto de datos de filtrado genéricos para Kst.
Comment[fr]=Implémente un module DataObject de filtre générique pour Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de filtro xenérico para Kst.
Comment[it]=Implementa un'estensione oggetto dati filtro generico per Kst.
Comment[nl]=Implementeert een algemene plugin voor een gegevensobject in Kst voor filteren.
Comment[pl]=Implementuje wtyczkę obiektu danych zwykłego filtra dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados com um filtro genérico para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de filtro genérico para o Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för generellt filter.
Comment[uk]=Реалізує додаток для роботи з об’єктами загального фільтрування даних у Kst.
Comment[x-test]=xxImplements a Generic Filter Data Object Plugin for Kst.xx
