[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=genericfilter
X-Kst-Plugin-Author=The University of Toronto
Name=Generic Filter Data Object Plugin
Name[uk]=Додаток для роботи з об’єктами загального фільтрування даних
Name[x-test]=xxGeneric Filter Data Object Pluginxx
Comment=Implements a Generic Filter Data Object Plugin for Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами загального фільтрування даних у Kst.
Comment[x-test]=xxImplements a Generic Filter Data Object Plugin for Kst.xx
