#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# collect architecture dependent symbols in the first upload
# http://lists.debian.org/debian-mentors/2011/06/msg00392.html
# export DPKG_GENSYMBOLS_CHECK_LEVEL=0

export DEB_LDFLAGS_MAINT_APPEND="-Wl,--as-needed"

%:
	dh $@ --sourcedirectory=. --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -Scmake -- -Dkst_install_prefix=/usr -Dkst_verbose=ON -Dkst_rpath=OFF -Dkst_release=1 -Dkst_qt5=1

override_dh_auto_build:
	cd docbook/kst/ && meinproc5 --srcdir /usr/share/kf5/kdoctools index.docbook
	dh_auto_build -Scmake -- -j$(nproc)

override_dh_auto_clean:
	find docbook/kst/ -name '*.html' -exec rm {} \;
	dh_auto_clean -Scmake
