[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=cumulativesum
X-Kst-Plugin-Author=The University of Toronto
Name=Cumulative Sum Data Object Plugin
Name[bs]=Dodatak cjelokupne sume objekta podatka
Name[ca]=Connector d'objecte de dades de suma acumulada
Name[ca@valencia]=Connector d'objecte de dades de suma acumulada
Name[de]=Datenobjekt-Modul für kumulierten Summen-Mittelwert
Name[el]=Πρόσθετο αντικειμένων σωρευτκών αθροισμάτων
Name[en_GB]=Cumulative Sum Data Object Plugin
Name[es]=Complemento de objeto de datos de suma acumulada
Name[fr]=Module DataObject de somme cumulée
Name[gl]=Complemento de obxecto de datos de suma cumulativa
Name[it]=Estensione oggetto dati di somma cumulativa
Name[nl]=Cumulative Sum Data Object Plugin
Name[pl]=Wtyczka obiektu danych skumulowanej sumy
Name[pt]='Plugin' de Objectos de Dados de Soma Acumulada
Name[pt_BR]=Plugin de objeto de dados de soma acumulada
Name[sv]=Dataobjekt-insticksprogram för ackumulerad summa
Name[uk]=Додаток для роботи з об’єктами накопичувальної суми даних
Name[x-test]=xxCumulative Sum Data Object Pluginxx
Comment=Implements a Cumulative Sum Data Object Plugin for Kst.
Comment[bs]=Im plementira dodatak cjelokupne sume objekta podatka za Kst.
Comment[ca]=Implementa un connector d'objecte de dades de suma acumulada pel Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades de suma acumulada pel Kst.
Comment[de]=Implementiert ein Datenobjekt-Modul für kumulierten Summen-Mittelwert für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο για αντικείμενα σωρευτικών αθροισμάτων για το Kst.
Comment[en_GB]=Implements a Cumulative Sum Data Object Plugin for Kst.
Comment[es]=Implementa un complemento de objeto de datos de suma acumulada para Kst.
Comment[fr]=Implémente un module DataObject de somme cumulée pour Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de suma cumulativa para Kst.
Comment[it]=Implementa un'estensione oggetto dati di somma cumulativa per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor cumulatieve som.
Comment[pl]=Implementuje wtyczkę obiektu danych skumulowanej sumy dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de soma acumulada para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de soma acumulada para o Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för ackumulerad summa.
Comment[uk]=Реалізує додаток для роботи з об’єктами накопичувальної суми даних у Kst.
Comment[x-test]=xxImplements a Cumulative Sum Data Object Plugin for Kst.xx
