[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=cumulativesum
X-Kst-Plugin-Author=The University of Toronto
Name=Cumulative Sum Data Object Plugin
Name[uk]=Додаток для роботи з об’єктами накопичувальної суми даних
Name[x-test]=xxCumulative Sum Data Object Pluginxx
Comment=Implements a Cumulative Sum Data Object Plugin for Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами накопичувальної суми даних у Kst.
Comment[x-test]=xxImplements a Cumulative Sum Data Object Plugin for Kst.xx
