[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Extension
X-KDE-ModuleType=Plugin
X-KDE-Library=kstextension_pulse
X-Kst-Plugin-Author=The University of Toronto
Name=Pulse Extension
Name[ca]=Extensió Pulse
Name[cs]=Pulse rozšíření
Name[da]=Pulse-Udvidelse
Name[de]=Pulse-Erweiterung
Name[el]=Επέκταση Pulse
Name[es]=Extensión para pulsos
Name[et]=Pulse laiend
Name[ga]=Eisínteacht Pulse
Name[gl]=Extensión de Impulsos
Name[hr]=Pulsne ekstenzije
Name[is]=Pulse viðbót
Name[it]=Estensione impulsi
Name[ja]=Pulse エクステンション
Name[ka]=Pulse-ის გაფართოება
Name[nl]=Impulse-extensie
Name[pa]=ਪਲੱਸ ਸਹਿਯੋਗੀ
Name[pt]=Extensão de Impulsos
Name[pt_BR]=Extensão Pulse
Name[sr]=Pulse проширење
Name[sr@Latn]=Pulse proširenje
Name[sv]=Pulsutökning
Name[vi]=Phần mở rộng Pulse
Name[xx]=xxPulse Extensionxx
Comment=Generates realtime vectors.
Comment[ca]=Genera vectors en temps real.
Comment[cs]=Generuje vektory v reálném čase.
Comment[da]=Genererer realtidsvektorer.
Comment[de]=Erzeugt Echtzeitvektoren
Comment[el]=Δημιουργεί διανύσματα σε πραγματικό χρόνο.
Comment[es]=Genera vectores en tiempo real.
Comment[et]=Genereerib reaalajas vektoreid.
Comment[gl]=Xera vectores en tempo real.
Comment[hr]=Generiranje vektora u stvarnom vremenu.
Comment[is]=Býr til rauntímavigur.
Comment[it]=Genera vettori in tempo reale.
Comment[ka]= წარმოქმნის რეალური დროის ვექტორებს.
Comment[nl]=Genereert "realtime"vectoren.
Comment[pa]=ਅਸਲ ਵੈਕਟਰ ਤਿਆਰ ਕਰਦਾ ਹੈ।
Comment[pt]=Gera vectores em tempo-real.
Comment[pt_BR]=Gera vetores em tempo real.
Comment[sr]=Генерише векторе реалног времена
Comment[sr@Latn]=Generiše vektore realnog vremena
Comment[sv]=Skapar realtidsvektorer.
Comment[vi]=Tạo ra các véc-tơ thời gian thật.
Comment[xx]=xxGenerates realtime vectors.xx
