[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_cumulative_sum
X-Kst-Plugin-Author=Nicolas Brisset
Name=Cumulative sum (integral)
Name[ca]=Suma acumulativa (integral)
Name[da]=Kumulativ sum (integral)
Name[de]=Kulumlierte Summe (Integral)
Name[el]=Σωρευτικό άθροισμα (ολοκλήρωμα)
Name[es]=Suma cumulativa (integral)
Name[et]=Kumulatiivne summa (integraal)
Name[it]=Somma cumulativa (integrale)
Name[nl]=Cumulatieve som (integraal)
Name[pt]=Somatório acumulado (integral)
Name[sv]=Kumulativ summa (integral)
Name[vi]=Tổng lũy tích (tích phân)
Comment=Computes the cumulative sum (integral) of the input vector.
Comment[ca]=Calcula la suma acumulativa (integral) del vector d'entrada.
Comment[da]=Beregner den kumulative sum (integralet) af inddatavektoren.
Comment[de]=Berechnet die kumulierte Summe (Integral) des Eingabevektors.
Comment[el]=Υπολογίζει το σωρευτικό άθροισμα (ολοκλήρωμα) του διανύσματος εισόδου.
Comment[es]=Calcula la suma cumulativa (integral) de un vector dado.
Comment[et]=Arvutab sisendvektori kumulatiivse summa (integraali).
Comment[it]=Calcola la somma cumulativa (integrale) del vettore di ingresso.
Comment[nl]=Berekent de cumulatieve som (integraal) van de invoervector.
Comment[pt]=Calcula o somatório acumulado (integral) do vector de entrada.
Comment[pt_BR]=Calcula a soma cumulativa (integral) de um vetor de entrada.
Comment[sv]=Beräknar den kumulativa summan (integralen) av indatavektorn.
Comment[vi]=Tính tổng lũy tích (tích phân) cũa véc-tơ nhập.
