[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_differentiation
X-Kst-Plugin-Author=Dimitri Garbi
Name=Fixed-step differentiation
Name[da]=Differential med fast skridt
Name[de]=Feste-Schrittweite Differentiation
Name[el]=Διαφόριση σταθερού βήματος
Name[es]=Diferenciación de paso fijo
Name[et]=Püsisammuga diferentsimine
Name[it]=Differenziazione a passo fisso
Name[nl]=Differentiatie met vaste stappen
Name[pt]=Derivação por passos fixos
Name[sv]=Differential med fast steg
Name[vi]=Vi phân bước cố định
Comment=Computes the discrete derivative of an input vector
Comment[da]=Beregner den diskrete afledede af en inddatavektor
Comment[de]=Berechnet die diskrete Ableitung eines Eingabevektors.
Comment[el]=Υπολογισμός της διακριτής παραγώγου ενός διανύσματος εισαγωγής
Comment[es]=Calcula la derivada de intervalos discretos de un vector de entrada 
Comment[et]=Arvutab sisendvektori diskreetse tuletise.
Comment[it]=Calcola la derivata discreta di un vettore di ingresso
Comment[nl]=Berekent de discrete afgeleide van een invoervector
Comment[pt]=Calcula a derivada discreta de um vector de entrada
Comment[pt_BR]=Calcula a derivada discreta de um vetor de entrada.
Comment[sv]=Beräknar den diskreta derivatan av en indatavektor
Comment[vi]=Tính tổng đạo hàm rời rạc cũa véc-tơ nhập.
