[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=fitstable
X-Kst-Plugin-Author=Nicholas Chapman
Name=FITS Table reader
Name[ca]=Lector de taules FITS
Name[nl]=Leesprogramma voor FITS-tabellen
Name[pl]=Czytnik tablic FITS
Name[pt]=Leitor de tabelas FITS
Name[pt_BR]=Leitor de tabelas FITS
Name[sv]=FITS-tabelläsare
Name[uk]=Засіб читання таблиць FITS
Name[x-test]=xxFITS Table readerxx
Comment=FITS table reader plugin for Kst
Comment[ca]=Connector de lectura de taules FITS pel Kst
Comment[nl]=Plugin voor lezen van FITS-tabellen voor Kst
Comment[pl]=Wtyczka czytnika tablic FITS dla Kst
Comment[pt]=Um 'plugin' de leitura de tabelas FITS para o Kst
Comment[pt_BR]=Plugin para leitura de tabelas FITS no Kst
Comment[sv]=Insticksprogram med FITS-tabelläsare för Kst
Comment[uk]=Додаток для читання таблиць FITS у Kst
Comment[x-test]=xxFITS table reader plugin for Kstxx
