[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_discretizing_filters
X-Kst-Plugin-Author=Nicolas Brisset
Name=Generic filter
Name[da]=Generisk filter
Name[de]=Generischer Filter
Name[el]=Γενικευμένο φίλτρο
Name[es]=Filtro genérico
Name[et]=Üldine filter
Name[ga]=Scagaire ginearálta
Name[it]=Filtro generico
Name[nl]=Algemeen filter
Name[pt]=Filtro genérico
Name[sv]=Generellt filter
Name[vi]=Bộ lọc giống loài
Comment=Generates a discrete filter from a continuous-time definition.
Comment[ca]=Genera un filtre discret des d'una definició de temps contínua.
Comment[da]=Genererer et diskret filter ud fra en kontinuert tidsdefinition.
Comment[de]=Erzeugt einen diskreten Filter aus einer stetigen Zeitdefinition.
Comment[el]=Δημιουργεί ένα διακριτό φίλτρο από έναν ορισμό συνεχούς χρόνου.
Comment[es]=Genera un filtro discreto a partir de una definición continua de tiempo.
Comment[et]=Genereerib pidevajadefinitsiooni põhjal diskreetse filtri.
Comment[it]=Genera una filtro discreto da una definizione a tempo continuo.
Comment[nl]=Genereert een discreet filter vanuit een continue-tijdsdefinitie.
Comment[pt]=Gera um filtro discreto para uma definição contínua ao longo do tempo.
Comment[pt_BR]=Gera um filtro discreto a partir de uma definição contínua de tempo.
Comment[sv]=Skapar ett diskret filter från en kontinuerlig tidsdefinition.
Comment[vi]=Tạo ra một bộ lọc rời rạc từ lời định nghĩa thời gian liên tục.
