[Desktop Entry]
Encoding=UTF-8
GenericName=JavaScript Console
GenericName[br]=Letrin JavaScript
GenericName[ca]=Consola JavaScript
GenericName[cs]=Javascriptová konzole
GenericName[cy]=Terfynell JavaScript
GenericName[da]=JavaScript konsol
GenericName[de]=JavaScript-Konsole
GenericName[el]=Κονσόλα JavaScript
GenericName[es]=Consola JavaScript
GenericName[et]=JavaScripti konsool
GenericName[fr]=Console JavaScript
GenericName[ga]=Bord eallóige JavaScript
GenericName[gl]=Consola de JavaScript
GenericName[hi]=जावा-स्क्रिप्ट कंसोल
GenericName[hr]=JavaScript konzola
GenericName[is]=JavaScript stjórnskjár
GenericName[it]=Console JavaScript
GenericName[ja]=JavaScript コンソール
GenericName[ka]=JavaScript-ის კონსოლი
GenericName[nl]=JavaScript-console
GenericName[pa]=JavaScript ਕੰਨਸੋਂਲ
GenericName[pt]=Consola de JavaScript
GenericName[pt_BR]=Console JavaScript
GenericName[ru]=Консоль JavaScript
GenericName[sr]=JavaScript конзола
GenericName[sr@Latn]=JavaScript konzola
GenericName[sv]=Javaskript-konsoll
GenericName[tg]=Консоли JavaScript
GenericName[tr]=JavaScript Konsolu
GenericName[vi]=Bàn giao tiếp JavaScript
GenericName[xx]=xxJavaScript Consolexx
Name=kjscmd
Name[hi]=केजेएस-सीएमडी
Name[sv]=KJS-kommando
Name[xx]=xxkjscmdxx
Type=Application
Exec=kjscmd --exec
Icon=konsole
Terminal=false
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Development;
InitialPreference=10

