[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=ascii
X-Kst-Plugin-Author=The University of Toronto
Name=ASCII File Reader
Name[br]=Lenner ar restroù ASCII
Name[bs]=Čitač ASCII datoteka
Name[ca]=Lector de fitxers ASCII
Name[cs]=Čtečka ASCII souborů
Name[da]=ASCII Fillæser
Name[de]=ASCII-Datei-Leser
Name[el]=Αναγνώστης αρχείων ASCII
Name[es]=Lector de archivos ASCII
Name[et]=ASCII-failide lugeja
Name[fr]=Lecteur de fichier ASCII
Name[ga]=Léitheoir Comhad ASCII
Name[gl]=Leitor de Arquivos ASCII
Name[hi]=आस्की फ़ाइल रीडर
Name[hr]=ASCII čitač datoteka
Name[hu]=ASCII-fájlolvasó
Name[is]=ASCII skráalesari
Name[it]=Lettore file ASCII
Name[ja]=ASCII ファイルリーダー
Name[ka]=ASCII ფაილის წამკითხველი
Name[nl]=ASCII-bestandleesprogramma
Name[pa]=ASCII ਫਾਇਲ ਰੀਡਰ
Name[pt]=Leitor de Ficheiros ASCII
Name[pt_BR]=Leitor de Arquivos ASCII
Name[ru]=Чтение файлов ASCII
Name[sr]=Читач ASCII фајлова
Name[sr@Latn]=Čitač ASCII fajlova
Name[sv]=ASCII-filläsare
Name[ta]=ASCII கோப்புப் படித்தல்
Name[tg]=Хонандаи файли ASCII
Name[tr]=ASCII Dosya Okuyucu
Name[vi]=Bộ đọc tập tin ASCII
Name[xx]=xxASCII File Readerxx
Name[zh_CN]=ASCII 文件阅读器
Comment=Implements support for reading ASCII files into Kst.
Comment[bs]=Implementira podršku za čitanje ASCII datoteka u Kst.
Comment[ca]=Implementa al Kst el funcionament per llegir fitxers ASCII.
Comment[cs]=Podpora čtení ASCII souborů pro Kst.
Comment[da]=Implementerer støtte for at læse ASCII-filer i Kst.
Comment[de]=Unterstützung für das Einlesen von ASCII-Dateien in Kst
Comment[el]=Υλοποιεί την υποστήριξη για ανάγνωση αρχείων ASCII στο Kst.
Comment[es]=Implementa soporte para leer archivos ASCII en Kst.
Comment[et]=Kst ASCII-failide lugemise toetus.
Comment[fr]=Prise en charge de la lecture des fichiers ASCII dans Kst.
Comment[gl]=Permite a leitura de ficheiros ASCII en Kst.
Comment[hi]=केएसटी में आस्की फाइलों के पढ़ने हेतु समर्थन इम्प्लीमेंट करता है.
Comment[hr]=Implementira podršku za čitanje ASCII datoteka u Kst.
Comment[hu]=ASCII-fájlok beolvasását végzi a Kst-be
Comment[is]=Gefur stuðning við lestur ASCII skráa inn í Kst.
Comment[it]=Implementa supporto per leggere file ASCII in Kst.
Comment[ja]=ASCII ファイルの Kst への読み込みをサポート
Comment[ka]=უზრუნველყოფს ASCII ფაილების Kst-ში წაკითხვას.
Comment[nl]=Implementeert de ondersteuning voor het inlezen van ASCII-bestanden in Kst.
Comment[pt]=Implementa o suporte para a leitura de ficheiros ASCII no Kst.
Comment[pt_BR]=Implementa o suporte a leitura de arquivos ASCII dentro do Kst.
Comment[sr]=Имплементира подршку за читање ASCII фајлова у Kst.
Comment[sr@Latn]=Implementira podršku za čitanje ASCII fajlova u Kst.
Comment[sv]=Implementerar stöd för att läsa in ASCII-filer i Kst.
Comment[ta]= ASCII கோப்பிலிருந்து Kstடிற்குச் செய்முறைப்படுத்தித் துணை.
Comment[tg]=Иҷро намудани пуштибонӣ барои хондани файлҳои ASCII ба Kst.
Comment[tr]=Kst içine ASCII dosyaları okuma desteği verenler
Comment[vi]=Thực hiện vào Kst khả năng đọc các tập tin ASCII.
Comment[xx]=xxImplements support for reading ASCII files into Kst.xx
Comment[zh_CN]=将 ASCII 文件读入 Kst 的应用支持。
