[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=ascii
X-Kst-Plugin-Author=The University of Toronto
Name=ASCII File Reader
Name[de]=ASCII-Dateileser
Name[nl]=Lezer voor ASCII-bestand
Name[sk]=Čítač ASCII súborov
Name[sv]=ASCII-filläsare
Name[uk]=Засіб читання файлів ASCII
Name[x-test]=xxASCII File Readerxx
Comment=Implements support for reading ASCII files into Kst.
Comment[de]=Unterstützung für das Einlesen von ASCII-Dateien in Kst
Comment[nl]=Implementeert ondersteuning voor het lezen van ASCII-bestanden in Kst.
Comment[sv]=Implementerar stöd för att läsa ASCII-filer i Kst.
Comment[uk]=Реалізує підтримку читання файлів ASCII у Kst.
Comment[x-test]=xxImplements support for reading ASCII files into Kst.xx
