[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=ascii
X-Kst-Plugin-Author=The University of Toronto
Name=ASCII File Reader
Name[bs]=ASCII čitač datoteka
Name[ca]=Lector de fitxers ASCII
Name[ca@valencia]=Lector de fitxers ASCII
Name[de]=ASCII-Dateileser
Name[el]=Ανάγνωση αρχείων ASCII
Name[en_GB]=ASCII File Reader
Name[eo]=ASCII Dosiera Leganto
Name[es]=Lector de archivos ASCII
Name[et]=ASCII-faili lugeja
Name[fi]=ASCII-tiedostolukija
Name[fr]=Lecteur de fichier ASCII
Name[gl]=Lector de ficheiros ASCII
Name[hu]=ASCII fájlolvasó
Name[it]=Lettore di file ASCII
Name[nb]=ASCI filleser
Name[nl]=ASCII File Reader
Name[pl]=Czytnik plików ASCII
Name[pt]=Leitor de Ficheiros ASCII
Name[pt_BR]=Leitor de arquivos ASCII
Name[sk]=Čítač ASCII súborov
Name[sl]=Bralnik datotek ASCII
Name[sv]=ASCII-filläsare
Name[tr]=ASCII Dosya Okuyucusu
Name[uk]=Засіб читання файлів ASCII
Comment=Implements support for reading ASCII files into Kst.
Comment[bs]=Implementira podršku za čitanje ASCII datoteka u Kst.
Comment[ca]=Implementació que permet llegir fitxers ASCII en el Kst.
Comment[ca@valencia]=Implementació que permet llegir fitxers ASCII en Kst.
Comment[de]=Unterstützung für das Einlesen von ASCII-Dateien in Kst
Comment[el]=Υλοποιεί την υποστήριξη για ανάγνωση ASCII αρχείων σε Kst.
Comment[en_GB]=Implements support for reading ASCII files into Kst.
Comment[eo]=Realigas subtenon por legado de ASCII-dosieroj en Kst.
Comment[es]=Implementa la lectura de archivos ASCII en Kst.
Comment[et]=Kst ASCII-failide lugemise toetus.
Comment[fi]=Toteuttaa Kst:hen ASCII-tiedostojen lukutuen.
Comment[fr]=Implémente la prise en charge de la lecture de fichiers ASCII dans Kst.
Comment[gl]=Permite ler ficheiros ASCII en Kst.
Comment[hu]=Támogatást valósít meg az ASCII fájlok olvasásához a Kst-be.
Comment[it]=Implementa il supporto per la lettura di file ASCII con Kst.
Comment[nb]=Legger til støtte for å lese ASCII-filer i Kst.
Comment[nl]=Implementeert ondersteuning voor het lezen van ASCII-bestanden in Kst.
Comment[pl]=Implementuj obsługę odczytu plików ASCII w Kst.
Comment[pt]=Implementa o suporte para ler ficheiros ASCII para o Kst.
Comment[pt_BR]=Implementa o suporte para leitura de arquivos ASCII no Kst.
Comment[sl]=Izvaja podporo za branje datotek ASCII v Kst.
Comment[sv]=Implementerar stöd för att läsa ASCII-filer i Kst.
Comment[tr]=Kst içine ASCII dosyalarını okuma desteği ekler.
Comment[uk]=Реалізує підтримку читання файлів ASCII у Kst.
