[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=filterbutterworthhighpass
X-Kst-Plugin-Author=The University of Toronto
Name=Filter - Butterworth High Pass Plugin
Name[bs]=Dodatak Filter - Butterworth visokopropusnog pojasa
Name[ca]=Filtre - Connector de passaalt Butterworth
Name[ca@valencia]=Filtre - Connector de passaalt Butterworth
Name[de]=Filter - Butterworth-Hochpass-Modul
Name[el]=Πρόσθετο υψιπερατού φίλτρου Butterworth
Name[en_GB]=Filter - Butterworth High Pass Plugin
Name[es]=Filtro - Complemento pasa alto de Butterworth
Name[fr]=Module de filtre passe haut de Butterworth
Name[gl]=Filtro - Complemento de paso alto de Butterworth
Name[it]=Estensione filtro di Butterworth passa-alto
Name[nl]=Filter - Butterworth High Pass Plugin
Name[pl]=Wtyczka filtra Butterwortha przepuszczania górnego pasma
Name[pt]='Plugin' de Filtro Passa-Alto Butterworth
Name[pt_BR]=Plugin de filtro passa-altas Butterworth
Name[sv]=Filter - Insticksprogram för Butterworth-högpass
Name[uk]=Додаток фільтрування високих частот за Баттервортом
Name[x-test]=xxFilter - Butterworth High Pass Pluginxx
Comment=Implements a Butterworth High Pass Filter Plugin for Kst.
Comment[bs]=Implementira dodatak Filter - Butterworth visokopropusnog pojasa za Kst.
Comment[ca]=Implementa un connector de filtre passaalt Butterworth pel Kst.
Comment[ca@valencia]=Implementa un connector de filtre passaalt Butterworth pel Kst.
Comment[de]=Implementiert ein Butterworth-Hochpass-Filtermodul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο υψιπερατού φίλτρου Butterworth για το Kst.
Comment[en_GB]=Implements a Butterworth High Pass Filter Plugin for Kst.
Comment[es]=Implementa un complemento de filtro pasa alto de Butterworth para Kst.
Comment[fr]=Implémente un module de filtre passe haut de Butterworth pour Kst.
Comment[gl]=Realiza un complemento de filtro de paso alto de Butterworth para Kst.
Comment[it]=Implementa un'estensione filtro di Butterworth passa-alto per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor Butterworth hoogdoorlaat filter.
Comment[pl]=Implementuje wtyczkę obiektu danych filtra Butterwortha przepuszczania górnego pasma dla Kst.
Comment[pt]=Implementa um 'plugin' de filtro passa-alto Butterworth para o Kst.
Comment[pt_BR]=Implementa um plugin de filtro passa-altas Butterworth para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för Butterworth-högpassfilter.
Comment[uk]=Реалізує додаток для фільтрування високих частот за Баттервортом у Kst.
Comment[x-test]=xxImplements a Butterworth High Pass Filter Plugin for Kst.xx
