[Desktop Entry]
Type=Application
Exec=kst -caption "%c" %i %m
Icon=kst
DocPath=kst/index.html
MimeType=application/x-kst
#Categories=QT;KDE;Science;
Name=Kst
Name[hi]=केएसटी
Name[ta]=கேஎஸ்டி
Name[xx]=xxKstxx
GenericName=Data Viewer
GenericName[br]=Gweler ar roadoù
GenericName[ca]=Visualitzador de dades
GenericName[cs]=Prohlížeč dat
GenericName[da]=Datafremviser
GenericName[de]=Daten-Betrachter
GenericName[el]=Προβολέας δεδομένων
GenericName[es]=Visualizador de datos
GenericName[et]=Andmete näitaja
GenericName[fr]=Afficheur de données
GenericName[gl]=Visor de Dados
GenericName[hi]=डाटा प्रदर्शक
GenericName[hr]=Preglednik podataka
GenericName[is]=Gagnaskoðari
GenericName[it]=Visualizzatore di dati
GenericName[ja]=データビューア
GenericName[ka]=მონაცემების დამთვალიერებელი
GenericName[nl]=Programma voor het weergegeven van gegevens
GenericName[pa]=ਡਾਟਾ ਦਰਸ਼ਕ
GenericName[pt]=Visualizador de Dados
GenericName[pt_BR]=Visualizador de Dados
GenericName[ru]=Средство представления данных
GenericName[sr]=Приказивач података
GenericName[sr@Latn]=Prikazivač podataka
GenericName[sv]=Datavisning
GenericName[ta]=தரவு காட்சியாளன்
GenericName[tg]=Намоишгари маълумот
GenericName[tr]=Veri Göstericisi
GenericName[vi]=Bộ xem dữ liệu
GenericName[xx]=xxData Viewerxx
GenericName[zh_CN]=数据查看器

Encoding=UTF-8
