[Desktop Entry]
Type=Application
Exec=kst2
Icon=kst
DocPath=kst2/index.html
MimeType=application/x-kst;
Categories=Qt;KDE;Education;Science;
Name=Kst2
Name[de]=Kst2
Name[sk]=Kst2
Name[sv]=Kst2
Name[uk]=Kst2
Name[x-test]=xxKst2xx
GenericName=Data Viewer
GenericName[de]=Daten-Betrachter
GenericName[sk]=Prehliadač údajov
GenericName[sv]=Datavisning
GenericName[uk]=Засіб перегляду даних
GenericName[x-test]=xxData Viewerxx

