#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=kst2 %f
Icon=kst
X-DocPath=kst2/index.html
MimeType=application/x-kst;
Categories=Qt;KDE;Science;DataVisualization;
Name=Kst2
Name[ast]=Kst2
Name[bs]=Kst2
Name[ca]=Kst2
Name[ca@valencia]=Kst2
Name[cs]=Kst2
Name[de]=Kst2
Name[el]=Kst2
Name[en_GB]=Kst2
Name[es]=Kst2
Name[fr]=Kst2
Name[gl]=Kst2
Name[it]=Kst2
Name[nb]=Kst2
Name[nl]=Kst2
Name[pl]=Kst2
Name[pt]=Kst2
Name[pt_BR]=Kst2
Name[sk]=Kst2
Name[sv]=Kst2
Name[uk]=Kst2
Name[x-test]=xxKst2xx
GenericName=Data Viewer
GenericName[bs]=Preglednik podataka
GenericName[ca]=Visor de dades
GenericName[ca@valencia]=Visor de dades
GenericName[cs]=Prohlížeč dat
GenericName[de]=Daten-Betrachter
GenericName[el]=Προβολέας δεδομένων
GenericName[en_GB]=Data Viewer
GenericName[es]=Visor de datos
GenericName[fr]=Afficheur de données
GenericName[gl]=Visor de datos
GenericName[it]=Visore dati
GenericName[nb]=Dataviser
GenericName[nl]=Bekijken van gegevens
GenericName[pl]=Przeglądarka danych
GenericName[pt]=Visualizador de Dados
GenericName[pt_BR]=Visualizador de dados
GenericName[sk]=Prehliadač údajov
GenericName[sv]=Datavisning
GenericName[uk]=Засіб перегляду даних
GenericName[x-test]=xxData Viewerxx

