[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kst/Filter

[PropertyDef::X-Kst-Filter-Author]
Type=QString

[PropertyDef::X-Kst-Filter-Library]
Type=QString

