#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Exec=kst %f
Icon=kst
X-DocPath=kst/index.html
MimeType=application/x-kst;
Categories=Qt;KDE;Science;DataVisualization;
Name=kst
Name[ar]=كاست2
Name[bs]=kst
Name[ca]=kst
Name[ca@valencia]=kst
Name[cs]=kst
Name[de]=kst
Name[el]=kst
Name[en_GB]=kst
Name[eo]=kst
Name[es]=kst
Name[et]=kst
Name[fi]=kst
Name[fr]=kst
Name[gl]=kst
Name[it]=kst
Name[ka]=kst
Name[nb]=kst
Name[nl]=kst
Name[pl]=kst
Name[pt]=kst
Name[pt_BR]=kst
Name[ru]=kst
Name[sk]=kst
Name[sl]=kst
Name[sv]=kst
Name[tr]=kst
Name[uk]=kst
GenericName=Data Viewer
GenericName[ar]=عارض بيانات
GenericName[bs]=Preglednik podataka
GenericName[ca]=Visualitzador de dades
GenericName[ca@valencia]=Visor de dades
GenericName[cs]=Prohlížeč dat
GenericName[de]=Daten-Betrachter
GenericName[el]=Προβολέας δεδομένων
GenericName[en_GB]=Data Viewer
GenericName[eo]=Vidilo de datumoj
GenericName[es]=Visor de datos
GenericName[et]=Andmenäitaja
GenericName[fi]=Datakatselin
GenericName[fr]=Afficheur de données
GenericName[gl]=Visor de datos
GenericName[it]=Visore dati
GenericName[nb]=Dataviser
GenericName[nl]=Bekijken van gegevens
GenericName[pl]=Przeglądarka danych
GenericName[pt]=Visualizador de Dados
GenericName[pt_BR]=Visualizador de dados
GenericName[sk]=Prehliadač údajov
GenericName[sl]=Vpogledovalnik podatkov
GenericName[sv]=Datavisning
GenericName[tr]=Veri Görüntüleyicisi
GenericName[uk]=Засіб перегляду даних

