[Desktop Entry]
Type=MimeType
Name=Kst2
Name[de]=Kst2
Name[pt]=Kst2
Name[sk]=Kst2
Name[sv]=Kst2
Name[uk]=Kst2
Name[x-test]=xxKst2xx
Icon=kst
DefaultApp=kst2
Patterns=*.kst;*.KST;
Comment=Kst Session File
Comment[de]=Kst-Sitzungsdatei
Comment[pt]=Ficheiro de Sessão do Kst
Comment[sv]=Kst-sessionsfil
Comment[uk]=Файл сеансу Kst
Comment[x-test]=xxKst Session Filexx

