[Desktop Entry]
Type=MimeType
MimeType=application/x-kst
Icon=kst
DefaultApp=kst
Patterns=*.kst;*.KST;
Comment=Kst Data File
Comment[br]=Restr roadoù Kst
Comment[ca]=Fitxer de dades Kst
Comment[cs]=Kst datový soubor
Comment[da]=Kst Datafil
Comment[de]=Kst Datendatei
Comment[el]=Αρχείο δεδομένων Kst
Comment[es]=Archivo de datos de Kst
Comment[et]=Kst andmefail
Comment[fr]=Fichier de données de Kst
Comment[ga]=Comhad Sonraí Kst
Comment[gl]=Ficheiro de Dados de Kst
Comment[hi]=केएसटी डाटा फ़ाइल
Comment[hr]=Kst datoteka podataka
Comment[is]=Kst gagnaskrá
Comment[it]=File dati Kst
Comment[ja]=Kst データファイル
Comment[ka]=Kst-ის მონაცემებთა ფაილი
Comment[nl]=Kst-gegevensbestand
Comment[pa]=Kst ਡਾਟਾ ਫਾਇਲ
Comment[pt]=Ficheiro de Dados do Kst
Comment[pt_BR]=Arquivo de Dados do Kst
Comment[ru]=Файл данных Kst
Comment[sr]=Kst-ов фајл података
Comment[sr@Latn]=Kst-ov fajl podataka
Comment[sv]=Kst-datafil
Comment[ta]=கேஎஸ்டி தரவுக் கோப்பு
Comment[tg]=Маълумоти Файли Kst
Comment[tr]=Kst Veri Dosyası
Comment[vi]=Tập tin dữ liệu Kst
Comment[xx]=xxKst Data Filexx
Comment[zh_CN]=Kst 数据文件

