[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=itssource
X-Kst-Plugin-Author=C. Barth Netterfield
Name=Indexed Thumbnail Stream Reader
Name[ca]=Lector de fluxos de miniatures indexades
Name[ca@valencia]=Lector de fluxos de miniatures indexades
Name[en_GB]=Indexed Thumbnail Stream Reader
Name[es]=Lector de flujos de miniaturas indexadas
Name[et]=Indekseeritud pisipiltide voo lugeja
Name[fr]=Lecteur de flux pour les vignettes indexées
Name[gl]=Lector de fluxo de miniatura indexada
Name[it]=Lettore di flusso di miniature indicizzate
Name[nl]=Streamleesprogramma van geïndexeerde miniaturen
Name[pl]=Czytnik strumienia zaindeksowanych miniatur
Name[pt]=Leitor de Sequências de Miniaturas Indexadas
Name[pt_BR]=Leitor de fontes de miniaturas indexadas
Name[sl]=Bralnik toka indeksiranih sličic
Name[sv]=Strömläsare av indexerade miniatyrbilder
Name[uk]=Засіб читання Indexed Thumbnail Stream
Name[x-test]=xxIndexed Thumbnail Stream Readerxx

