[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=akimaperiodic
X-Kst-Plugin-Author=The University of Toronto
Name=Akima Periodic Interpolation Data Object Plugin
Name[pt]='Plugin' de Objectos de Dados de Interpolação Periódica Akima
Name[uk]=Додаток для роботи з об’єктами періодичної інтерполяції даних за Акімою
Name[x-test]=xxAkima Periodic Interpolation Data Object Pluginxx
Comment=Implements a Akima Periodic Interpolation Data Object Plugin for Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados com a interpolação periódica Akima para o Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами періодичної інтерполяції даних за Акімою у Kst.
Comment[x-test]=xxImplements a Akima Periodic Interpolation Data Object Plugin for Kst.xx
