[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=akimaperiodic
X-Kst-Plugin-Author=The University of Toronto
Name=Akima Periodic Interpolation Data Object Plugin
Comment=Implements a Akima Periodic Interpolation Data Object Plugin for Kst.
