[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=filterbutterworthbandstop
X-Kst-Plugin-Author=The University of Toronto
Name=Filter - Butterworth Band Stop Plugin
Name[fr]=Module de filtre coupe bande de Butterworth
Name[pt]='Plugin' de Filtro Corta-Banda Butterworth
Name[pt_BR]=Plugin de filtro de interrupção de faixa Butterworth
Name[uk]=Додаток фільтрування смугового блокування за Баттервортом
Name[x-test]=xxFilter - Butterworth Band Stop Pluginxx
Comment=Implements a Butterworth Band Stop Filter Plugin for Kst.
Comment[fr]=Implémente un module de filtre coupe bande de Butterworth pour Kst.
Comment[pt]=Implementa um 'plugin' de filtro corta-banda Butterworth para o Kst.
Comment[pt_BR]=Implementa um plugin de filtro de interrupção de faixa Butterworth para o Kst.
Comment[uk]=Реалізує додаток для фільтрування смугового блокування за Баттервортом у Kst.
Comment[x-test]=xxImplements a Butterworth Band Stop Filter Plugin for Kst.xx
