[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=filterbutterworthbandstop
X-Kst-Plugin-Author=The University of Toronto
Name=Filter - Butterworth Band Stop Plugin
Name[bs]=Dodatak Filter - Butterworth nepropusnog pojasa
Name[ca]=Filtre - Connector de banda eliminada Butterworth
Name[ca@valencia]=Filtre - Connector de banda eliminada Butterworth
Name[de]=Filter - Butterworth-Bandstopp-Modul
Name[el]=Πρόσθετο φίλτρου επιλογής ζωνών Butterworth
Name[en_GB]=Filter - Butterworth Band Stop Plugin
Name[es]=Filtro - Complemento corta banda de Butterworth
Name[fr]=Module de filtre coupe bande de Butterworth
Name[gl]=Filtro - Complemento de detención de banda de Butterworth
Name[it]=Estensione filtro di Butterworth elimina-banda
Name[nl]=Filter - Butterworth Band Stop Plugin
Name[pl]=Wtyczka filtra Butterwortha zatrzymywania pasma
Name[pt]='Plugin' de Filtro Corta-Banda Butterworth
Name[pt_BR]=Plugin de filtro rejeita-faixa Butterworth
Name[sv]=Filter - Insticksprogram för Butterworth-bandstopp
Name[uk]=Додаток фільтрування смугового блокування за Баттервортом
Name[x-test]=xxFilter - Butterworth Band Stop Pluginxx
Comment=Implements a Butterworth Band Stop Filter Plugin for Kst.
Comment[bs]=Implementira dodatak Filter - Butterworth nepropusnog pojasa za Kst.
Comment[ca]=Implementa un connector de filtre banda eliminada Butterworth pel Kst.
Comment[ca@valencia]=Implementa un connector de filtre banda eliminada Butterworth pel Kst.
Comment[de]=Implementiert ein Butterworth-Bandstopp-Filtermodul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο φίλτρου επιλογής ζωνών Butterworth για το Kst.
Comment[en_GB]=Implements a Butterworth Band Stop Filter Plugin for Kst.
Comment[es]=Implementa un complemento de filtro corta banda de Butterworth para Kst.
Comment[fr]=Implémente un module de filtre coupe bande de Butterworth pour Kst.
Comment[gl]=Realiza un complemento de filtro de detención de banda de Butterworth para Kst.
Comment[it]=Implementa un'estensione del filtro di Butterworth elimina-banda per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor Butterworth band stopfilter
Comment[pl]=Implementuje wtyczkę obiektu danych filtra Butterwortha zatrzymywania pasma dla Kst.
Comment[pt]=Implementa um 'plugin' de filtro corta-banda Butterworth para o Kst.
Comment[pt_BR]=Implementa um plugin de filtro rejeita-faixa Butterworth para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för Butterworth-bandstoppfilter.
Comment[uk]=Реалізує додаток для фільтрування смугового блокування за Баттервортом у Kst.
Comment[x-test]=xxImplements a Butterworth Band Stop Filter Plugin for Kst.xx
