[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=qimagesource
X-Kst-Plugin-Author=The University of Toronto
Name=qimagesource
Name[ca]=Font QImage
Name[ca@valencia]=Font QImage
Name[de]=QImagesource
Name[fr]=qimagesource
Name[it]=qimagesource
Name[nl]=qimagesource
Name[pl]=qimagesource
Name[pt]=Fonte QImage
Name[pt_BR]=Fonte QImage
Name[sk]=qimagesource
Name[sv]=qimage-källa
Name[uk]=qimagesource
Name[x-test]=xxqimagesourcexx
Comment=Plugin to read a qimage compatible image.
Comment[ca]=Connector per llegir una imatge compatible amb QImage.
Comment[ca@valencia]=Connector per llegir una imatge compatible amb QImage.
Comment[de]=Modul zum Lesen von QImage-kompatiblen Bildern
Comment[fr]=Module pour lire une image compatible qimage.
Comment[it]=Esrensione per leggere un'immagine qimage compatibile.
Comment[nl]=Plug-in voor het lezen van afbeelding compatibel met gimage.
Comment[pl]=Wtyczka do odczytywania obrazów zgodnych z qimage.
Comment[pt]=Um 'plugin' para ler uma imagem compatível com a QImage.
Comment[pt_BR]=Plugin para ler uma imagem compatível com a QImage.
Comment[sv]=Insticksprogram för att läsa en qimage-kompatibel bild.
Comment[uk]=Додаток для читання зображень, сумісних з форматом qimage.
Comment[x-test]=xxPlugin to read a qimage compatible image.xx
