[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=qimagesource
X-Kst-Plugin-Author=The University of Toronto
Name=qimagesource
Name[de]=QImagesource
Name[pt]=Fonte QImage
Name[sk]=qimagesource
Name[sv]=qimage-källa
Name[uk]=qimagesource
Name[x-test]=xxqimagesourcexx
Comment=Plugin to read a qimage compatible image.
Comment[de]=Modul zum Lesen von QImage-kompatiblen Bildern
Comment[pt]=Um 'plugin' para ler uma imagem compatível com a QImage.
Comment[sv]=Insticksprogram för att läsa en qimage-kompatibel bild.
Comment[uk]=Додаток для читання зображень, сумісних з форматом qimage.
Comment[x-test]=xxPlugin to read a qimage compatible image.xx
