[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=qimagesource
X-Kst-Plugin-Author=The University of Toronto
Name=qimagesource
Name[bs]=qimagesource
Name[ca]=Font QImage
Name[ca@valencia]=Font QImage
Name[de]=QImagesource
Name[el]=qimagesource
Name[en_GB]=qimagesource
Name[es]=qimagesource
Name[et]=qimagesource
Name[fr]=qimagesource
Name[gl]=qimagesource
Name[it]=qimagesource
Name[nb]=qimagesource
Name[nl]=qimagesource
Name[pl]=qimagesource
Name[pt]=Fonte QImage
Name[pt_BR]=Fonte QImage
Name[sk]=qimagesource
Name[sv]=qimage-källa
Name[uk]=qimagesource
Name[x-test]=xxqimagesourcexx
Comment=Plugin to read a qimage compatible image.
Comment[bs]=Dodatak za čitanje qimage kompatibilne slike.
Comment[ca]=Connector per llegir una imatge compatible amb QImage.
Comment[ca@valencia]=Connector per llegir una imatge compatible amb QImage.
Comment[de]=Modul zum Lesen von QImage-kompatiblen Bildern
Comment[el]=Πρόσθετο ανάγνωσης εικόνων συμβατών με qimage
Comment[en_GB]=Plugin to read a qimage compatible image.
Comment[es]=Complemento para leer una imagen compatible con qimage.
Comment[et]=Plugin qimage'iga ühilduvate piltide lugemiseks.
Comment[fr]=Module pour lire une image compatible qimage.
Comment[gl]=Complemento para ler unha imaxe compatíbel con QImage.
Comment[it]=Estensione per leggere un'immagine qimage compatibile.
Comment[nb]=Programtillegg som leser et bilde kompatibelt med qimage.
Comment[nl]=Plugin voor het lezen van afbeeldingen die compatibel zijn met gimage.
Comment[pl]=Wtyczka do odczytywania obrazów zgodnych z qimage.
Comment[pt]=Um 'plugin' para ler uma imagem compatível com a QImage.
Comment[pt_BR]=Plugin para ler uma imagem compatível com a QImage.
Comment[sv]=Insticksprogram för att läsa en qimage-kompatibel bild.
Comment[uk]=Додаток для читання зображень, сумісних з форматом qimage.
Comment[x-test]=xxPlugin to read a qimage compatible image.xx
