[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=filterwindow
X-Kst-Plugin-Author=C. Barth Netterfield
Name=Filter - Window Plugin
Name[ca]=Filtre - Connector de finestra
Name[ca@valencia]=Filtre - Connector de finestra
Name[el]=Πρόσθετο παραθυρικού φίλτρου
Name[en_GB]=Filter - Window Plugin
Name[es]=Filtro - Complemento de ventana
Name[gl]=Filtro - Complemento de xanela
Name[it]=Estensione filtro finestre
Name[nl]=Filter - venster-plug-in
Name[pl]=Wtyczka filtra okna
Name[pt]=Filtro - 'Plugin' de Janelas
Name[pt_BR]=Filtro - Plugin de Janelas
Name[sv]=Filter - Fönsterinsticksprogram
Name[uk]=Фільтр — віконний додаток
Name[x-test]=xxFilter - Window Pluginxx
Comment=Implements a Windowing Filter Plugin for Kst.
Comment[ca]=Implementa un connector de filtre de finestra pel Kst.
Comment[ca@valencia]=Implementa un connector de filtre de finestra pel Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο παραθυρικών φίλτρων για το Kst.
Comment[en_GB]=Implements a Windowing Filter Plugin for Kst.
Comment[es]=Implementa un complemento de filtro de ventanas para Kst.
Comment[gl]=Realiza un complemento de filtro de encadramento para Kst.
Comment[it]=Implementa un'estensione filtro finestre per Kst.
Comment[nl]=Implementeert een plugin voor Kst over filters in vensters.
Comment[pl]=Implementuje wtyczkę filtra okna dla Kst.
Comment[pt]=Implementa um 'plugin' de filtros de janelas para o Kst.
Comment[pt_BR]=Implementa um plugin de filtros de janelas para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för fönster
Comment[uk]=Реалізує додаток для фільтрування з вікном у Kst.
Comment[x-test]=xxImplements a Windowing Filter Plugin for Kst.xx
