[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_akima
X-Kst-Plugin-Author=Andrew Walker
Name=Interpolation akima spline
Name[da]=Akima spline-interpolation
Name[el]=Παρεμβολή καμπύλης spline akima
Name[es]=Interpolacion en una curva Akima
Name[et]=Akima splain-interpoleerimine
Name[it]=Interpolazione spline Akima
Name[nl]=Akima spline-interpolatie
Name[pt]=Interpolação numa curva Akima
Name[sv]=Akima-splineinterpolering
Name[vi]=Chốt trục akima nội suy
Comment=Generates a non-rounded Akima interpolation for a set of data.
Comment[da]=Opretter en ikke-afrundet Akima spline interpolation for en datamængde.
Comment[el]=Δημιουργία παρεμβολής Akima χωρίς στρογγυλοποίηση για ένα δοσμένο σύνολο δεδομένων.
Comment[es]=Genera una interpolación de Akima no redondeada para un conjunto de datos.
Comment[et]=Genereerib antud andmekogumi ümardamata Akima interpolatsiooni.
Comment[it]=Genera una interpolazione Akima non smussata per un insieme di dati.
Comment[nl]=Genereert een niet-afgeronde Akima-interpolatie van een verzameling gegevens.
Comment[pt]=Gera uma interpolação Akima não arredondada para um conjunto de dados.
Comment[pt_BR]=Gera uma interpolação Akima não arredondada para um conjunto de dados.
Comment[sv]=Skapar en icke-avrundad Akima-splineinterpolering för en datamängd.
Comment[vi]=Tạo ra sự nội suy Akima khác tròn cho một tập dữ liệu.
