[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_chop
X-Kst-Plugin-Author=Andrew Walker
Name=Chop
Name[ca]=Divisió
Name[da]=Opdeling
Name[de]=Abschneiden
Name[el]=Τεμαχισμός
Name[es]=Cortar
Name[et]=Tükeldamine
Name[it]=Dividi
Name[nl]=Indelen
Name[pt]=Recorte
Name[sv]=Uppdelning
Comment=Chops a given data set into odd, even, difference, and Index data sets.
Comment[ca]=Divideix un conjunt de dades en conjunts de dades parells, senars, diferències, i d'índex.
Comment[da]=Deler en given datamængde op i ulige, lige, forskel og indeks datamængder.
Comment[de]=Schneidet die gegebenen Daten in gerade, ungerade, Differenz und Indexdatenmengen.
Comment[el]=Τεμαχισμός ενός δοσμένου συνόλου δεδομένων στα σύνολα δεδομένων μονών, ζυγών, διαφοράς και δεικτών.
Comment[es]=Corta una serie de datos en las series de datos impares, pares, diferencia e index.
Comment[et]=Tükeldab antud andmekogumi paaris-, paarituks, diferents- ja indeksandmekogumiks.
Comment[it]=Divide un insieme di dati in insiemi di dati pari, dispari, differenze e indici.
Comment[nl]=Verdeelt een gegeven gegevensverzameling in gegevensverzamelingen die de oneven, even, en index-gegevens bevatten, en de verschillen.
Comment[pt]=Recorta um dado conjunto de dados em conjuntos de pares, ímpares, diferenças e índices.
Comment[pt_BR]=Divide um dado fornecido em ímpar, par, diferença, e índice do conjunto de dados.
Comment[sv]=Delar upp en given datamängd i udda, jämn, skillnad och index datamängder.
Comment[vi]=Cắt một tập dữ liệu đã cho ra các tập dữ liệu kiểu lẻ, chẵn, hiệu và chỉ mục.
