[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=activitylevel
X-Kst-Plugin-Author=Nicolas Brisset
Name=Activity Level Data Object Plugin
Name[ca]=Connector d'objecte de dades de nivell d'activitat
Name[ca@valencia]=Connector d'objecte de dades de nivell d'activitat
Name[de]=Aktivitätsstufen-Datenobjekt-Modul
Name[fr]=Module de niveau d'activité
Name[it]=Estensione oggetto dati di livello attività
Name[nl]=Activity Level Data Object Plugin
Name[pl]=Wtyczka obiektu danych poziomu aktywności
Name[pt]='Plugin' de Objecto de Dados ao Nível da Actividade
Name[pt_BR]=Plugin de objeto de dados ao nível de atividade
Name[sv]=Dataobjekt-insticksprogram för aktivitetsnivå
Name[uk]=Додаток для роботи з об’єктами даних щодо рівня активності
Name[x-test]=xxActivity Level Data Object Pluginxx
Comment=Computes an activity level (workload) based on signal reversals and amplitude of changes.
Comment[ca]=Calcula un nivell d'activitat (càrrega de treball) basat les inversions de senyals i l'amplitud dels canvis.
Comment[ca@valencia]=Calcula un nivell d'activitat (càrrega de treball) basat les inversions de senyals i l'amplitud dels canvis.
Comment[de]=Berechnet eine Aktivitätsstufe (Arbeitsbelastung) auf der Grundlage von Signalumkehrung und der Amplitude von Änderungen.
Comment[fr]=Calcule un niveau d'activité (charge de travail) basé sur les inversions de signaux et l'amplitude des changements.
Comment[it]=Calcola un livello attività (carico lavoro) basato su storni di segnali e ampiezza di modifiche.
Comment[nl]=Berekent een activiteitsniveau (workload) gebaseerd op omkeringen van signalen en amplitude van wijzigingen.
Comment[pl]=Oblicz poziom aktywności (obłożenie) na podstawie odwrócenia sygnałów i zmian amplitud.
Comment[pt]=Calcula um nível de actividade (carga) com base nas inversões de sinal e na amplitude das alterações.
Comment[pt_BR]=Calcula um nível de atividade (carga) com base nas inversões de sinal e na amplitude das alterações.
Comment[sv]=Beräknar en aktivitetsnivå (arbetslast) baserad på signalomkastningar och ändringsamplitud.
Comment[uk]=Обчислює рівень активності (навантаження) на основі даних щодо зміни сигналу та амплітуди змін.
Comment[x-test]=xxComputes an activity level (workload) based on signal reversals and amplitude of changes.xx
