[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=cumulativeaverage
X-Kst-Plugin-Author=dkruger
Name=Cumulative Average Data Object Plugin
Name[uk]=Додаток для роботи з об’єктами накопичувального середнього даних
Name[x-test]=xxCumulative Average Data Object Pluginxx
Comment=Implements a Cumulative Averge Data Object Plugin for Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами накопичувального середнього даних у Kst.
Comment[x-test]=xxImplements a Cumulative Averge Data Object Plugin for Kst.xx
