[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=cumulativeaverage
X-Kst-Plugin-Author=dkruger
Name=Cumulative Average Data Object Plugin
Name[ca]=Connector d'objecte de dades de mitjana acumulada
Name[fr]=Module DataObject de moyenne cumulée
Name[pt]='Plugin' de Objectos de Dados de Média Acumulada
Name[pt_BR]=Plugin de objeto de dados de média acumulada
Name[uk]=Додаток для роботи з об’єктами накопичувального середнього даних
Name[x-test]=xxCumulative Average Data Object Pluginxx
Comment=Implements a Cumulative Averge Data Object Plugin for Kst.
Comment[ca]=Implementa un connector d'objecte de dades de mitjana acumulada pel Kst.
Comment[fr]=Implémente un module DataObject de moyenne cumulée pour Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de média acumulada para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de média acumulada para o Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами накопичувального середнього даних у Kst.
Comment[x-test]=xxImplements a Cumulative Averge Data Object Plugin for Kst.xx
