[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=statistics
X-Kst-Plugin-Author=The University of Toronto
Name=Statistics Data Object Plugin
Name[bs]=Dodatak statistike objekta podatka
Name[ca]=Connector d'objecte de dades estadístiques
Name[ca@valencia]=Connector d'objecte de dades estadístiques
Name[de]=Statistik-Datenobjekt-Modul
Name[el]=Πρόσθετο αντικειμένων στατιστικών δεδομένων
Name[en_GB]=Statistics Data Object Plugin
Name[es]=Complemento de objeto de datos estadísticos
Name[fr]=Module DataObject de statistiques
Name[gl]=Complemento de obxecto de datos de estatísticas
Name[it]=Estensione oggetto dati statistici
Name[nl]=Statistics Data Object Plugin
Name[pl]=Wtyczka obiektu danych statystyki
Name[pt]='Plugin' de Objectos de Dados Estatísticos
Name[pt_BR]=Plugin de objeto de dados de estatística
Name[sv]=Dataobjekt-insticksprogram för statistik
Name[uk]=Додаток для роботи з об’єктами статистичних даних
Name[x-test]=xxStatistics Data Object Pluginxx
Comment=Implements a Statistics Data Object Plugin for Kst.
Comment[bs]=Implementira dodatak statistike objekta podatka za Kst.
Comment[ca]=Implementa un connector d'objecte de dades estadístiques pel Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades estadístiques pel Kst.
Comment[de]=Implementiert ein Statistik-Datenobjekt-Modul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο για αντικείμενα στατιστικών δεδομένων για το Kst.
Comment[en_GB]=Implements a Statistics Data Object Plugin for Kst.
Comment[es]=Implementa un complemento de objeto de datos estadísticos para Kst.
Comment[fr]=Implémente un module DataObject de statistiques pour Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de estatísticas para Kst.
Comment[it]=Implementa un'estensione oggetto dati statistici per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor statistiek.
Comment[pl]=Implementuje wtyczkę obiektu danych statystyki dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados para estatísticas para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de estatística para o Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för statistik.
Comment[uk]=Реалізує додаток для роботи з об’єктами статистичних даних у Kst.
Comment[x-test]=xxImplements a Statistics Data Object Plugin for Kst.xx
