[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=statistics
X-Kst-Plugin-Author=The University of Toronto
Name=Statistics Data Object Plugin
Comment=Implements a Statistics Data Object Plugin for Kst.
