[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=statistics
X-Kst-Plugin-Author=The University of Toronto
Name=Statistics Data Object Plugin
Name[pt]='Plugin' de Objectos de Dados Estatísticos
Name[uk]=Додаток для роботи з об’єктами статистичних даних
Name[x-test]=xxStatistics Data Object Pluginxx
Comment=Implements a Statistics Data Object Plugin for Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados para estatísticas para o Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами статистичних даних у Kst.
Comment[x-test]=xxImplements a Statistics Data Object Plugin for Kst.xx
