[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitexponential_weighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Gradient Exponential Plugin
Name[bs]=Dodatak eksponencijalnog prelaznog uklapanja
Name[ca]=Fits - Connector exponencial en gradient
Name[ca@valencia]=Fits - Connector exponencial en gradient
Name[de]=Verlauf-Exponential-Anpassungs-Modul
Name[el]=Fits - Gradient Exponential Πρόσθετο
Name[en_GB]=Fits - Gradient Exponential Plugin
Name[es]=FITS - Complemento exponencial de gradiente
Name[fr]=Module de régression exponentielle gradient
Name[gl]=Axustes - Complemento exponencial de gradación
Name[it]=Estensione fits gradiente esponenziale
Name[nl]=Fits - Gradient Exponential Plugin
Name[pl]=Wtyczka dopasowania gradientowego wykładniczego
Name[pt]='Plugin' de Ajuste Exponencial em Gradiente
Name[pt_BR]=Plugin de ajuste exponencial em gradiente
Name[sv]=Anpassning - Exponentiellt gradientinsticksprogram
Name[uk]=Додаток градієнтно-експоненційного наближення
Name[x-test]=xxFits - Gradient Exponential Pluginxx
Comment=Implements a Gradient Exponential Fits Plugin for Kst.
Comment[bs]=Implementira dodatak eksponencijalnog prelaznog uklapanja za Kst.
Comment[ca]=Implementa un connector Fits exponencial en gradient pel Kst.
Comment[ca@valencia]=Implementa un connector Fits exponencial en gradient pel Kst.
Comment[de]=Implementiert ein Anpassungs-Modul für exponentiellen Verlauf für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο Gradient Exponential Fits για το Kst.
Comment[en_GB]=Implements a Gradient Exponential Fits Plugin for Kst.
Comment[es]=Implementa un complemento FITS exponencial de gradiente para Kst.
Comment[fr]=Implémente un module de régression exponentielle à gradient pour Kst.
Comment[gl]=Realiza un complemento de axuste exponencial de gradación para Kst.
Comment[it]=Implementa un'estensione fits gradiente esponenziale per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor helling exponentiële aanpassing.
Comment[pl]=Implementuje wtyczkę obiektu danych dopasowania gradientowego wykładniczego dla Kst.
Comment[pt]=Implementa um 'plugin' de ajuste exponencial em gradiente para o Kst.
Comment[pt_BR]=Implementa um plugin de ajuste exponencial em gradiente para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för exponentiell gradientanpassning.
Comment[uk]=Реалізує додаток градієнтно-експоненційного наближення у Kst.
Comment[x-test]=xxImplements a Gradient Exponential Fits Plugin for Kst.xx
