[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=indirect
X-Kst-Plugin-Author=The University of Toronto
Name=Indirect File Reader
Name[bs]=Čitač Indirect datoteka
Name[ca]=Lector de fitxers indirectament
Name[cs]=Čtečka Indirect souborů
Name[da]=Indirekte fillæser
Name[de]=Betrachter für Indirect File
Name[el]=Αναγνώστης αρχείου Indirect
Name[es]=Lector de archivos indirectos
Name[et]=Indirect-faili lugeja
Name[ga]=Léitheoir Comhad Indirect
Name[gl]=Leitor de Arquivos Indirecto
Name[hi]=इनडायरेक्ट फाइल रीडर
Name[hr]=Neizravan čitač datoteka
Name[hu]=Indirekt fájlolvasó
Name[is]=Indirect skráalesari
Name[it]=Lettore di file indiretto
Name[nl]=Leesprogramma voor Indirecte bestanden
Name[pa]=ਅਸਿੱਧਾ ਫਾਇਲ ਰੀਡਰ
Name[pt]=Leitor de Ficheiros Indirecto
Name[pt_BR]=Leitor de Arquivos Indireto
Name[sr]=Читач индиректних фајлова
Name[sr@Latn]=Čitač indirektnih fajlova
Name[sv]=Indirekt filläsare
Name[ta]=மறைமுக கோப்பு படித்தல்
Name[tg]=Хонандаи файли ғайримустақим
Name[tr]=Dolaylı Dosya Okuyucu
Name[vi]=Bộ đọc tập tin gián tiếp
Name[xx]=xxIndirect File Readerxx
Name[zh_CN]=间接文件阅读器
Comment=Indirect file reader plugin.
Comment[bs]=Dodatak za čitanje Indirect datoteka.
Comment[ca]=Connector per a llegir fitxers indirectament.
Comment[cs]=Modul čtečky Indirect souborů
Comment[da]=Indirekte fillæser plugin.
Comment[de]=Modul zum Lesen des Indirect-File-Formats
Comment[el]=Πρόσθετο αναγνώστη αρχείων Indirect.
Comment[es]=Plugin para leer los archivos indirectos.
Comment[et]=Indirect-faili lugemise plugin.
Comment[gl]=Plugin leitor indirecto de ficheiros.
Comment[hi]=इनडायरेक्ट फाइल रीडर प्लगइन
Comment[hr]=Dodatak za neizravno čitanje datoteka.
Comment[hu]=Indirekt fájlbeolvasó bővítőmodul
Comment[is]=Íforrit til að lesa Indirect skrár.
Comment[it]=Plugin per leggere file in formato indiretto.
Comment[nl]=Plugin leesprogramma voor Indirecte bestanden.
Comment[pa]=ਅਸਿੱਧੀ ਫਾਇਲ ਰੀਡਰ ਪਲੱਗਿੰਨ ਹੈ।
Comment[pt]=Um leitor indirecto de ficheiros.
Comment[pt_BR]=plug-in do leitor de arquivos indiretos.
Comment[sr]=Прикључак за читање индиректних фајлова.
Comment[sr@Latn]=Priključak za čitanje indirektnih fajlova.
Comment[sv]=Insticksprogram för indirekt filläsare.
Comment[ta]=மறைமுக கோப்பு படித்தலைச் சொருகு
Comment[tg]=Модули хонандаи файли ғайримустақим.
Comment[tr]=Dolaylı dosya okuma eklentisi.
Comment[vi]=Bổ sung đọc tập tin gián tiếp.
Comment[xx]=xxIndirect file reader plugin.xx
Comment[zh_CN]=间接文件阅读器插件
