[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=planck
X-Kst-Plugin-Author=The University of Toronto
Name=PLANCK Plugin
Name[br]=Lugent PLANCK
Name[bs]=PLANCK dodatak
Name[ca]=Connector PLANCK
Name[cs]=PLANCK modul
Name[de]=PLANCK-Modul
Name[el]=Πρόσθετο PLANCK
Name[es]=Plugin PLANCK
Name[et]=PLANCK plugin
Name[fi]=PLANCK-liitännäinen
Name[fr]=Module PLANCK
Name[ga]=Breiseán PLANCK
Name[gl]=Plugin PLANCK
Name[hi]=प्लांक प्लगइन
Name[hr]=PLANCK dodatak
Name[hu]=PLANCK bővítőmodul
Name[is]=PLANCK íforrit
Name[it]=Plugin PLANCK
Name[ja]=PLANCK プラグイン
Name[ka]=PLANCK-ის მოდული
Name[nl]=PLANCK-plugin
Name[pa]=PLANCK ਪਲੱਗਿੰਨ
Name[pt]='Plugin' PLANCK
Name[pt_BR]=Plug-in PLANCK
Name[sr]=PLANCK прикључак
Name[sr@Latn]=PLANCK priključak
Name[sv]=Planck-insticksprogram
Name[ta]=PLANCK சொருகு
Name[tg]=Модули PLANCK
Name[tr]=PLANCK Eklentisi
Name[vi]=Bổ sung PLANCK
Name[xx]=xxPLANCK Pluginxx
Name[zh_CN]=PLANCK 插件
Comment=Plugin to read PLANCK data.
Comment[br]=Lugent evit lenn roadoù PLANCK.
Comment[bs]=Dodatak za čitanje PLANCK podataka.
Comment[ca]=Connector per a llegir dades PLANCK.
Comment[cs]=Modul pro čtení PLANCK dat.
Comment[da]=Plugin til at læse PLANCK-data.
Comment[de]=Modul zum Lesen von PLANCK-Daten
Comment[el]=Πρόσθετο για την ανάγνωση δεδομένων PLANCK.
Comment[es]=Plugin para leer datos PLANCK.
Comment[et]=Plugin PLANCK andmete lugemiseks.
Comment[fr]=Module pour la lecture des données PLANCK
Comment[ga]=Breiseán a léann sonraí PLANCK.
Comment[gl]=Un plugin para ler dados de PLANCK.
Comment[hi]=प्लांक डाटा पढ़ने हेतु प्लगइन
Comment[hr]=Dodatak za čitanje PLANCK podataka.
Comment[hu]=Bővítőmodul PLANCK-adatok beolvasásához
Comment[is]=Íforrit til að lesa PLANCK gögn.
Comment[it]=Plugin per leggere dati PLANCK.
Comment[ja]=PLANCK データを読むためのプラグイン
Comment[ka]=PLANCK-ის მონაცემების წასაკითხი მოდული.
Comment[nl]=Plugin voor het lezen van PLANCK-gegevens.
Comment[pt]=Um 'plugin' para ler os dados do PLANCK.
Comment[pt_BR]=Plug-in para a leitura de dados PLANCK.
Comment[sr]=Прикључак за читање PLANCK података.
Comment[sr@Latn]=Priključak za čitanje PLANCK podataka.
Comment[sv]=Insticksprogram för att läsa Planck-data.
Comment[ta]=சொருகி PLANCK தரவைப் படிக்கவும் 
Comment[tg]=Модул барои хондани маълумоти PLANCK.
Comment[tr]=Eklenti PLANCK verilerini okur.
Comment[vi]=Bổ sung đọc dữ liệu PLANCK.
Comment[xx]=xxPlugin to read PLANCK data.xx
Comment[zh_CN]=读取 PLANCK 数据的插件
