[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_statistics
X-Kst-Plugin-Author=Andrew Walker
Name=Statistics
Name[br]=Stadegoù
Name[ca]=Estadístiques
Name[da]=Statistik
Name[de]=Statistiken
Name[el]=Στατιστικά μεγέθη
Name[es]=Estadística
Name[et]=Statistika
Name[ga]=Staitistic
Name[is]=Tölfræði
Name[it]=Statistiche
Name[nl]=Statistiek
Name[pt]=Estatísticas
Name[sv]=Statistik
Name[vi]=Thống kê
Comment=Determines statistics for a given data set.
Comment[ca]=Determina les estadístiques d'un conjunt de dades donat.
Comment[da]=Beregner statistik for en given datamængde.
Comment[de]=Berechnet Statistiken für eine Datenmenge.
Comment[el]=Προσδιορίζει τα στατιστικά μεγέθη για ένα δοσμένο σύνολο δεδομένων.
Comment[es]=Determina estadísticas para un conjunto de datos.
Comment[et]=Määrab antud andmekogumi statistika.
Comment[it]=Determina le statistiche per un insieme di dati.
Comment[nl]=Genereert statistische waarden voor een gegeven gegevensverzameling.
Comment[pt]=Determina as estatísticas para um determinado conjunto de dados.
Comment[pt_BR]=Determina estatísticas para um conjunto de dados fornecido.
Comment[sv]=Beäknar statistik för en given datamängd.
Comment[vi]=Tính thống kê cho một tập dữ liệu đã cho.
