[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitkneefrequency
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Knee Frequency Plugin
Name[ca]=Fits - Connector d'angle de curvatura de freqüència
Name[ca@valencia]=Fits - Connector d'angle de curvatura de freqüència
Name[de]=Grenzfrequenz-Anpassungs-Modul
Name[fr]=Module de régression par fréquence coin (knee)
Name[it]=Estensione fits frequenza di ginocchio
Name[nl]=Fits - Knee Frequency Plugin
Name[pl]=Wtyczka dopasowania częstotliwości kolana
Name[pt]='Plugin' de Ajuste de Frequência
Name[pt_BR]=Plugin de ajuste de frequência
Name[sv]=Anpassning - Knäfrekvens-insticksprogram
Name[uk]=Наближення: додаток частоти зламів
Name[x-test]=xxFits - Knee Frequency Pluginxx
Comment=Implements a Knee Frequency Fits Plugin for Kst.
Comment[ca]=Implementa un connector Fits d'angle de curvatura de freqüència pel Kst.
Comment[ca@valencia]=Implementa un connector Fits d'angle de curvatura de freqüència pel Kst.
Comment[de]=Implementiert ein Grenzfrequenz-Anpassungs-Modul für Kst.
Comment[fr]=Implémente un module de régression par fréquence coin (knee) pour Kst.
Comment[it]=Implementa un'estensione fits frequenza di ginocchio per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor de "knee frequency".
Comment[pl]=Implementuje wtyczkę obiektu danych dopasowania częstotliwości kolana dla Kst.
Comment[pt]=Implementa um 'plugin' de ajuste de frequência para o Kst.
Comment[pt_BR]=Implementa um plugin de ajuste de frequência para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för knäfrekvens-anpassning.
Comment[uk]=Реалізує додаток частоти зламів (наближення) у Kst.
Comment[x-test]=xxImplements a Knee Frequency Fits Plugin for Kst.xx
