[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitkneefrequency
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Knee Frequency Plugin
Name[uk]=Наближення: додаток частоти зламів
Name[x-test]=xxFits - Knee Frequency Pluginxx
Comment=Implements a Knee Frequency Fits Plugin for Kst.
Comment[uk]=Реалізує додаток частоти зламів (наближення) у Kst.
Comment[x-test]=xxImplements a Knee Frequency Fits Plugin for Kst.xx
