[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=effectivebandwidth
X-Kst-Plugin-Author=The University of Toronto
Name=Effective Bandwidth Data Object Plugin
Name[pt]='Plugin' de Objectos de Dados de Largura de Banda Efectiva
Name[sv]=Dataobjekt-insticksprogram för effektiv bandbredd
Name[uk]=Додаток для роботи з об’єктами ефективної смуги даних
Name[x-test]=xxEffective Bandwidth Data Object Pluginxx
Comment=Implements a Effective Bandwidth Data Object Plugin for Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de largura de banda efectiva para o Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами ефективної смуги даних у Kst.
Comment[x-test]=xxImplements a Effective Bandwidth Data Object Plugin for Kst.xx
