[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=effectivebandwidth
X-Kst-Plugin-Author=The University of Toronto
Name=Effective Bandwidth Data Object Plugin
Name[de]=Datenobjekt-Modul für effektive Bandbreite
Name[fr]=Module DataObject de bande passante effective
Name[nl]=Plug-in voor object met effectieve bandbreedtegegevens
Name[pt]='Plugin' de Objectos de Dados de Largura de Banda Efectiva
Name[pt_BR]=Plugin de objeto de dados de largura de banda efetiva
Name[sv]=Dataobjekt-insticksprogram för effektiv bandbredd
Name[uk]=Додаток для роботи з об’єктами ефективної смуги даних
Name[x-test]=xxEffective Bandwidth Data Object Pluginxx
Comment=Implements a Effective Bandwidth Data Object Plugin for Kst.
Comment[fr]=Implémente un module DataObject de bande passante effective pour Kst.
Comment[nl]=Implementeert plug-in voor object met effectieve bandbreedtegegevens voor Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de largura de banda efectiva para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de largura de banda efetiva para o Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами ефективної смуги даних у Kst.
Comment[x-test]=xxImplements a Effective Bandwidth Data Object Plugin for Kst.xx
