[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=movingmedian
X-Kst-Plugin-Author=Jonathan Liu
Name=Moving Median Data Object Plugin
Comment=Implements a Moving Median Data Object Plugin for Kst.
