[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=movingmedian
X-Kst-Plugin-Author=Jonathan Liu
Name=Moving Median Data Object Plugin
Name[ca]=Connector d'objecte de dades de mediana mòbil
Name[ca@valencia]=Connector d'objecte de dades de mediana mòbil
Name[es]=Complemento de objeto de datos de media móvil
Name[nl]=Lopende mediaan plug-in voor gegevensobject
Name[sl]=Vtičnik drseče mediane podatkovnega predmeta
Name[tr]=Hareketli Ortanca Veri Nesnesi Eklentisi
Name[uk]=Додаток для роботи з об’єктами рухомої медіани даних
Name[x-test]=xxMoving Median Data Object Pluginxx
Comment=Implements a Moving Median Data Object Plugin for Kst.
Comment[ca]=Implementa un connector d'objecte de dades de mediana mòbil per al Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades de mediana mòbil per a Kst.
Comment[es]=Implementa un complemento de objeto de datos de media móvil para Kst.
Comment[nl]=Implementeert een plug-in voor een gegevensobject in Kst voor lopende mediaan
Comment[sl]=Implementira vtičnik drseče mediane podatkovnega predmeta za Kst.
Comment[tr]=Kst için bir Hareketli Ortanca Veri Nesnesi Eklentisi uygular.
Comment[uk]=Реалізує додаток для роботи з об’єктами рухомої медіани даних у Kst.
Comment[x-test]=xxImplements a Moving Median Data Object Plugin for Kst.xx
