[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=movingmedian
X-Kst-Plugin-Author=Jonathan Liu
Name=Moving Median Data Object Plugin
Name[ar]=ملحق كائن بيانات الوسيط المتحرك
Name[ca]=Connector d'objecte de dades de mediana mòbil
Name[ca@valencia]=Connector d'objecte de dades de mediana mòbil
Name[en_GB]=Moving Median Data Object Plugin
Name[eo]=Kromprogramo por Movanta Mediana Datum-Objekto
Name[es]=Complemento de objeto de datos de media móvil
Name[fr]=Module externe de médiane mobile pour un objet de données
Name[gl]=Complemento de obxecto de datos de mediana móbil
Name[it]=Estensione oggetto dati di mediana mobile
Name[nl]=Lopende mediaan plug-in voor gegevensobject
Name[pl]=Wtyczka obiektu danych mediany ruchomej
Name[pt_BR]=Plugin de objeto de dados medianos móveis
Name[sl]=Vtičnik drseče mediane podatkovnega predmeta
Name[sv]=Dataobjekt-insticksprogram för rörligt medianvärde
Name[tr]=Hareketli Ortanca Veri Nesnesi Eklentisi
Name[uk]=Додаток для роботи з об’єктами рухомої медіани даних
Comment=Implements a Moving Median Data Object Plugin for Kst.
Comment[ar]=ينفّذ ملحق كائن بيانات الوسيط المتحرك لكاست.
Comment[ca]=Implementa un connector d'objecte de dades de mediana mòbil per al Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades de mediana mòbil per a Kst.
Comment[en_GB]=Implements a Moving Median Data Object Plugin for Kst.
Comment[eo]=Realigas Kromprogramon por Movanta Mediana Datum-Objekto por Kst.
Comment[es]=Implementa un complemento de objeto de datos de media móvil para Kst.
Comment[fr]=Implémente un module externe de médiane mobile pour un objet de données de Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de mediana móbil para Kst.
Comment[it]=Implementa un'estensione oggetto dati di mediana mobile per Kst.
Comment[nl]=Implementeert een plug-in voor een gegevensobject in Kst voor lopende mediaan
Comment[pl]=Implementuje wtyczkę obiektu danych mediany ruchomej dla Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados medianos móveis para o Kst.
Comment[sl]=Implementira vtičnik drseče mediane podatkovnega predmeta za Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för rörligt medianvärde.
Comment[tr]=Kst için bir Hareketli Ortanca Veri Nesnesi Eklentisi uygular.
Comment[uk]=Реалізує додаток для роботи з об’єктами рухомої медіани даних у Kst.
