[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_crosscorrelate
X-Kst-Plugin-Author=Andrew Walker
Name=Cross-correlation
Name[ca]=Correlació creuada
Name[da]=Krudskorrelation
Name[de]=Kreuzkorrelation
Name[el]=Συσχέτιση
Name[es]=Correlación cruzada
Name[et]=Ristkorrelatsioon
Name[it]=Correlazione incrociata
Name[nl]=Kruiscorrelatie
Name[pt]=Correlação cruzada
Name[sv]=Korskorrelering
Name[vi]=Tương quan chéo
Comment=Generates the correlation of one vector with another.
Comment[ca]=Genera la correlació d'un vector amb un altre.
Comment[da]=Genererer krydskorrelation af en vektor med en anden.
Comment[de]=Erzeugt die Kreuzkorrelation eines Vektors mit einem anderen.
Comment[el]=Δημιουργεί τη συσχέτιση ενός διανύσματος με ένα άλλο.
Comment[es]=Genera la correlación de un vector con otro.
Comment[et]=Genereerib kahe vektori korrelatsiooni.
Comment[it]=Genera la correlazione incrociata di un vettore con un altro.
Comment[nl]=Genereert de correlatie van een vector met een andere vector.
Comment[pt]=Gera a correlação cruzada de um vector com outro.
Comment[pt_BR]=Gera a correlação de um vetor com outro.
Comment[sv]=Skapar korreleringen av en vektor med en annan.
Comment[vi]=Tạo ra sự tương quan chéo của véc-tơ này với véc-tơ khác.
