[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_effbandwidth
X-Kst-Plugin-Author=Duncan Hanson
Name=Effective Bandwidth
Name[ca]=Ample de banda efectiu
Name[da]=Effektiv båndbredde
Name[de]=Effektive Bandbreite
Name[el]=Ενεργό εύρος
Name[es]=Ancho de banda efectivo
Name[et]=Efektiivne ribalaius
Name[it]=Ampiezza di banda effettiva
Name[nl]=Effectieve bandbreedte
Name[pt]=Largura de Banda Efectiva
Name[sv]=Effektiv bandbredd
Name[vi]=Băng thông hiệu dụng
Comment=Calculates effective bandwidth from an amplitude spectrum.
Comment[ca]=Calcula l'ample de banda d'un espectre d'amplitud.
Comment[da]=Beregner effektiv båndbredde for et amplitudespektrum.
Comment[de]=Berechnet die effektive Bandbreite eines Amplitüden Spektrums.
Comment[el]=Υπολογισμός ενεργού εύρους από ένα φάσμα έντασης.
Comment[es]=Calcula el ancho de banda efectivo de un espectro de amplitudes.
Comment[et]=Genereerib amplituudispektri põhjal efektiivse ribalaiuse.
Comment[it]=Calcola l'ampiezza di banda effettiva di uno spettro di ampiezza.
Comment[nl]=Berekent de effectieve bandbreedte uit een amplitudespectrum.
Comment[pt]=Calcula a largura de banda efectiva de um espectro de amplitude.
Comment[pt_BR]=Calcula a largura de banda efetiva a partir de um espectro de amplitude.
Comment[sv]=Beräknar effektiv bandbredd av ett amplitudspektrum.
Comment[vi]=Tính băng thông hiệu dụng từ quang phổ biên tần.
