[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=tiff16source
X-Kst-Plugin-Author=C. Barth Netterfield
Name=tiff16source
Name[ca]=tiff16source
Name[ca@valencia]=tiff16source
Name[en_GB]=tiff16source
Name[es]=tiff16source
Name[nl]=tiff16source
Name[pl]=tiff16source
Name[pt]=Código Tiff16
Name[pt_BR]=Código Tiff16
Name[sv]=tiff16source
Name[uk]=tiff16source
Name[x-test]=xxtiff16sourcexx
Comment=Plugin to read a 16 bit grayscale tiff image.
Comment[ca]=Connector per llegir una imatge Tiff de 16 bits en escala de grisos.
Comment[ca@valencia]=Connector per llegir una imatge Tiff de 16 bits en escala de grisos.
Comment[en_GB]=Plugin to read a 16 bit greyscale tiff image.
Comment[es]=Complemento para leer una imagen TIFF en escala de grises de 16 bits.
Comment[nl]=Plugin voor het lezen van afbeelding met 16 bits grijsschaal.
Comment[pl]=Wtyczka do odczytywania obrazów tiff, 16 bitowych w odcieni szarości.
Comment[pt]=Um 'plugin' para ler uma imagem TIFF em tons de cinzento a 16 'bits'.
Comment[pt_BR]=Plugin para ler uma imagem TIFF em tons de cinza de 16 bits.
Comment[sv]=Insticksprogram för att läsa en 16-bitars TIFF gråskalebild.
Comment[uk]=Додаток для читання зображень tiff у 16-бітових тонах сірого.
Comment[x-test]=xxPlugin to read a 16 bit grayscale tiff image.xx
