[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=lfiio
X-Kst-Plugin-Author=The University of Toronto
Name=LFIIO Reader
Name[de]=LFIIO-Betrachter
Name[sv]=LFIIO-läsare
Name[uk]=Засіб читання LFIIO
Name[x-test]=xxLFIIO Readerxx
Comment=Implements support for reading FITS files into Kst.
Comment[de]=Unterstützung für das Einlesen von FITS-Dateien in Kst
Comment[sv]=Implementerar stöd för att läsa FITS-filer i Kst.
Comment[uk]=Реалізує підтримку читання файлів FITS у Kst.
Comment[x-test]=xxImplements support for reading FITS files into Kst.xx
