[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=lfiio
X-Kst-Plugin-Author=The University of British Columbia
Name=LFIIO Reader
Name[br]=Lenner LFIIO
Name[ca]=Lector LFIIO
Name[cs]=LFIIO čtečka
Name[da]=LFIIO-læser
Name[de]=LFIIO-Betrachter
Name[el]=Αναγνώστης LFIIO
Name[es]=Lector de LFIIO
Name[et]=LFIIO lugeja
Name[fr]=Lecteur LFIIO
Name[ga]=Léitheoir LFIIO
Name[gl]=Leitor da LFIIO
Name[hi]=एलएफ़आईआईओ रीडर
Name[hr]=LFIIO čitač
Name[is]=LFIIO skráalesari
Name[it]=Lettore LFIIO
Name[ja]=LFIIO リーダー
Name[ka]=LFIIO-ის წამკითხველი
Name[nl]=LFIIO-leesprogramma
Name[pa]=LFIIO ਰੀਡਰ
Name[pt]=Leitor da LFIIO
Name[pt_BR]=Leitor de LFIIO
Name[sr]=LFIIO читач
Name[sr@Latn]=LFIIO čitač
Name[sv]=LFIIO-läsare
Name[ta]=LFIIO படிப்பான்
Name[tg]=Хонандаи LFIIO
Name[tr]=LFIIO okuyucu
Name[vi]=Bộ đọc LFIIO
Name[xx]=xxLFIIO Readerxx
Name[zh_CN]=LFIIO 阅读器
Comment=Implements support for reading FITS files into Kst.
Comment[bs]=Implementira podršku za čitanje FITS datoteka u Kst.
Comment[ca]=Implementa en Kst el funcionament per a llegir fitxers FITS.
Comment[cs]=Podpora čtení FITS souborů pro Kst.
Comment[da]=Implementerer støtte for at læse FITS-filer i Kst.
Comment[de]=Unterstützung für das Einlesen von FITS-Dateien in Kst
Comment[el]=Υλοποιεί την υποστήριξη για ανάγνωση αρχείων FITS στο Kst.
Comment[es]=Implementa soporte para leer archivos FITS en Kst.
Comment[et]=Kst FITS-failide lugemise toetus.
Comment[fr]=Prise en charge de la lecture des fichiers FITS dans Kst.
Comment[gl]=Permite a leitura de ficheiros FITS en Kst.
Comment[hi]=केएसटी में एफ़आईटीएस फाइलें पढ़ने हेतु समर्थन इम्प्लीमेंट करता है.
Comment[hr]=Implementira podršku za čitanje FITS datoteka u Kst.
Comment[hu]=Lehetővé teszi FITS-fájlok beolvasását a Kst-be.
Comment[is]=Gefur stuðning við lestur FITS skráa inn í Kst.
Comment[it]=Implementa supporto per leggere file FITS in Kst.
Comment[ja]=FITS ファイルの Kst への読み込みをサポート
Comment[ka]=უზრუნველყოფს FITS ფაილების Kst-ში წაკითხვას.
Comment[nl]=Implementeert de ondersteuning voor het inlezen van FITS-bestanden in Kst.
Comment[pt]=Implementa o suporte para a leitura de ficheiros do FITS no Kst.
Comment[pt_BR]=Implementa o suporte a leitura de arquivos FITS dentro do Kst.
Comment[sr]=Имплементира подршку за читање FITS фајлова у Kst.
Comment[sr@Latn]=Implementira podršku za čitanje FITS fajlova u Kst.
Comment[sv]=Implementerar stöd för att läsa in FITS-filer i Kst.
Comment[ta]=FITS  கோப்பிலிருந்து Kstடிற்குச் செய்முறைப்படுத்தித் துணைப் படி.
Comment[tg]=Иҷро намудани пуштибонӣ барои хондани файлҳои FITS ба Kst.
Comment[tr]=Kst içine FITS dosyaları okuma desteği verenler
Comment[vi]=Thực hiện vào Kst khả năng đọc các tập tin FITS.
Comment[xx]=xxImplements support for reading FITS files into Kst.xx
Comment[zh_CN]=将 FITS 文件读入 Kst. 的应用支持
