[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=fitpolynomial_unweighted
X-Kst-Plugin-Author=The University of Toronto
Name=Fits - Polynomial Plugin
Name[bs]=Dodatak polinomskog uklapanja
Name[ca]=Fits - Connector polinòmic
Name[ca@valencia]=Fits - Connector polinòmic
Name[de]=Polynom-Anpassungs-Modul
Name[el]=Fits - Polynomial Πρόσθετο
Name[en_GB]=Fits - Polynomial Plugin
Name[es]=FITS - Complemento polinómico
Name[fr]=Module de régression polynomiale
Name[gl]=Axustes - Complemento polinómico
Name[it]=Estensione fits polinomiale
Name[nl]=Fits - Polynomial Plugin
Name[pl]=Wtyczka dopasowania wielomianowego
Name[pt]='Plugin' de Ajuste Polinomial
Name[pt_BR]=Plugin de ajuste polinomial
Name[sv]=Anpassning - Polynom-insticksprogram
Name[uk]=Наближення: поліноміальний додаток
Name[x-test]=xxFits - Polynomial Pluginxx
Comment=Implements a Polynomial Fits Plugin for Kst.
Comment[bs]=Implementira dodatak polinomskog uklapanja za Kst.
Comment[ca]=Implementa un connector Fits polinòmic pel Kst.
Comment[ca@valencia]=Implementa un connector Fits polinòmic pel Kst.
Comment[de]=Implementiert ein Polynom-Anpassungs-Modul für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο Polynomial Fits για το Kst.
Comment[en_GB]=Implements a Polynomial Fits Plugin for Kst.
Comment[es]=Implementa un complemento FITS polinómico para Kst.
Comment[fr]=Implémente un module de régression polynomiale pour Kst.
Comment[gl]=Realiza un complemento de axuste polinómico para Kst.
Comment[it]=Implementa un'estensione fits polinomiale per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor aanpassing aan een veelterm.
Comment[pl]=Implementuje wtyczkę obiektu danych dopasowania wielomianowego dla Kst.
Comment[pt]=Implementa um 'plugin' de ajuste polinomial para o Kst.
Comment[pt_BR]=Implementa um plugin de ajuste polinomial para o Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för polynom-anpassning.
Comment[uk]=Реалізує додаток поліноміального наближення у Kst.
Comment[x-test]=xxImplements a Polynomial Fits Plugin for Kst.xx
