[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=boxcar
X-Kst-Plugin-Author=Barth Netterfield
Name=Boxcar Data Object Plugin
Name[ca]=Connector d'objecte de dades «boxcar»
Name[ca@valencia]=Connector d'objecte de dades «boxcar»
Name[en_GB]=Boxcar Data Object Plugin
Name[eo]=Boxcar Datumobjekta Kromaĵo
Name[es]=Complemento de objeto de datos boxcar
Name[fr]=Module externe d'objets de données pour Boxcar
Name[gl]=Complemento de obxecto de datos de Boxcar
Name[it]=Estensione oggetto dati di boxcar
Name[nl]=Plugin voor Boxcar gegevensobject
Name[pl]=Wtyczka obiektu danych Boxcar
Name[pt_BR]=Plugin de objeto de dados do Boxcar
Name[sl]=Vtičnik drsečega podatkovnega predmeta
Name[sv]=Lådformat dataobjekt-insticksprogram
Name[tr]=Boxcar Veri Nesnesi Eklentisi
Name[uk]=Додаток для об’єктів вузькосмугового фільтра
Comment=Implements a boxcar lowpass filter Data Object Plugin for Kst.
Comment[ca]=Implementa un connector d'objecte de dades de filtre passabaix «boxcar» per al Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades de filtre passabaix «boxcar» per a Kst.
Comment[en_GB]=Implements a boxcar lowpass filter Data Object Plugin for Kst.
Comment[eo]=Realigas boxcar-malaltpasfiltrilan Datumobjektan Kromaĵon por Kst.
Comment[es]=Implementa un complemento de objeto de datos de filtro paso bajo de boxcar para Kst.
Comment[fr]=Implémente un module externe de filtre passe-bas pour un objet de données de Boxcar pour Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de filtro de pase baixo de boxcar para Kst.
Comment[it]=Implementa un'estensione oggetto dati filtro passa basso boxcar per Kst.
Comment[nl]=Implementeert een plug-in voor een gegevensobject boxcar laagdoorlaatfilter voor Kst.
Comment[pl]=Implementuje wtyczkę obiektu danych filtra dolnoprzepustowego boxcar dla Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de filtro passa-baixa do boxcar para o Kst.
Comment[sl]=Implementira vtičnik drsečega nizkoprepustnega filtra podatkovnega predmeta za Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för lådformat lågpassfilter.
Comment[tr]=Kst için bir Boxcar Düşük Geçiş Süzgeç Veri Nesnesi Eklentisi uygular.
Comment[uk]=Реалізує додаток для роботи з об’єктами вузькосмугового фільтрування низьких частот даних у Kst.
