[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=fitsimage
X-Kst-Plugin-Author=Barth Netterfield
Name=fitsimage
Name[el]=εικόναfits
Name[es]=Imagen FITS
Name[gl]=fitsimaxe
Name[it]=Immagini FITS
Name[nl]=FITS-afbeelding
Name[pt_BR]=Image fits
Name[sv]=FITS-bild
Name[tg]=fits-тасвир
Name[xx]=xxfitsimagexx
Comment=Plugin to read a FITS image.
Comment[br]=Lugent evit lenn ur skeudenn FITS.
Comment[ca]=Connector per llegir una imatge FITS.
Comment[cs]=Modul pro čtení FITS obrázků.
Comment[da]=Plugin til at læse et FITS-billede.
Comment[de]=Modul zum Lesen von FITS-Bildern
Comment[el]=Πρόσθετο για ανάγνωση μιας εικόνας FITS.
Comment[es]=Plugin para leer una imagen en formato FITS.
Comment[et]=Plugin FITS-piltide lugemiseks.
Comment[ga]=Breiseán a léann íomhá FITS.
Comment[gl]=Un plugin para ler unha imaxe FITS.
Comment[hr]=Dodatak za čitanje FITS slika.
Comment[is]=Íforrit til að lesa FITS myndskrár.
Comment[it]=Plugin per leggere un'immagine FITS.
Comment[ja]=FITS 画像を読むためのプラグイン
Comment[ka]=FITS გამოსახულების წამკითხველი მოდული.
Comment[nl]=Plugin voor het lezen van een FITS-afbeelding.
Comment[pt]=Um 'plugin' para ler uma imagem FITS.
Comment[pt_BR]=Plug-in para a leitura de uma imagem FITS.
Comment[sr]=Прикључак за читање FITS слика.
Comment[sr@Latn]=Priključak za čitanje FITS slika.
Comment[sv]=Insticksprogram för att läsa en FITS-bild.
Comment[tg]=Модул барои хондани тасвири FITS.
Comment[vi]=Bổ sung đọc ảnh kiểu FITS.
Comment[xx]=xxPlugin to read a FITS image.xx
