[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=fitsimage
X-Kst-Plugin-Author=The University of Toronto
Name=fitsimage
Name[ar]=fitsimage
Name[bs]=fitsslika
Name[ca]=Imatge FITS
Name[ca@valencia]=Imatge FITS
Name[de]=Fitsimage
Name[el]=fitsimage
Name[en_GB]=fitsimage
Name[eo]=konvenas bildon
Name[es]=fitsimage
Name[et]=fitsimage
Name[fr]=fitsimage
Name[gl]=imaxefits
Name[hu]=fitsimage
Name[it]=immagine fits
Name[ka]=fitsimage
Name[nb]=fitsimage
Name[nl]=fits-afbeelding
Name[pl]=fitsimage
Name[pt]=Imagem FITS
Name[pt_BR]=Imagem FITS
Name[sk]=fitsimage
Name[sl]=fitsimage
Name[sv]=FITS-bild
Name[tr]=fitsimage
Name[uk]=fitsimage
Comment=Plugin to read a FITS image.
Comment[ar]=ملحق لقراءة صورة FITS.
Comment[bs]=Dodatak za čitanje FITS slike.
Comment[ca]=Connector per a llegir una imatge FITS.
Comment[ca@valencia]=Connector per a llegir una imatge FITS.
Comment[de]=Modul zum Lesen von FITS-Bildern
Comment[el]=Πρόσθετο ανάγνωσης εικόνων FITS.
Comment[en_GB]=Plugin to read a FITS image.
Comment[eo]=Kromaĵo por legi FITS-bildon.
Comment[es]=Complemento para leer imágenes FITS.
Comment[et]=Plugin FITS-piltide lugemiseks.
Comment[fi]=FITS-kuvia lukeva liitännäinen.
Comment[fr]=Module pour lire une image FITS.
Comment[gl]=Complemento para ler unha imaxe FITS.
Comment[it]=Estensione per leggere un'immagine FITS.
Comment[nb]=Programtillegg som leser et FITS-bilde.
Comment[nl]=Plugin voor het inlezen van FITS-afbeeldingen.
Comment[pl]=Wtyczka do odczytywania obrazów FITS.
Comment[pt]=Um 'plugin' para ler uma imagem do FITS.
Comment[pt_BR]=Plugin para ler uma imagem do FITS.
Comment[sk]=Plugin na čítanie FITS obrázku.
Comment[sl]=Vtičnik za branje slik FITS.
Comment[sv]=Insticksprogram för att läsa en FITS-bild.
Comment[tr]=Bir FITS görselini okumak için eklenti.
Comment[uk]=Додаток для читання зображень FITS.
