[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=fitsimage
X-Kst-Plugin-Author=The University of Toronto
Name=fitsimage
Name[de]=Fitsimage
Name[nl]=fitsimage
Name[sk]=fitsimage
Name[sv]=FITS-bild
Name[uk]=fitsimage
Name[x-test]=xxfitsimagexx
Comment=Plugin to read a FITS image.
Comment[de]=Modul zum Lesen von FITS-Bildern
Comment[sv]=Insticksprogram för att läsa en FITS-bild.
Comment[uk]=Додаток для читання зображень FITS.
Comment[x-test]=xxPlugin to read a FITS image.xx
