[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=sampleplugin
X-Kst-Plugin-Author=The University of Toronto
Name=Sample Data Object Plugin
Name[uk]=Додаток для роботи з об’єктами даних вибірок
Name[x-test]=xxSample Data Object Pluginxx
Comment=Implements a sample Data Object Plugin for Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами даних вибірок у Kst.
Comment[x-test]=xxImplements a sample Data Object Plugin for Kst.xx
