[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=sampleplugin
X-Kst-Plugin-Author=The University of Toronto
Name=Sample Data Object Plugin
Name[de]=Beispiel-Datenobjekt-Modul
Name[fr]=Module DataObject d'échantillonnage
Name[nl]=Plug-in voor object met sample-gegevens
Name[pt]='Plugin' de Objecto de Dados de Exemplo
Name[pt_BR]=Plugin de objeto de dados de exemplo
Name[uk]=Додаток для роботи з об’єктами даних вибірок
Name[x-test]=xxSample Data Object Pluginxx
Comment=Implements a sample Data Object Plugin for Kst.
Comment[de]=Implementiert ein Beispiel-Datenobjekt-Modul für Kst.
Comment[fr]=Implémente un module DataObject d'échantillonnage pour Kst.
Comment[nl]=Implementeert een plug-in voor object met sample-gegevens voor Kst.
Comment[pt]=Implementa um 'plugin' de objecto de dados de amostras de exemplo para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de exemplo para o Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами даних вибірок у Kst.
Comment[x-test]=xxImplements a sample Data Object Plugin for Kst.xx
