[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=chop
X-Kst-Plugin-Author=The University of Toronto
Name=Chop Data Object Plugin
Name[uk]=Додаток для роботи з об’єктами обрізаних даних
Name[x-test]=xxChop Data Object Pluginxx
Comment=Implements a Chop Data Object Plugin for Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами обрізаних даних у Kst.
Comment[x-test]=xxImplements a Chop Data Object Plugin for Kst.xx
