[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=differentiation
X-Kst-Plugin-Author=The University of Toronto
Name=Differentiation Data Object Plugin
Name[uk]=Додаток для роботи з об’єктами диференціації даних
Name[x-test]=xxDifferentiation Data Object Pluginxx
Comment=Implements a Differentiation Data Object Plugin for Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами диференціації даних у Kst.
Comment[x-test]=xxImplements a Differentiation Data Object Plugin for Kst.xx
