[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=filterbutterworthbandpass
X-Kst-Plugin-Author=The University of Toronto
Name=Filter - Butterworth Band Pass Plugin
Name[uk]=Додаток фільтрування смугового пропускання за Баттервортом
Name[x-test]=xxFilter - Butterworth Band Pass Pluginxx
Comment=Implements a Butterworth Band Pass Filter Plugin for Kst.
Comment[uk]=Реалізує додаток для фільтрування смугового пропускання за Баттервортом у Kst.
Comment[x-test]=xxImplements a Butterworth Band Pass Filter Plugin for Kst.xx
