[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=sampledatasource
X-Kst-Plugin-Author=The University of Toronto
Name=File Reader Template
Comment=Code template for a file reader plugin.
