[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=sampledatasource
X-Kst-Plugin-Author=The University of Toronto
Name=File Reader Template
Name[ca]=Plantilla de lector de fitxer
Name[de]=Vorlage für Dateileser
Name[fr]=Modèle de lecteur de fichier
Name[it]=Modello lettore di file
Name[nl]=Sjabloon voor bestandslezer
Name[pt]=Modelo de Leitor de Ficheiros
Name[pt_BR]=Modelo de leitor de arquivos
Name[sv]=Mall för filläsare
Name[uk]=Шаблон засобу для читання файлів
Name[x-test]=xxFile Reader Templatexx
Comment=Code template for a file reader plugin.
Comment[ca]=Plantilla de codi per un connector de lector de fitxer.
Comment[de]=Quelltext-Vorlage für Dateileser-Module
Comment[fr]=Modèle de code pour un module de lecture de fichiers.
Comment[it]=Modello codice per un'estensione del lettore file.
Comment[nl]=Sjabloon voor code voor plug-in voor bestandslezer.
Comment[pt]=Um modelo de código para um 'plugin' de leitura de ficheiros.
Comment[pt_BR]=Modelo de código para um plugin de leitura de arquivos.
Comment[sv]=Kodmall för ett insticksprogram för filläsning.
Comment[uk]=Шаблон коду додатка для читання файлів.
Comment[x-test]=xxCode template for a file reader plugin.xx
