[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=sampledatasource
X-Kst-Plugin-Author=The University of Toronto
Name=File Reader Template
Name[de]=Vorlage für Dateileser
Name[sv]=Mall för filläsare
Name[uk]=Шаблон засобу для читання файлів
Name[x-test]=xxFile Reader Templatexx
Comment=Code template for a file reader plugin.
Comment[de]=Quelltext-Vorlage für Dateileser-Module
Comment[sv]=Kodmall för ett insticksprogram för filläsning.
Comment[uk]=Шаблон коду додатка для читання файлів.
Comment[x-test]=xxCode template for a file reader plugin.xx
