[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=filterunwind
X-Kst-Plugin-Author=C. Barth Netterfield
Name=Filter - Unwind Plugin
Name[bs]=Filter-odmotavanja dodatak
Name[ca]=Filtre - Connector d'eliminació de pics angulars
Name[ca@valencia]=Filtre - Connector d'eliminació de pics angulars
Name[de]=Filter - Abwicklungsmodul
Name[el]=Πρόσθετο φίλτρου χαλάρωσης
Name[en_GB]=Filter - Unwind Plugin
Name[es]=Filtro - Complemento de eliminación de picos angulares
Name[fr]=Module de filtre de déroulage d'angle
Name[gl]=Filtro - Complemento de desenrolar
Name[it]=Estensione filtro di rimozione
Name[nl]=Filter - Unwind Plugin
Name[pl]=Wtyczka filtra odwinięcia
Name[pt]='Plugin' de Filtro de Eliminação de Picos Angulares
Name[pt_BR]=Plugin de filtro de eliminação de picos angulares
Name[sv]=Filter - Insticksprogram för avnystning
Name[uk]=Додаток фільтрування з розгортанням
Name[x-test]=xxFilter - Unwind Pluginxx
Comment=Implements an angle unwind Filter Plugin for Kst.
Comment[bs]=Implementira Filter-odmotavanja dodatak za Kst.
Comment[ca]=Implementa un connector de filtre d'eliminació de pics angulars pel Kst.
Comment[ca@valencia]=Implementa un connector de filtre d'eliminació de pics angulars pel Kst.
Comment[de]=Implementiert ein Filtermodul zur Abwicklung von Winkeln für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο για φίλτρα χαλάρωσης για το Kst.
Comment[en_GB]=Implements an angle unwind Filter Plugin for Kst.
Comment[es]=Implementa un complemento de filtro de eliminación de picos angulares para Kst.
Comment[fr]=Implémente un module de filtre de déroulage d'angle pour Kst.
Comment[gl]=Realiza un complemento de filtro de desenrolamento de ángulos para Kst.
Comment[it]=Implementa un'estensione filtro di rimozione per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor hoekafwikkeling.
Comment[pl]=Implementuje wtyczkę obiektu danych filtra odwinięcia dla Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados para a remoção de picos angulares no Kst.
Comment[pt_BR]=Implementa um plugin de objetos de dados para remoção de picos angulares no Kst.
Comment[sv]=Implementerar ett Kst insticksprogram för vinkelavnystning.
Comment[uk]=Реалізує додаток для фільтрування з розгортанням за кутом у Kst.
Comment[x-test]=xxImplements an angle unwind Filter Plugin for Kst.xx
