[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=filterunwind
X-Kst-Plugin-Author=C. Barth Netterfield
Name=Filter - Unwind Plugin
Name[fr]=Module de filtre de déroulage d'angle
Name[pt]='Plugin' de Filtro de Eliminação de Picos Angulares
Name[pt_BR]=Plugin de filtro de eliminação de picos angulares
Name[uk]=Додаток фільтрування з розгортанням
Name[x-test]=xxFilter - Unwind Pluginxx
Comment=Implements an angle unwind Filter Plugin for Kst.
Comment[fr]=Implémente un module de filtre de déroulage d'angle pour Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados para a remoção de picos angulares no Kst.
Comment[pt_BR]=Implementa um plugin de objetos de dados para remoção de picos angulares no Kst.
Comment[uk]=Реалізує додаток для фільтрування з розгортанням за кутом у Kst.
Comment[x-test]=xxImplements an angle unwind Filter Plugin for Kst.xx
