[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=kstobject_testplugin
X-Kst-Plugin-Author=The University of Toronto
Name=Test Plugin
Name[ca]=Connector de prova
Name[da]=Testplugin
Name[de]=Testmodul
Name[el]=Πρόσθετο ελέγχου
Name[es]=Plugin de pruebas
Name[et]=Testplugin
Name[ga]=Breiseán Tástála
Name[is]=Prófunar íforrit
Name[it]=Plugin di prova
Name[nl]=Testplugin
Name[pt]='Plugin' de Teste
Name[sv]=Testinsticksprogram
Name[vi]=Bổ sung thử ra
Comment=A test of new data object plugin system.
Comment[ca]=Un connector del sistema per provar objectes nous de dades.
Comment[da]=En test af det nye pluginsystem for dataobjekter.
Comment[de]=Ein Test des neuen Datenobjekt-Modul Systems.
Comment[el]=Ένας έλεγχος ενός νέου αντικειμένου δεδομένου του συστήματος προσθέτων.
Comment[es]=Una prueba para un nuevo sistema de plugins para objetos de datos.
Comment[et]=Uue andmeobjektiplugina süsteemi test.
Comment[it]=Una prova del nuovo sistema di plugin di oggetti di dati.
Comment[nl]=Een test van een nieuw pluginsysteem voor een gegevensobject.
Comment[pt]=Um teste do novo sistema de 'plugins' de objectos de dados.
Comment[pt_BR]=Um teste de um novo sistema de plugin para objetos de dados.
Comment[sv]=En test av det nya insticksprogramsystemet för dataobjekt.
Comment[vi]=Việc thử ra hệ thống bổ sung đối tượng mới.
