[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=naddirect
X-Kst-Plugin-Author=Staikos Computing Services Inc.
Name=Direct NAD plugin
Name[ca]=Connector NAD directe
Name[cs]=Modul Direct NAD
Name[da]=Direkte NAD-plugin
Name[de]=Direkt NAD Modul
Name[el]=Πρόσθετο Direct NAD
Name[es]=Plugin NAD directo
Name[ga]=Breiseán Díreach NAD
Name[gl]=Plugin para Direct NAD
Name[hr]=Izravni NAD dodatak
Name[is]=Direct NAD íforrit
Name[it]=Plugin Direct NAD
Name[ja]=ダイレクト NAD プラグイン
Name[nl]=Directe NAD-plugin
Name[pa]=ਡਰੈਕਟ NAD ਪਲੱਗਇਨ
Name[pt]='Plugin' NAD Directo
Name[sv]=Direkt NAD-insticksprogram
Name[vi]=Bổ sung NAD trực tiếp
Comment=Plugin for the NAD distributed data distribution service without local caching
Comment[ca]=Conector pel servei de distribució de dades distribuides NAD sense memòria cau local
Comment[cs]=Modul pro NAD službu distribuce dat bez lokálního kešování
Comment[da]=Plugin for den distribuerede datadistributionstjeneste NAD uden lokal cache
Comment[de]=Modul für den NAD verteilte Datenverteildienst ohne lokalen Zwischenspeicher
Comment[el]=Πρόσθετο για την υπηρεσία διανομής δεδομένων NAD χωρίς χρήση τοπικής λανθάνουσας μνήμης
Comment[es]=Plugin para el servicio de distribución de datos NAD sin "caché" local
Comment[et]=Hajusandmete jaotusteenuse NAD plugin kohaliku puhvrita
Comment[gl]=Plugin para o servizo de distribuizón de dados distribuidos NAD sen caché local
Comment[hr]=Doadtak za NAD uslugu distribucije podataka bez lokalne pohrane
Comment[is]=Íforrit til að meðhöndla NAD dreifgagnaþjónustu án staðbundinnar skyndivistunar
Comment[it]=Plugin per il servizio di distribuzione di dati NAD senza memorizzazione locale
Comment[nl]=Plugin voor het gebruik van de NAD-gegevens zonder die lokaal te bufferen
Comment[pt]='Plugin' para o serviço distribuído de difusão de dados NAD sem 'cache' local
Comment[pt_BR]=Plugin para o serviço de distribuição de dados NAD distribuido sem armazenagem local
Comment[sv]=Insticksprogram för den distribuerade datadistributionstjänsten NAD utan lokal lagring
Comment[vi]=Bổ sung cho dịch vụ phân phối dữ liệu đã phát hành NAD không có khả năng lưu tạm cục bộ
