[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=syncbin
X-Kst-Plugin-Author=The University of Toronto
Name=Sync Bin Data Object Plugin
Name[bs]=Dodatak sinhornizacije grupe objekta podatka
Name[ca]=Connector d'objecte de dades classificades sincronitzades
Name[ca@valencia]=Connector d'objecte de dades classificades sincronitzades
Name[de]=Datenobjekt-Modul für den Abgleich binärer Daten
Name[el]=Πρόσθετο αντικειμένων δυαδικών δεδομένων συγχρονισμού
Name[en_GB]=Sync Bin Data Object Plugin
Name[es]=Complemento de objeto de datos binarios de sincronización
Name[fr]=Module DataObject de classement synchrone (sync bin)
Name[gl]=Complemento de obxecto de datos de contedor de sincronización
Name[it]=Estensione oggetto dati di collocazione sincronici
Name[nl]=Sync Bin Data Object Plugin
Name[pl]=Wtyczka obiektu danych synchronizacji przedziału
Name[pt]='Plugin' de Objecto de Dados Compartimentados Sincronizados
Name[pt_BR]=Plugin de objeto de dados compartimentados sincronizados
Name[sv]=Synkront intervalldataobjekt-insticksprogram
Name[uk]=Додаток для роботи з об’єктами синхронізованих комбінацій даних
Name[x-test]=xxSync Bin Data Object Pluginxx
Comment=Implements a Sync Bin Data Object Plugin for Kst.
Comment[bs]=Implementira dodatak sinhornizacije grupe objekta podatka za Kst.
Comment[ca]=Implementa un connector d'objecte de dades classificades sincronitzades pel Kst.
Comment[ca@valencia]=Implementa un connector d'objecte de dades classificades sincronitzades pel Kst.
Comment[de]=Implementiert ein Datenobjekt-Modul für den Abgleich binärer für Kst.
Comment[el]=Υλοποιεί ένα πρόσθετο για αντικείμενα δυαδικών δεδομένων συγχρονισμού για το Kst.
Comment[en_GB]=Implements a Sync Bin Data Object Plugin for Kst.
Comment[es]=Implementa un complemento de objeto de datos binarios de sincronización para Kst.
Comment[fr]=Implémente un module DataObject de classement synchrone (sync bin) pour Kst.
Comment[gl]=Realiza un complemento de obxecto de datos de contedor de sincronización para Kst.
Comment[it]=Implementa un'estensione oggetti dati di collocazione sincronica per Kst.
Comment[nl]=Implementeert een plugin voor een gegevensobject in Kst voor syncen van klassen.
Comment[pl]=Implementuje wtyczkę obiektu danych synchronizacji przedziału dla Kst.
Comment[pt]=Implementa um 'plugin' de objecto de dados compartimentados sincronizados para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados compartimentados sincronizados para o Kst.
Comment[sv]=Implementerar ett Kst synkront intervalldataobjekt-insticksprogram.
Comment[uk]=Реалізує додаток для роботи з об’єктами синхронізованих комбінацій даних у Kst.
Comment[x-test]=xxImplements a Sync Bin Data Object Plugin for Kst.xx
