[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=syncbin
X-Kst-Plugin-Author=The University of Toronto
Name=Sync Bin Data Object Plugin
Name[ca]=Connector d'objecte de dades classificades sincronitzades
Name[de]=Datenobjekt-Modul für den Abgleich binärer Daten
Name[fr]=Module DataObject de classement synchrone (sync bin)
Name[nl]=Plug-in voor object met sync-binaire gegevens
Name[pt]='Plugin' de Objecto de Dados Compartimentados Sincronizados
Name[pt_BR]=Plugin de objeto de dados compartimentados sincronizados
Name[sv]=Synkront intervalldataobjekt-insticksprogram
Name[uk]=Додаток для роботи з об’єктами синхронізованих двійкових даних
Name[x-test]=xxSync Bin Data Object Pluginxx
Comment=Implements a Sync Bin Data Object Plugin for Kst.
Comment[ca]=Implementa un connector d'objecte de dades classificades sincronitzades pel Kst.
Comment[de]=Implementiert ein Datenobjekt-Modul für den Abgleich binärer für Kst.
Comment[fr]=Implémente un module DataObject de classement synchrone (sync bin) pour Kst.
Comment[nl]=Implementeert een plug-in voor object met sync-binaire gegevens voor Kst.
Comment[pt]=Implementa um 'plugin' de objecto de dados compartimentados sincronizados para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados compartimentados sincronizados para o Kst.
Comment[sv]=Implementerar ett Kst synkront intervalldataobjekt-insticksprogram.
Comment[uk]=Реалізує додаток для роботи з об’єктами синхронізованих двійкових даних у Kst.
Comment[x-test]=xxImplements a Sync Bin Data Object Plugin for Kst.xx
