[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=dmc
X-Kst-Plugin-Author=The University of Toronto
Name=PLANCK DMC Plugin
Name[bs]=PLANCK DMC dodatak
Name[ca]=Connector DMC de PLANCK
Name[ca@valencia]=Connector DMC de PLANCK
Name[de]=PLANCK-DMC-Modul
Name[el]=PLANCK DMC Plugin
Name[en_GB]=PLANCK DMC Plugin
Name[es]=Complemento PLANCK DMC
Name[et]=PLANCK DMC plugin
Name[fr]=Module « PLANCK DMC »
Name[gl]=Complemento de PLANCK DMC
Name[hu]=PLANCK DMC bővítmény
Name[it]=Estensione di PLANCK DMC
Name[nb]=PLANCK DMC-tillegg
Name[nl]=PLANCK DMC plug-in
Name[pl]=Wtyczka PLANCK DMC
Name[pt]=Plugin de DMC do PLANCK
Name[pt_BR]=Plugin de DMC do PLANCK
Name[sk]=Plugin PLANCK DMC
Name[sl]=Vtičnik PLANCK DMC
Name[sv]=PLANCK DMC-insticksprogram
Name[uk]=Додаток PLANCK DMC
Name[x-test]=xxPLANCK DMC Pluginxx
Comment=Plugin to read PLANCK DMC data.
Comment[bs]=Dodatak za čitanje PLANCK DMC podataka.
Comment[ca]=Connector per a llegir les dades DMC de PLANCK.
Comment[ca@valencia]=Connector per a llegir les dades DMC de PLANCK.
Comment[de]=Modul zum Lesen von PLANCK-DMC-Daten
Comment[el]=Πρόσθετο για την ανάγνωση PLANCK DMC δεδομένων
Comment[en_GB]=Plugin to read PLANCK DMC data.
Comment[es]=Complemento para leer datos PLANCK DMC.
Comment[et]=Plugin PLANCK DMS andmete lugemiseks.
Comment[fr]=Module pour lire les données « PLANCK DMC ».
Comment[gl]=Complemento para ler datos de PLANCK DMC.
Comment[hu]=Bővítmény a PLANCK DMC adatok olvasásához.
Comment[it]=Estensione per leggere i dati di PLANCK DMC
Comment[nb]=Programtillegg som leser PLANCK DMC-data.
Comment[nl]=Plug-in voor het lezen van PLANCK DMC-gegevens.
Comment[pl]=Wtyczka do odczytywania danych PLANCK DMC.
Comment[pt]=Um 'plugin' para ler os dados DMC do PLANCK.
Comment[pt_BR]=Plugin para ler os dados DMC do PLANCK.
Comment[sk]=Plugin na čítanie údajov PLANCK DMC.
Comment[sl]=Vtičnik za branje podatkov PLANCK DMC.
Comment[sv]=Insticksprogram för att läsa en PLANCK DMC-data.
Comment[uk]=Додаток для читання даних PLANCK DMC.
Comment[x-test]=xxPlugin to read PLANCK DMC data.xx
