[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=dmc
X-Kst-Plugin-Author=The University of Toronto
Name=PLANCK DMC Plugin
Name[ca]=Connector DMC de PLANCK
Name[de]=PLANCK-DMC-Modul
Name[fr]=Module PLANCK DMC
Name[hu]=PLANCK DMC bővítmény
Name[it]=Estensione di PLANCK DMC
Name[nl]=Plug-in voor PLANCK DMC
Name[pt]=Plugin de DMC do PLANCK
Name[pt_BR]=Plugin de DMC do PLANCK
Name[sk]=Plugin PLANCK DMC
Name[sv]=PLANCK DMC-insticksprogram
Name[uk]=Додаток PLANCK DMC
Name[x-test]=xxPLANCK DMC Pluginxx
Comment=Plugin to read PLANCK DMC data.
Comment[ca]=Connector per llegir dades DMC de PLANCK.
Comment[de]=Modul zum Lesen von PLANCK-DMC-Daten
Comment[fr]=Module pour lire les données PLANCK DMC.
Comment[hu]=Bővítmény a PLANCK DMC adatok olvasásához.
Comment[it]=Estensione per leggere i dati di PLANCK DMC
Comment[nl]=Plugin voor het lezen van PLANCK DMC-gegevens.
Comment[pt]=Um 'plugin' para ler os dados DMC do PLANCK.
Comment[pt_BR]=Plugin para ler os dados DMC do PLANCK.
Comment[sk]=Plugin na čítanie údajov PLANCK DMC.
Comment[sv]=Insticksprogram för att läsa en PLANCK DMC-data.
Comment[uk]=Додаток для читання даних PLANCK DMC.
Comment[x-test]=xxPlugin to read PLANCK DMC data.xx
