[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=deconvolve
X-Kst-Plugin-Author=The University of Toronto
Name=Deconvolve Data Object Plugin
Name[ca]=Connector d'objecte de dades de desconvolució
Name[de]=Dekonvolutions-Datenobjekt-Modul
Name[fr]=Module DataObject de déconvolution
Name[nl]=Plug-in voor object met deconvolve-gegevens
Name[pt]='Plugin' de Objectos de Dados de Desconvolução
Name[pt_BR]=Plugin de objeto de dados de desconvolução
Name[sv]=Dataobjekt-insticksprogram för dekonvolution
Name[uk]=Додаток для роботи з об’єктами розгорнутих даних
Name[x-test]=xxDeconvolve Data Object Pluginxx
Comment=Implements a Deconvolve Data Object Plugin for Kst.
Comment[ca]=Implementa un connector d'objecte de dades de desconvolució pel Kst.
Comment[de]=Implementiert ein Dekonvolutions-Datenobjekt-Modul für Kst.
Comment[fr]=Implémente un module DataObject de déconvolution pour Kst.
Comment[nl]=Implementeert een plug-in voor object met deconvolve-gegevens voor Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de desconvolução para o Kst.
Comment[pt_BR]=Implementa um plugin de objeto de dados de desconvolução para o Kst.
Comment[sv]=Implementerar ett Kst dataobjekt-insticksprogram för dekonvolution.
Comment[uk]=Реалізує додаток для роботи з об’єктами розгорнутих даних у Kst.
Comment[x-test]=xxImplements a Deconvolve Data Object Plugin for Kst.xx
