[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=deconvolve
X-Kst-Plugin-Author=The University of Toronto
Name=Deconvolve Data Object Plugin
Name[pt]='Plugin' de Objectos de Dados de Desconvolução
Name[uk]=Додаток для роботи з об’єктами розгорнутих даних
Name[x-test]=xxDeconvolve Data Object Pluginxx
Comment=Implements a Deconvolve Data Object Plugin for Kst.
Comment[pt]=Implementa um 'plugin' de objectos de dados de desconvolução para o Kst.
Comment[uk]=Реалізує додаток для роботи з об’єктами розгорнутих даних у Kst.
Comment[x-test]=xxImplements a Deconvolve Data Object Plugin for Kst.xx
