[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=deconvolve
X-Kst-Plugin-Author=The University of Toronto
Name=Deconvolve Data Object Plugin
Comment=Implements a Deconvolve Data Object Plugin for Kst.
