[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Source
X-KDE-ModuleType=Plugin
X-KDE-Library=bissource
X-Kst-Plugin-Author=C. Barth Netterfield
Name=Bit Image Stream Reader
Name[ca]=Lector de fluxos d'imatges BIT
Name[el]=Ανάγνωση ροής δυαδικών εικόνων
Name[en_GB]=Bit Image Stream Reader
Name[es]=Lector de flujos de imágenes de bits
Name[nl]=Streamleesprogramma van BIT-image
Name[pl]=Czytnik strumienia obrazów bitowych
Name[pt]=Leitor de Fontes de Imagens Bit
Name[pt_BR]=Leitor de Fontes de Imagens Bit
Name[sv]=Strömläsare av bitavbildning
Name[uk]=Засіб читання Bit Image Stream
Name[x-test]=xxBit Image Stream Readerxx
